<div
    role="complementary"
    data-view="map"
    data-focus="{{#scope}}{{@id}}{{/scope}}"
    class="color-scheme-map column-medium"
>
    <div class="hidden">
        <a href="/aggregation/" class="hijax transclude map-view-hidden" target="_self">Aggregations</a>
    </div>
</div>

<div role="main" class="column column-medium color-scheme-text bg-blue-palest">
    <div class="column-container">

        {{#scope}}

            <div>

                <script type="application/ld+json">
                    {{json .}}
                </script>

                <div class="resource-header">

                    <h1 class="resource-title">
                        {{getIcon @type}}
                        {{i18n @id}}
                    </h1>

                </div>

                {{#localized description}}
                    <p>{{{[@value]}}}</p>
                {{/localized}}

                {{nestedAggregation aggregation.services}}

            </div>

        {{/scope}}

    </div>
</div>
