{{#scope}}

    <div>

        <script type="application/ld+json">
            {{json .}}
        </script>

        <div class="resource-header">

            <h1 class="resource-title">
                {{getIcon @type}}
                {{i18n @id}}
            </h1>

        </div>

        {{#localized description}}
            <p>{{{[@value]}}}</p>
        {{/localized}}

        {{nestedAggregation aggregation.services}}

    </div>

{{/scope}}
