<div class="resource-form-widget" data-behaviour="availableChannel" data-key="{{property_path}}">

    <h4>{{title}}{{#tooltip}} <i class="fa fa-question-circle" title="{{.}}"></i>{{/tooltip}}</h4>

    {{#property}}
        <fieldset>
            <legend>{{title}}</legend>
            {{input (stringFormat "%s[%s][serviceUrl]" property_path @index) serviceUrl input_type="url"}}
            <ul title="{{i18n 'ResourceIndex.ServiceChannel.edit.avaliableLanguage'}}" class="multiple-list">
                {{#availableLanguage}}
                    <li class="multiple-one">{{input (stringFormat "%s[%s][availableLanguage][%s]" property_path ../@index @index) .}}</li>
                {{/availableLanguage}}
                <li class="multiple-one">{{input (stringFormat "%s[%s][availableLanguage][%s]" property_path @index (size availableLanguage)) ""}}</li>
            </ul>
        </fieldset>
    {{/property}}
    {{^property}}
        <fieldset>
            <legend>{{title}}</legend>
            {{input (stringFormat "%s[0][serviceUrl]" property_path)  "" input_type="url"}}
            <ul title="{{i18n 'ResourceIndex.ServiceChannel.edit.avaliableLanguage'}}" class="multiple-list">
                <li class="multiple-one">{{input (stringFormat "%s[0][availableLanguage][0]" property_path) ""}}</li>
            </ul>
        </fieldset>
    {{/property}}

</div>
