{{#property}}
    <fieldset>
        <legend>Available Channel</legend>
        {{input (stringFormat "%s[%s][serviceUrl]" key @index) serviceUrl type="url"}}
        <ul title="Available language">
            {{#availableLanguage}}
                <li>{{input (stringFormat "%s[%s][availableLanguage][%s]" key ../@index @index) .}}</li>
            {{/availableLanguage}}
            <li>{{input (stringFormat "%s[%s][availableLanguage][%s]" key @index (size availableLanguage)) ""}}</li>
        </ul>
    </fieldset>
{{/property}}
{{^property}}
    <fieldset>
        <legend>Available Channel</legend>
        {{input (stringFormat "%s[0][serviceUrl]" key)  "" type="url"}}
        <ul title="Available language">
            <li>{{input (stringFormat "%s[0][availableLanguage][0]" key) ""}}</li>
        </ul>
    </fieldset>
{{/property}}