<div data-app="to-modal-on-load" data-dont-behave>

    <h1 class="modal-title">{{i18n "UserIndex.groups.title"}}</h1>

    <form method="post" action="/user/groups">
        <table class="table">
            <tr><th>{{i18n "UserIndex.groups.group"}}</th><th>{{i18n "UserIndex.groups.users"}}</th></tr>
            {{#each scope.groups}}
                <tr>
                    <td>{{[@key]}}</td>
                    <td>
                        <ul>
                            {{#each .}}
                                <li>
                                    <input name="{{../[@key]}}[{{[@key]}}]" type="checkbox"{{#if .}} checked="checked"{{/if}}>
                                    {{[@key]}}
                                </li>
                            {{/each}}
                        </ul>
                    </td>
                </tr>
            {{/each}}
        </table>

        <div class="container-top-line text-center">
            <button class="btn btn-default" type="submit">
                <span class="loading-indicator"><i class="fa fa-spinner fa-pulse"></i></span>
                {{i18n "UserIndex.groups.save"}}
            </button>
            <button class="btn btn-default" data-dismiss="modal">
                {{i18n "cancel"}}
            </button>
        </div>
    </form>

</div>
