<div data-app="to-modal-on-load" data-dont-behave>

    <form action="/user/newsletter" method="post" class="text-center">

        <h1 class="modal-title">{{i18n "UserIndex.newsletter.newsletterSignupTitle"}}</h1>

        <p>{{i18n "UserIndex.newsletter.newsletterSignupCall"}}</p>

        {{#messages.size}}
            <ul id="messages">
            {{#messages}}
                <li class="message {{level}}">
                    <div class="alert alert-{{level}}" role="alert">{{{message}}}</div>
                </li>
            {{/messages}}
            </ul>
        {{/messages.size}}

        <div class="messages alert alert-danger"></div>

        <input type="hidden" name="@type" value="Person" />

        <div class="form-group">
            <label class="sr-only" for="register-email">{{i18n "UserIndex.newsletter.emailAddress"}}</label>
            <input type="email" name="email" required id="register-email" class="form-control" value="{{scope.user.email}}" placeholder="{{i18n "UserIndex.newsletter.placeholderEmail"}}" />
        </div>

        <p>{{{i18n "UserIndex.newsletter.newsletterSignupPriv"}}}</p>

        <div class="container-top-line">
            <button class="btn btn-default" type="submit">
                <span class="loading-indicator"><i class="fa fa-spinner fa-pulse"></i></span>
                {{i18n "UserIndex.newsletter.subscribe"}}
            </button>
            <button class="btn btn-default" data-dismiss="modal">
                {{i18n "cancel"}}
            </button>
        </div>

    </form>

</div>
