<div data-app="to-modal-on-load">

    <h1>Set password</h1>

    <form action="/user/password" method="post">

        <input type="hidden" name="@type" value="Person">
        <label>
            Current password: <input name="password" type="password">
        </label>

        <label>
            New password: <input name="password-new" type="password">
        </label>

        <label>
            Confirm new password: <input name="password-confirm" type="password">
        </label>

        <button type="submit">Set password</button>

    </form>

</div>
