<div data-app="to-modal-on-load" data-dont-behave>

    <div class="text-center">

        <form action="/user/password" method="post">

            <h1 class="modal-title">{{i18n "UserIndex.password.changePassword"}}</h1>

            <p>{{i18n "UserIndex.password.message"}}</p>

            <div class="messages alert alert-danger"></div>

            <input type="hidden" name="@type" value="Person">

            <div class="form-group">
                <label class="sr-only" for="change-pw-password">{{i18n "UserIndex.password.currentPassword"}}</label>
                <input type="password" name="password" class="form-control" id="change-pw-password" placeholder="{{i18n 'UserIndex.password.currentPassword'}}">
            </div>

            <div class="form-group">
                <label class="sr-only" for="change-pw-password-new">{{i18n "UserIndex.password.newPassword"}}</label>
                <input type="password" name="password-new" class="form-control" id="change-pw-password-new" placeholder="{{i18n 'UserIndex.password.newPassword'}}">
            </div>

            <div class="form-group">
                <label class="sr-only" for="change-pw-password-confirm">{{i18n "UserIndex.password.confirmPassword"}} password</label>
                <input type="password" name="password-confirm" class="form-control" id="change-pw-password-confirm" placeholder="{{i18n 'UserIndex.password.confirmPassword'}}">
            </div>

            <button type="submit" class="btn btn-default">{{i18n "UserIndex.password.setPassword"}}</button>

        </form>

    </div>

</div>
