<div data-app="to-modal-on-load">
    <div class="text-center">

        <form action="/user/password" method="post">

            <h1 class="modal-title">Change Password</h1>

            <p>Enter your current and desired password. After hitting the button you will be logged out.</p>

            <div class="messages alert alert-danger"></div>

            <input type="hidden" name="@type" value="Person">

            <div class="form-group">
                <label class="sr-only" for="change-pw-password">Current password</label>
                <input type="password" name="password" class="form-control" id="change-pw-password" placeholder="Current password">
            </div>

            <div class="form-group">
                <label class="sr-only" for="change-pw-password-new">New password</label>
                <input type="password" name="password-new" class="form-control" id="change-pw-password-new" placeholder="New password">
            </div>

            <div class="form-group">
                <label class="sr-only" for="change-pw-password-confirm">Confirm password</label>
                <input type="password" name="password-confirm" class="form-control" id="change-pw-password-confirm" placeholder="Confirm password">
            </div>

            <button type="submit" class="btn btn-default">Set password</button>

        </form>

    </div>
</div>
