<div class="text-center">

    {{#if scope.newsletter}}
        <p>
            {{i18n "UserIndex.registered.successfullyRegistere"}} <strong>{{scope.username}}</strong>. {{i18n "UserIndex.registered.sentMessageNewsletter"}}
        </p>
    {{else}}
        <p>
            {{i18n "UserIndex.registered.successfullyRegistere"}} <strong>{{scope.username}}</strong>. {{i18n "UserIndex.registered.sentMessage"}}
        </p>
    {{/if}}

</div>
