<div data-app="to-modal-on-load">

    <form action="/.login" method="post">

        <h1>Login</h1>

        <label>
            Email: <input name="email">
        </label>

        <label>
            Password: <input name="password" type="password">
        </label>

        <button data-behaviour="login">Login</button>

    </form>

    <form action="/user/register" method="post">

        <h1>Register</h1>

        <input type="hidden" name="@type" value="Person">

        <label>
            Email: <input name="email">
        </label>

        <label>
            Password: <input name="password" type="password">
        </label>

        <label>
            Repeat password: <input name="password-confirm" type="password">
        </label>

        <button type="submit">Register</button>

    </form>

    <form action="/user/password" method="post">

        <h1>Forgot password?</h1>

        <input type="hidden" name="@type" value="Person">

        <label>
            Email: <input name="email">
        </label>

        <button type="submit">Reset password</button>

    </form>

</div>
