<div class="text-center">

    {{#if scope.newsletter}}
        <p>
            Successfully registered user <strong>{{scope.username}}</strong>. We just sent you two emails with verification links for the registration and the newsletter. Check your inbox.
        </p>
    {{else}}
        <p>
            Successfully registered user <strong>{{scope.username}}</strong>. We just sent you an email with a verification link. Check your inbox.
        </p>
    {{/if}}

</div>
