<div data-app="to-modal-on-load">
    <div class="text-center">

        <p>
            User {{scope.username}} verified. When you click the login button your browser will present you a popup where you can enter your email address and password.
        </p>

        <a class="btn btn-default" href="/.login">Login</a>

    </div>
</div>
