<div data-app="to-modal-on-load" data-dont-behave>

    <div class="text-center">

        <p>
            User <strong>{{scope.username}}</strong> verified. Please sign in using your email address and password. Afterwards you may edit your personal profile using the drop down menu in the upper right corner.
        </p>

        <a class="btn btn-default" href="/.login">Login</a>

    </div>

</div>
