<div data-app="to-modal-on-load" data-dont-behave>
    {{#scope}}
    <div class="text-center">

        <p>
           {{{stringFormat (i18n "UserIndex.verified.message") username}}} 
        </p>

        <h2>{{i18n "UserIndex.verified.shareThis"}}</h2>
        <div class="container-top-line">
            <a class="icon-btn icon-btn-lg" title="{{i18n 'via'}} Twitter" href="https://twitter.com/intent/tweet?text={{i18n 'UserIndex.verified.signedMessage'}}&url={{encodeURIComponent url}}&hashtags=oerworldmap&via=oerworldmap" target="_blank"><i class="fa fa-twitter"></i></a>
            <a class="icon-btn icon-btn-lg" title="{{i18n 'via'}} Facebook" href="https://www.facebook.com/sharer.php?u={{encodeURIComponent url}}" target="_blank"><i class="fa fa-facebook"></i></a>
            <a class="icon-btn icon-btn-lg" title="{{i18n 'via'}} Email" href="mailto:?subject={{i18n 'UserIndex.verified.signedMessage'}}&body={{encodeURIComponent url}}" class="icon-btn"><i class="fa fa-envelope"></i></a>
        </div>

        <div class="container-top-line">
            <a class="btn btn-default" href="/.login?continue=/resource/{{id}}">{{i18n "login"}}</a>
        </div>

    </div>
    {{/scope}}
</div>
