<div class="blog-post-preview blank-line" id="blog-latest-post-preview">
  <p>
    <strong><a href="{{post.link}}">Latest Post: {{post.title}}</a></strong><br />
    {{post.contentSnippet}}
  </p>
</div>