<div data-behaviour="splash">

    <h1>Welcome to the OER World Map</h1>

    <p>
        Our goal is to provide the most complete and comprehensive picture of the global OER movement and to develop a global network of partners and volunteers to guarantee ongoing data curation. We currently gather data about people, organizations, services, projects and events related to OER.
    </p>

    <p>
        You can search our database <a href="/resource/">here</a>.
    </p>

    <p>
        If you have data you believe is relevant, please consider to <a href="/contribute">contribute</a>!
    </p>

</div>


<div class="call-for-actions">

    <div class="call-for-actions-table">
        <div class="call-for-actions-row">
            <a href="/contribute" class="call-for-action">Share<br>your<br>Story</a>
        </div>
    </div>

    <div class="call-for-actions-table">
        <div class="call-for-actions-row">
            <a href="/newsletter" class="call-for-action">Register for News&shy;letter</a>
        </div>
    </div>

</div>
