<div data-app="notification notification-dismissable" id="welcome">

    <h1>Welcome to the OER World Map</h1>

    <p class="lead">
        Our goal is to provide the most complete and comprehensive picture of the global OER movement and to develop a global network of partners and volunteers to guarantee ongoing data curation. We currently gather data about people, organizations, services, projects and events related to OER.
    </p>

    <p>
        If you have data you believe is relevant, please consider to <a href="/contribute">contribute</a>!
    </p>


    <h2>Currently on the OER World Map</h2>

    {{#scope.typeAggregation.[about.@type]}}
        <table class="table">
            <tbody>
            {{#buckets}}
                <tr>
                    <td>{{doc_count}}</td>
                    <td>{{getIcon key}}
                        <a href="/resource/?filter.about.@type={{key}}">{{i18n key}}</a>
                    </td>
                </tr>
            {{/buckets}}
            </tbody>
        </table>
    {{/scope.typeAggregation.[about.@type]}}

    <h2>Recent additions</h2>

    <ul class="resource-list">
        {{#scope.resources.member}}
            <li>
                {{>ResourceIndex/link.mustache}}
            </li>
        {{/scope.resources.member}}
    </ul>

</div>
