<div role="complementary" class="color-scheme-map column large" data-view="map">
    
    <div class="call-for-actions">
      <div class="call-for-actions-table">
        <div class="call-for-actions-row">
          <a href="/contribute" class="call-for-action">Share<br>your<br>Story</a>
        </div>
      </div>
      <div class="call-for-actions-table">
        <div class="call-for-actions-row">
          <a href="#user-register" class="call-for-action">Register for News&shy;letter</a>
        </div>
      </div>
      <section id="user-register" class="map-view-hidden">
        <a href="#" data-action="close"><i class="fa fa-lg fa-times"></i></a>
        <a href="/user/" class="hijax transclude" target="_self">{{i18n.register}}</a>
      </section>
    </div>

    <a href="/aggregation/" class="hijax transclude map-view-hidden" target="_self">Aggregations</a>

</div>

<div role="main" class="color-scheme-text list-view column small">
    <a href="/resource/?sort=dateCreated:desc" class="hijax transclude map-view-hidden" target="_self">{{i18n.resource_list}}</a>
</div>

<footer>
</footer>
