{{moment "2016-12-12" "YY, MM dd"}}

<ul class="calendar" data-app="link-to-fragment" data-behaviour="linkedListEntries">

    {{#each scope.resources.aggregations.calendar.buckets.[0].[about.startDate].buckets}}

        <li>
            <h4 class="month">{{key_as_string}}</h4>
            <ul class="days">

                {{#each [about.@id].hits.hits}}
                    {{#_source.about}}

                        <li about="{{_id}}">
                            <a href="/resource/{{_id}}">
                                <div class="sheet">
                                    <div class="day">23</div>
                                    <div class="weekday">WED</div>
                                </div>
                                <div class="name">
                                    {{#localized name language=@root.language}}
                                        {{[@value]}}
                                    {{else}}
                                        {{[@id]}}
                                    {{/localized}}
                                </div>
                                <div class="date-location">
                                    9.-12. November – {{location "city_country" location}}
                                </div>
                            </a>
                        </li>

                    {{/_source.about}}
                {{/each}}

            </ul>
        </li>

    {{/each}}

</ul>

<pre>{{json scope.resources.aggregations.calendar.buckets.[0].[about.startDate].buckets}}</pre>
