<div data-app="to-modal-on-load" data-dont-behave>

    <h1 class="modal-title text-center">Recent Additions</h1>

    <ul class="resource-list">
        {{#scope.resources.member}}
            {{#about}}
            <li>
                {{>ResourceIndex/link.mustache}}
            </li>
            {{/about}}
        {{/scope.resources.member}}
    </ul>

    <a href="/resource/?sort=dateCreated:desc">more</a>

</div>
