<span class="resource">
    {{getIcon @type}}
    <a href="{{#if fragment}}#{{@id}}{{else}}/resource/{{@id}}{{/if}}">
        {{#localized this.displayName language=@root.language}}
            {{[@value]}}
        {{else}}
            {{#localized this.name language=@root.language}}
                {{[@value]}}
            {{else}}
                {{[@id]}}
            {{/localized}}
        {{/localized}}
    </a>
</span>
