<ul id="list" class="resource-list truncated" data-app="link-to-fragment" data-behaviour="linkedListEntries populateMap">

    <script type="application/ld+json">
        {{json (unwrapResources scope.resources.member)}}
    </script>
    {{#scope.resources.member}}
        {{#about}}
            <li about="{{@id}}">
                {{>ResourceIndex/link.mustache}}
            </li>
        {{/about}}
    {{/scope.resources.member}}

</ul>
