<ul id="list" class="resource-list truncated" data-app="link-to-fragment" data-behaviour="linkedListEntries populateMap">

    <script type="application/ld+json">
        {{{scope.resources.member}}}
    </script>

    {{#scope.resources.member}}
        <li about="{{@id}}">
          {{>ResourceIndex/link.mustache}}
        </li>
    {{/scope.resources.member}}

</ul>
