<ul id="list" class="resource-list truncated" data-app="link-to-fragment" data-behaviour="linkedListEntries">

    <script type="application/ld+json">
        {{ json scope.resources.member }}
    </script>
    {{#scope.resources.member}}
        {{#about}}
            <li about="{{@id}}">
                <span class="resource">
                    {{getIcon @type}}
                    <a href="/resource/{{@id}}">
                        {{#localized this.name language=@root.language}}
                            {{[@value]}}
                        {{else}}
                            {{[@id]}}
                        {{/localized}}
                        {{#localized this.alternateName language=@root.language}}
                            ({{[@value]}})
                        {{/localized}}
                    </a>
                </span>
            </li>
        {{/about}}
    {{/scope.resources.member}}

</ul>
