<ul class="resource-list" data-behaviour="linkedListEntries populateMap">

    <script type="application/ld+json">
        {{{scope.resources.member}}}
    </script>
    {{#scope.resources.member}}
        <li about="{{@id}}">
          {{> (stringFormat "ResourceIndex/%s/link.mustache" @type) }}
        </li>
    {{/scope.resources.member}}
    
</ul>