<div class="">

    {{#scope}}

        {{#resource.about}}

            <ul class="resource-controls">

                {{#if ../permissions.edit}}
                    <li>
                        <a href="#resource-edit" class="icon-btn" data-app="to-modal-and-attach-behaviours modal-protected">
                            <i class="fa fa-pencil"></i>
                        </a>
                    </li>
                {{/if}}

                <li class="dropdown">
                    <button type="button" class="icon-btn" data-toggle="dropdown" title="Share and Export">
                        <i class="fa fa-gear"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="#resource-share-detail" data-app="to-modal-and-attach-behaviours">Share <i class="fa fa-fw fa-share"></i></a></li>
                        <li><a href="#resource-export-detail" data-app="to-modal-and-attach-behaviours">Export <i class="fa fa-fw fa-arrow-circle-o-right"></i></a></li>
                        <li><button onclick="return window.print();">Print <i class="fa fa-fw fa-file-text-o"></i></button></li>
                        {{#if ../permissions.delete}}
                            <li><a data-behaviour="delete-resource" href="/resource/{{[@id]}}">Delete <i class="fa fa-fw fa-trash"></i></a></li>
                        {{/if}}
                    </ul>
                </li>

            </ul>

            <article class="resource" data-behaviour="populateMapHightlights" about="{{[@id]}}">

                <script type="application/ld+json">
                    {{{.}}}
                </script>

                <div class="resource-header">

                    <div class="topline">
                        {{getIcon [@type]}} <strong>{{i18n [@type]}}</strong>
                        {{#if ../permissions.log}}
                            &nbsp;(last modified <a target="_blank" href="/log/{{[@id]}}">{{moment resource.dateModified "D. MMM YYYY"}}</a>)
                        {{else}}
                            &nbsp;(last modified {{moment resource.dateModified "D. MMM YYYY"}})
                        {{/if}}
                    </div>

                    <h1 class="resource-title">
                        {{#localized name language=@root.language}}
                            {{[@value]}}
                        {{else}}
                            {{[@id]}}
                        {{/localized}}
                    </h1>

                    {{#serviceType}}
                        <div class="resource-subline">
                            <div class="resource-subline-label">Service Type</div>
                            {{.}}
                        </div>
                    {{/serviceType}}

                    {{#additionalType}}
                        <div class="resource-subline">
                            <div class="resource-subline-label">Additional Type</div>
                            {{.}}
                        </div>
                    {{/additionalType}}

                    {{#if creator}}
                        <div class="resource-subline">
                            <div class="resource-subline-label">Contributed</div>{{#dateCreated}} on {{.}} {{/dateCreated}}by
                            <ul class="comma-seperated-list">
                                {{#creator}}
                                    <li>
                                        <a href="/resource/{{@id}}">
                                            {{#localized name language=@root.language}}
                                                {{[@value]}}
                                            {{else}}
                                                {{[@id]}}
                                            {{/localized}}
                                        </a>
                                    </li>
                                {{/creator}}
                            </ul>
                        </div>
                    {{/if}}

                    {{#countryChampionFor}}
                        <div class="resource-subline">
                            {{i18n (stringFormat "%s.countryChampionFor" @type)}}
                            <a href="/country/{{.}}">{{i18n . bundle="countries"}}</a>
                        </div>
                    {{/countryChampionFor}}

                </div>

                {{#image}}
                    <div class="paragraph-image">
                        <a href="{{.}}" target="_blank">
                            <img src="{{.}}" />
                        </a>
                    </div>
                {{/image}}

                {{#localized description language=@root.language}}{{md [@value]}}{{/localized}}

                {{#localized articleBody language=@root.language}}{{md [@value]}}{{/localized}}

                {{#url}}
                    <p>
                        <a href="{{.}}" target="_blank" class="btn btn-default">
                            <i class="fa fa-external-link"></i>
                            {{stripProtocol .}}
                        </a>
                    </p>
                {{/url}}

                {{#availableChannel}}
                    {{#serviceUrl}}
                        <p>
                            <a href="{{.}}" target="_blank" class="btn btn-default">
                                <i class="fa fa-external-link"></i>
                                {{stripProtocol .}}
                            </a>
                        </p>
                    {{/serviceUrl}}
                {{/availableChannel}}

                {{#if license}}
                    <div class="licenses">
                        {{#license}}
                            <img src="{{image}}" alt="{{name.0.[@value]}}" title="{{name.0.[@value]}}" />
                        {{/license}}
                    </div>
                {{/if}}

                <table class="table resource-details-table">

                    {{#if email}}
                        <tr>
                            <td>{{i18n (stringFormat "%s.email" @type)}}</td>
                            <td>
                                <a href="mailto:{{{obfuscate email}}}">{{{obfuscate email}}}</a>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if alternateName}}
                        <tr>
                            <td>{{i18n (stringFormat "%s.alternateName" @type)}}</td>
                            <td>
                                <ul class="comma-seperated-list">
                                    {{#localized alternateName language=@root.language}}
                                        <li>{{[@value]}}</li>
                                    {{/localized}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if hashtag}}
                        <tr>
                            <td>{{i18n (stringFormat "%s.hashtag" @type)}}</td>
                            <td>
                                {{ hashtag }}
                            </td>
                        </tr>
                    {{/if}}

                    {{#if location.address}}
                        <tr>
                            <td>{{i18n (stringFormat "%s.location" @type)}}</td>
                            <td>
                                {{#location}}
                                    {{>ResourceIndex/Place/read.mustache}}
                                {{/location}}
                            </td>
                        </tr>
                    {{/if}}

                    {{#if contactPoint}}
                        <tr>
                            <td>{{i18n (stringFormat "%s.contactPoint" @type)}}</td>
                            <td>
                                <ul class="resource-list">
                                    {{#contactPoint}}
                                        <li>{{>ResourceIndex/link.mustache}}</li>
                                    {{/contactPoint}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if created}}
                        <tr>
                            <td>{{i18n (stringFormat "%s.created" @type)}}</td>
                            <td>
                                <ul class="resource-list">
                                    {{#created}}
                                        <li>{{>ResourceIndex/link.mustache}}</li>
                                    {{/created}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if keywords}}
                        <tr>
                            <td>{{i18n (stringFormat "%s.keywords" @type)}}</td>
                            <td>
                                <ul class="comma-seperated-list">
                                    {{#keywords}}<li><a href='/resource/?filter.about.keywords={{.}} '>{{.}}</a></li>{{/keywords}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}


                    {{#if availableChannel}}
                        <tr>
                            <td>{{i18n "Service.availableChannel.availableLanguage"}}</td>
                            <td>
                                <ul class="comma-seperated-list">
                                    {{#availableChannel}}
                                        {{#availableLanguage}}
                                            <li>{{i18n . bundle = "languages"}}</li>
                                        {{/availableLanguage}}
                                    {{/availableChannel}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{# if audience}}
                        <tr>
                            <td>{{i18n (stringFormat "%s.audience" @type)}}</td>
                            <td>
                                <ul>
                                    {{#each (reduceSkos @root.skos.isced audience)}}
                                        <li>{{> ResourceIndex/Concept/read.mustache . filter="audience"}}</li>
                                    {{/each}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if provider}}
                        <tr>
                            <td>{{i18n (stringFormat "%s.provider" @type)}}</td>
                            <td>
                                <ul class="resource-list">
                                    {{#provider}}
                                        <li>{{>ResourceIndex/link.mustache}}</li>
                                    {{/provider}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if provides}}
                        <tr>
                            <td>{{i18n (stringFormat "%s.provides" @type)}}</td>
                            <td>
                                <ul class="resource-list">
                                    {{#provides}}
                                        <li>{{>ResourceIndex/link.mustache}}</li>
                                    {{/provides}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if about}}
                        <tr>
                            <td>{{i18n (stringFormat "%s.about" @type)}}</td>
                            <td>
                                <ul>
                                    {{#each (reduceSkos @root.skos.esc about)}}
                                        <li>{{> ResourceIndex/Concept/read.mustache . filter="about"}}</li>
                                    {{/each}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if sameAs}}
                        <tr>
                            <td>{{i18n (stringFormat "%s.sameAs" @type)}}</td>
                            <td>
                                <ul class="resource-list">
                                    {{#sameAs}}
                                        <li>{{externalLink .}}</li>
                                    {{/sameAs}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if memberOf}}
                        <tr>
                            <td>{{i18n (stringFormat "%s.memberOf" @type)}}</td>
                            <td>
                                <ul class="resource-list">
                                    {{#memberOf}}
                                        <li>{{>ResourceIndex/link.mustache}}</li>
                                    {{/memberOf}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if member}}
                        <tr>
                            <td>{{i18n (stringFormat "%s.member" @type)}}</td>
                            <td>
                                <ul class="resource-list">
                                    {{#member}}
                                        <li>{{>ResourceIndex/link.mustache}}</li>
                                    {{/member}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if affiliation}}
                        <tr>
                            <td>{{i18n (stringFormat "%s.affiliation" @type)}}</td>
                            <td>
                                <ul class="resource-list">
                                    {{#affiliation}}
                                        <li>{{>ResourceIndex/link.mustache}}</li>
                                    {{/affiliation}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if affiliate}}
                        <tr>
                            <td>{{i18n (stringFormat "%s.affiliate" @type)}}</td>
                            <td>
                                <ul class="resource-list">
                                    {{#affiliate}}
                                        <li>{{>ResourceIndex/link.mustache}}</li>
                                    {{/affiliate}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if tag}}
                        <tr>
                            <td>{{i18n (stringFormat "%s.tag" @type)}}</td>
                            <td>
                                <ul class="comma-seperated-list">
                                    {{#tag}}
                                        <li><a href="/resource/?filter.about.tag={{.}}">{{.}}</a></li>
                                    {{/tag}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if mainEntity}}
                        <tr>
                            <td>{{i18n (stringFormat "%s.mainEntity" @type)}}</td>
                            <td>
                                <ul class="resource-list">
                                    {{#mainEntity}}
                                        <li>{{>ResourceIndex/link.mustache}}</li>
                                    {{/mainEntity}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if mainEntityOf}}
                        <tr>
                            <td>{{i18n (stringFormat "%s.mainEntityOf" @type)}}</td>
                            <td>
                                <ul class="resource-list">
                                    {{#mainEntityOf}}
                                        <li>{{>ResourceIndex/link.mustache}}</li>
                                    {{/mainEntityOf}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if mentions}}
                        <tr>
                            <td>{{i18n (stringFormat "%s.mentions" @type)}}</td>
                            <td>
                                <ul class="resource-list">
                                    {{#mentions}}
                                        <li>{{>ResourceIndex/link.mustache}}</li>
                                    {{/mentions}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if mentionedIn}}
                        <tr>
                            <td>{{i18n (stringFormat "%s.mentionedIn" @type)}}</td>
                            <td>
                                <ul class="resource-list">
                                    {{#mentionedIn}}
                                        <li>{{>ResourceIndex/link.mustache}}</li>
                                    {{/mentionedIn}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if startTime}}
                        <tr>
                            <td>{{i18n (stringFormat "%s.startTime" @type)}} - {{i18n (stringFormat "%s.endTime" @type)}}</td>
                            <td>{{startTime}} &ndash; {{endTime}}</td>
                        </tr>
                    {{/if}}

                    {{#if startDate}}
                        <tr>
                            <td>{{i18n (stringFormat "%s.startDate" @type)}} {{#if endDate}}- {{i18n (stringFormat "%s.endDate" @type)}}{{/if}}</td>
                            <td>{{startDate}} {{#if endDate}}&ndash; {{endDate}} {{/if}}</td>
                        </tr>
                    {{/if}}

                    {{#if agent}}
                        <tr>
                            <td>{{i18n (stringFormat "%s.agent" @type)}}</td>
                            <td>
                                <ul class="resource-list">
                                    {{#agent}}
                                        <li>{{>ResourceIndex/link.mustache}}</li>
                                    {{/agent}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if agentIn}}
                        <tr>
                            <td>{{i18n (stringFormat "%s.agentIn" @type)}}</td>
                            <td>
                                <ul class="resource-list">
                                    {{#agentIn}}
                                        <li>{{>ResourceIndex/link.mustache}}</li>
                                    {{/agentIn}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if participant}}
                        <tr>
                            <td>{{i18n (stringFormat "%s.participant" @type)}}</td>
                            <td>
                                <ul class="resource-list">
                                    {{#participant}}
                                        <li>{{>ResourceIndex/link.mustache}}</li>
                                    {{/participant}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if participantIn}}
                        <tr>
                            <td>{{i18n (stringFormat "%s.participantIn" @type)}}</td>
                            <td>
                                <ul class="resource-list">
                                    {{#participantIn}}
                                        <li>{{>ResourceIndex/link.mustache}}</li>
                                    {{/participantIn}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if instrument}}
                        <tr>
                            <td>{{i18n (stringFormat "%s.instrument" @type)}}</td>
                            <td>
                                <ul class="resource-list">
                                    {{#instrument}}
                                        <li>{{>ResourceIndex/link.mustache}}</li>
                                    {{/instrument}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if result}}
                        <tr>
                            <td>{{i18n (stringFormat "%s.result" @type)}}</td>
                            <td>
                                <ul class="resource-list">
                                    {{#result}}
                                        <li>{{>ResourceIndex/link.mustache}}</li>
                                    {{/result}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if funder}}
                        <tr>
                            <td>{{i18n (stringFormat "%s.funder" @type)}}</td>
                            <td>
                                <ul class="resource-list">
                                    {{#funder}}
                                        <li>{{>ResourceIndex/link.mustache}}</li>
                                    {{/funder}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if funderOf}}
                        <tr>
                            <td>{{i18n (stringFormat "%s.funderOf" @type)}}</td>
                            <td>
                                <ul class="resource-list">
                                    {{#funderOf}}
                                        <li>{{>ResourceIndex/link.mustache}}</li>
                                    {{/funderOf}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if awards.0.funds}}
                        <tr>
                            <td>{{i18n (stringFormat "%s.funds" @type)}}</td>
                            <td>
                                <ul class="resource-list">
                                    {{#awards}}
                                        {{#funds}}
                                            <li>{{>ResourceIndex/link.mustache}}</li>
                                        {{/funds}}
                                    {{/awards}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if organizer}}
                        <tr>
                            <td>{{i18n (stringFormat "%s.organizer" @type)}}</td>
                            <td>
                                <ul class="resource-list">
                                    {{#organizer}}
                                        <li>{{>ResourceIndex/link.mustache}}</li>
                                    {{/organizer}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if organizerFor}}
                        <tr>
                            <td>{{i18n (stringFormat "%s.organizerFor" @type)}}</td>
                            <td>
                                <ul class="resource-list">
                                    {{#organizerFor}}
                                        <li>{{>ResourceIndex/link.mustache}}</li>
                                    {{/organizerFor}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if performer}}
                        <tr>
                            <td>{{i18n (stringFormat "%s.performer" @type)}}</td>
                            <td>
                                <ul class="resource-list">
                                    {{#performer}}
                                        <li>{{>ResourceIndex/link.mustache}}</li>
                                    {{/performer}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if performerIn}}
                        <tr>
                            <td>{{i18n (stringFormat "%s.performerIn" @type)}}</td>
                            <td>
                                <ul class="resource-list">
                                    {{#performerIn}}
                                        <li>{{>ResourceIndex/link.mustache}}</li>
                                    {{/performerIn}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if attendee}}
                        <tr>
                            <td>{{i18n (stringFormat "%s.attendee" @type)}}</td>
                            <td>
                                <ul class="resource-list">
                                    {{#attendee}}
                                        <li>{{>ResourceIndex/link.mustache}}</li>
                                    {{/attendee}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if attends}}
                        <tr>
                            <td>{{i18n (stringFormat "%s.attends" @type)}}</td>
                            <td>
                                <ul class="resource-list">
                                    {{#attends}}
                                        <li>{{>ResourceIndex/link.mustache}}</li>
                                    {{/attends}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if inLanguage}}
                        <tr>
                            <td>{{i18n (stringFormat "%s.inLanguage" @type)}}</td>
                            <td>
                                <ul class="comma-seperated-list">
                                    {{#inLanguage}}
                                        <li>{{i18n . bundle = "languages"}}</li>
                                    {{/inLanguage}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if recordedIn}}
                        <tr>
                            <td>{{i18n (stringFormat "%s.recordedIn" @type)}}</td>
                            <td>
                                <ul class="resource-list">
                                    {{#recordedIn}}
                                        <li>{{externalLink .}}</li>
                                    {{/recordedIn}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if isPartOf}}
                        <tr>
                            <td>{{i18n (stringFormat "%s.isPartOf" @type)}}</td>
                            <td>
                                <ul class="resource-list">
                                    {{#isPartOf}}
                                        <li>{{>ResourceIndex/link.mustache}}</li>
                                    {{/isPartOf}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if hasPart}}
                        <tr>
                            <td>{{i18n (stringFormat "%s.hasPart" @type)}}</td>
                            <td>
                                <ul class="resource-list">
                                    {{#hasPart}}
                                        <li>{{>ResourceIndex/link.mustache}}</li>
                                    {{/hasPart}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#isFundedBy}}
                        {{#if this.isAwardedBy}}
                            <tr>
                                <td>{{i18n (stringFormat "%s.isAwardedBy" @type)}}</td>
                                <td>
                                    <ul class="resource-list">
                                        {{#isAwardedBy}}
                                            <li>{{>ResourceIndex/link.mustache}}</li>
                                        {{/isAwardedBy}}
                                    </ul>
                                </td>
                            </tr>
                        {{/if}}
                        {{#if this.sameAs}}
                            <tr>
                                <td>{{i18n (stringFormat "%s.sameAs" @type)}}</td>
                                <td>
                                    <ul class="resource-list">
                                        {{#sameAs}}
                                            <li>{{externalLink .}}</li>
                                        {{/sameAs}}
                                    </ul>
                                </td>
                            </tr>
                        {{/if}}
                        {{#if this.duration}}
                            <tr>
                                <td>{{i18n (stringFormat "%s.duration" @type)}}</td>
                                <td>
                                    {{duration}}
                                </td>
                            </tr>
                        {{/if}}
                        {{#if this.hasMonetaryValue}}
                            <tr>
                                <td>{{i18n (stringFormat "%s.hasMonetaryValue" @type)}}</td>
                                <td>
                                    {{hasMonetaryValue}}
                                </td>
                            </tr>
                        {{/if}}
                        {{#if this.description}}
                            <tr>
                                <td>{{i18n (stringFormat "%s.description" @type)}}</td>
                                <td>
                                    {{#localized description language=@root.language}}{{md [@value]}}{{/localized}}
                                </td>
                            </tr>
                        {{/if}}
                        {{#if this.name}}
                            <tr>
                                <td>{{i18n (stringFormat "%s.name" @type)}}</td>
                                <td>
                                    {{#localized name language=@root.language}}{{md [@value]}}{{/localized}}
                                </td>
                            </tr>
                        {{/if}}
                        {{#if this.alternateName}}
                            <tr>
                                <td>{{i18n (stringFormat "%s.alternateName" @type)}}</td>
                                <td>
                                    {{#localized alternateName language=@root.language}}{{md [@value]}}{{/localized}}
                                </td>
                            </tr>
                        {{/if}}
                        {{#if this.hasAwardDate}}
                            <tr>
                                <td>{{i18n (stringFormat "%s.hasAwardDate" @type)}}</td>
                                <td>
                                    {{hasAwardDate}}
                                </td>
                            </tr>
                        {{/if}}
                        {{#if this.keywords}}
                            <tr>
                                <td>{{i18n (stringFormat "%s.keywords" @type)}}</td>
                                <td>
                                    <ul class="comma-seperated-list">
                                        {{#keywords}}<li><a href='/resource/?filter.about.keywords={{.}} '>{{.}}</a></li>{{/keywords}}
                                    </ul>
                                </td>
                            </tr>
                        {{/if}}
                    {{/isFundedBy}}

                </table>

            </article>

            <div data-dont-behave>

                {{#if ../permissions.edit}}

                    <form id="resource-edit" method="post" class="clearfix visible-modal" action="/resource/{{[@id]}}">

                        <div class="modal-title">
                            <h1>Edit {{[@type]}}</h1>
                            <div class="right">
                                <a href="https://github.com/hbz/oerworldmap/wiki/FAQs-for-OER-World-Map-editors" target="_blank">Need Help?</a>
                            </div>
                        </div>

                        <div class="messages resource-form-widget"></div>

                        {{> (stringFormat "ResourceIndex/%s/edit.mustache" @type)}}

                        <div class="pull-right resource-form-top-padding">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Quit</button>
                            <button type="submit" class="btn btn-inverted">Save Changes</button>
                        </div>

                    </form>

                {{/if}}

                {{#localized this.name language=@root.language}}
                    {{> share.mustache type="detail" url=@root.requestUri name=[@value]}}
                {{/localized}}

                {{> export.mustache type="detail" url=@root.requestUri}}

            </div>

            <div class="resource-comments">

                {{#if comments}}

                    <h2>Comments</h2>

                    {{#sort comments "dateCreated" "asc"}}
                        {{#if author.[0].name}}
                            <hr>
                            <div>
                                <p>
                                    <small>
                                        <em>
                                            {{#author}}
                                                {{#localized this.name language=@root.language}}
                                                    <a href="/resource/{{[@id]}}">{{[@value]}}</a>
                                                {{/localized}}
                                            {{/author}}
                                        </em>
                                        on
                                        <em>{{this.dateCreated}}</em>
                                    </small>
                                </p>
                                <p>{{#localized this.text language=@root.language}}{{md [@value]}}{{/localized}}</p>
                            </div>
                        {{/if}}
                    {{/sort}}

                {{/if}}

                {{#if ../permissions.comment}}

                    <h2>Add Comment</h2>
                    {{#if user.name}}
                        <form method="post" action="/resource/{{[@id]}}/comment">
                            {{>ResourceIndex/Comment/edit.mustache}}
                            <div class="pull-right resource-form-top-padding">
                                <button class="btn btn-inverted" type="submit">Submit</button>
                            </div>
                        </form>
                    {{else}}
                        <p>
                            <em>
                                You need to provide your name on your <a href="/resource/{{user.[@id]}}">profile</a> in order to
                                comment.
                            </em>
                        </p>
                    {{/if}}

                {{/if}}

            </div>

        {{/resource.about}}

    {{/scope}}

</div>
