<fieldset>

    <div class="hidden">
        <legend>{{i18n "LighthouseAction"}}</legend>
        {{input "@type" "LighthouseAction" readonly="readonly"}}
        {{input "@id" this.[@id] readonly="readonly"}}
    </div>

    {{> FormElements/id.mustache property=this.agent property_path="agent" title=(i18n "LighthouseAction.agent") tooltip=(i18n "LighthouseAction.agent" bundle="descriptions") hidden=true multiple=true lookup_url="/resource/?filter.about.@type=Person"}}

    {{> FormElements/id.mustache property=this.object property_path="object" title=(i18n "LighthouseAction.object") tooltip=(i18n "LighthouseAction.object" bundle="descriptions") hidden=true multiple=false lookup_url="/resource/?filter.about.@type=Organization,Action,Service"}}

    {{> FormElements/localizedTextarea.mustache property=this.description property_path="description" title=(i18n "LighthouseAction.description") tooltip=(i18n "LighthouseAction.description" bundle="descriptions")}}

</fieldset>
