<div role="complementary" class="color-scheme-map column large" data-view="map" data-focus="{{scope.alpha-2}}">
    <a href="/aggregation/" class="hijax transclude map-view-hidden" target="_self">Aggregations</a>
</div>
<div role="main" class="color-scheme-text list-view column small">
    <section>
        <h1>{{scope.name}}</h1>
        {{#scope.champions}}
        <div>
            <h2>Country Champion</h2>
            {{#image}}
                <img src="{{.}}" />
            {{/image}}
            {{^image}}
                <div class="placeholder" style="width: 150px; height: 150px;"></div>
            {{/image}}
            <h3><a href="/resource/{{@id}}">{{#name}}{{@value}}{{/name}}</a></h3>
            {{#location}}{{> ../ResourceIndex/Place/read.mustache}}{{/location}}
        </div>
        {{/scope.champions}}
        {{^scope.champions}}
            <div class="alert alert-success" role="alert">
                <a href="mailto:info@oerworldmap.org">Contact us</a> to become the country champion for {{scope.name}}!
            </div>
        {{/scope.champions}}
        {{#scope.countryAggregation.by_country.buckets}}
            <h2>Country stats</h2>
            <table class="table">
                <tr><td><i class="fa fa-user"></i> Users</td><td>{{users.doc_count}}</td></tr>
                <tr><td><i class="fa fa-users"></i> Organizations</td><td>{{organizations.doc_count}}</td></tr>
                <tr><td><i class="fa fa-comment"></i> Stories</td><td>{{articles.doc_count}}</td></tr>
                <tr><td><i class="fa fa-desktop"></i> Services</td><td>{{services.doc_count}}</td></tr>
                <tr><td><i class="fa fa-gears"></i> Projects</td><td>{{projects.doc_count}}</td></tr>
            </table>
        {{/scope.countryAggregation.by_country.buckets}}
        <h2>Related</h2>
        <ul class="resource-list" data-behaviour="linkedListEntries">
            <script type="application/ld+json">
                {{{scope.resources}}}
            </script>
          {{#scope.resources}}
              <li about="{{@id}}">
                {{#?Article}}
                    {{>../ResourceIndex/Article/list.mustache}}
                {{/?Article}}
                {{#?Organization}}
                    {{>../ResourceIndex/Organization/list.mustache}}
                {{/?Organization}}
                {{#?Person}}
                    {{>../ResourceIndex/Person/list.mustache}}
                {{/?Person}}
                {{#?Service}}
                    {{>../ResourceIndex/Service/list.mustache}}
                {{/?Service}}
                {{#?Action}}
                    {{>../ResourceIndex/Action/list.mustache}}
                {{/?Action}}
              </li>
          {{/scope.resources}}
        </ul>
    </section>
</div>
