<div role="complementary" class="color-scheme-map column large" data-view="map" data-focus="{{scope.alpha-2}}">
    <a href="/aggregation/" class="hijax transclude map-view-hidden" target="_self">Aggregations</a>
</div>
<div role="main" class="color-scheme-text list-view column small">
    <section>
        <h1>{{scope.name}}</h1>
        {{#scope.champions}}
        <div>
            {{^image}}
                <div class="placeholder" style="width: 150px; height: 150px;"></div>
            {{/image}}
            <h2>{{name}}</h2>
        </div>
        {{/scope.champions}}
        {{#scope.countryAggregation.by_country.buckets}}
            <table class="table">
                <tr><td><i class="fa fa-user"></i> Users</td><td>{{users.doc_count}}</td></tr>
                <tr><td><i class="fa fa-users"></i> Organizations</td><td>{{organizations.doc_count}}</td></tr>
                <tr><td><i class="fa fa-comment"></i> Stories</td><td>{{articles.doc_count}}</td></tr>
            </table>
        {{/scope.countryAggregation.by_country.buckets}}
        <ul class="resource-list" data-behaviour="linkedListEntries">
            <script type="application/ld+json">
                {{{scope.resources}}}
            </script>
          {{#scope.resources}}
              <li about="{{@id}}">
                {{#?Article}}
                    {{>../ResourceIndex/Article/list.mustache}}
                {{/?Article}}
                {{#?Organization}}
                    {{>../ResourceIndex/Organization/list.mustache}}
                {{/?Organization}}
                {{#?Person}}
                    {{>../ResourceIndex/Person/list.mustache}}
                {{/?Person}}
                {{#?Service}}
                    {{>../ResourceIndex/Service/list.mustache}}
                {{/?Service}}
                {{#?Action}}
                    {{>../ResourceIndex/Action/list.mustache}}
                {{/?Action}}
              </li>
          {{/scope.resources}}
        </ul>
    </section>
</div>
