.settings/
project/project
target
logs
.classpath
.project
data/*/
!data/resources/
!data/tokens/
!data/ingest/
!data/pages/
!data/travis/
!data/profiles/
!data/consents/
!data/repositories/dummy/
data/consents/history
repo-deb-build*.*
.idea/
import/iCal/*.json
import/**/*.pyc
/node_modules/
/public/css/main.css
!data/permissions/.system
conf/application.conf
third-party/
