<div class="popover-section bg-blue-palest">
    <div class="icon-indented">

        <i class="fa fa-users"></i><strong>Project:</strong>
      {{#resource.name}}{{@value}}{{/resource.name}}

    </div>
</div>
