<div class="popover-section bg-blue-palest">

  <strong>{{name}}</strong>
  
  {{#organizations}}
    <span class="entity-count">
      {{organizations.doc_count}}
      <i class="fa fa-users"></i>
    </span>
  {{/organizations}}
  {{#users}}
      <span class="entity-count">
      {{users.doc_count}}
      <i class="fa fa-user"></i>
    </span>
  {{/users}}
  
</div>

<div class="popover-section bg-blue-paler">
  
  {{#champions.doc_count}}
    Country Champion: <i class="fa fa-check"></i>
  {{/champions.doc_count}}
  {{^champions.doc_count}}
    Country Champion: <i class="fa fa-times"></i>
  {{/champions.doc_count}}
  
</div>
