<div class="popover-section">

  {{name}}:
  
  {{#observations}}
    <span class="entity-count">
      {{value}}
      <i class="fa fa-{{icon}}"></i>
    </span>
  {{/observations}}
  
</div>

<div class="popover-section">

  Country Champion: <i class="fa fa-{{championIcon}}"></i>
  
</div>