<div class="popover-section">

  <i class="fa fa-users"></i> <strong>Organization:</strong>
  {{#resource.legalName}}{{@value}}{{/resource.legalName}}

</div>

{{#refBy.first.name.0}}

  <div class="popover-section">
  
    <i class="fa fa-comment"></i> <strong>Story:</strong>
    {{@value}}
    
  </div>

{{/refBy.first.name.0}}