{{#if multiple}}
    <ul title="{{title}}">
        {{#property}}
            <li>
                {{input (stringFormat "%s[%s][@id]" key @index) [@id] type="url" data-lookup=lookup}}
                <script type="application/ld+json">{{json .}}</script>
            </li>
        {{/property}}
        <li>{{input (stringFormat "%s[%s][@id]" key (size property)) "" type="url" data-lookup=lookup}}</li>
    </ul>
{{else}}
    {{input (stringFormat "%s[@id]" key) property type="url" data-lookup=lookup}}
{{/if}}
