<div class="resource-form-widget{{#if hidden}} hidden{{/if}}" data-behaviour="input">

    <h4>{{title}}{{#tooltip}} <i class="fa fa-question-circle" title="{{.}}"></i>{{/tooltip}}</h4>

    {{#if multiple}}
        <ul title="{{title}}" class="multiple-list">
            {{#property}}
                <li class="multiple-one">{{input (stringFormat "%s[%s]" property_path @index) . type=input_type readonly=readonly list=list}}</li>
            {{/property}}
            <li class="multiple-one">{{input (stringFormat "%s[%s]" property_path (size property)) "" type=input_type readonly=readonly list=list}}</li>
        </ul>
    {{else}}
        <div class="single">
            {{input property_path property type=input_type readonly=readonly list=list}}
        </div>
    {{/if}}

</div>
