<div class="resource-form-widget" data-behaviour="localizedInput">

    <ul title="{{title}}">
        {{#property}}
            <li>
                <fieldset class="i18n">
                    <legend>{{title}}</legend>
                    {{input (stringFormat "%s[%s][@value]" key @index) [@value]}}
                    {{input (stringFormat "%s[%s][@language]" key @index) [@language]}}
                </fieldset>
            </li>
        {{/property}}
        <li>
            <fieldset class="i18n">
                <legend>{{title}}</legend>
                {{input (stringFormat "%s[%s][@value]" key (size property)) ""}}
                {{input (stringFormat "%s[%s][@language]" key (size property)) ""}}
            </fieldset>
        </li>
    </ul>

</div>
