<div class="resource-form-widget" data-behaviour="localizedTextarea">

    <h4>{{title}}{{#tooltip}} <i class="fa fa-question-circle" title="{{.}}"></i>{{/tooltip}}</h4>

    <ul title="{{title}}" class="multiple-list">
        {{#property}}
            <li class="multiple-one">
                <fieldset>
                    <legend>{{title}}</legend>
                    {{textarea (stringFormat "%s[%s][@value]" key @index) [@value]}}
                    {{input (stringFormat "%s[%s][@language]" key @index) [@language]}}
                </fieldset>
            </li>
        {{/property}}
        <li class="multiple-one">
            <fieldset>
                <legend>{{title}}</legend>
                {{textarea (stringFormat "%s[%s][@value]" key (size property)) ""}}
                {{input (stringFormat "%s[%s][@language]" key (size property)) ""}}
            </fieldset>
        </li>
    </ul>

</div>
