<div class="resource-form-widget {{#if hidden}} hidden{{/if}}" data-behaviour="localizedTextarea">

    <h4>{{title}}{{#tooltip}} <i class="fa fa-question-circle" title="{{.}}"></i>{{/tooltip}}</h4>

    <ul title="{{title}}" class="multiple-list">
        {{#property}}
            <li class="multiple-one">
                <fieldset>
                    <legend>{{title}}</legend>
                    {{textarea (stringFormat "%s[%s][@value]" property_path @index) [@value] rows=rows}}
                    {{input (stringFormat "%s[%s][@language]" property_path @index) [@language]}}
                </fieldset>
                <small>
                    <img src="/assets/images/markdown-mark.svg" class="icon" />
                    <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">
                        Markdown supported
                    </a>
                </small>
            </li>
        {{/property}}
        <li class="multiple-one">
            <fieldset>
                <legend>{{title}}</legend>
                {{textarea (stringFormat "%s[%s][@value]" property_path (size property)) "" rows=rows}}
                {{input (stringFormat "%s[%s][@language]" property_path (size property)) ""}}
            </fieldset>
            <small>
                <img src="/assets/images/markdown-mark.svg" class="icon" />
                <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">
                    Markdown supported
                </a>
            </small>
        </li>
    </ul>

</div>
