@main(title = "Home") {

  <h1>Welcome to the OER World Map</h1>
  <blockquote class="vision">
    <p>The OER World Map will illuminate the scope and nature of the global OER movement and act as a point of entry for a range of users. Its visualisation will serve to identify OER initiatives and OER people worldwide to facilitate sharing resources and connecting people. Built in collaboration, it will engage contributors and users as ‘co-owners’ to promote comprehensiveness and sustainability.</p>
  </blockquote>
  <blockquote class="vision">
    <p>The OER World Map should provide a global overview of OER projects and initiatives, to serve as a comprehensive view of the OER world. The OER World Map should facilitate connections among OER providers, teachers, and learner, and act as a resource for communicating with stakeholders around the globe. The map should also be a tool to engage community members and highlight the collaborative and generative nature of OER itself.</p>
  </blockquote>
  <blockquote class="vision">
    <p>The OER Data Hub is a platform which collects and publishes openly into the web data by, about and for the OER community. The OER World Map is the first out of many applications build on top of the OER Data Hub, which visualises the data in the form of a geographical map and serves as a symbol of the project.</p>
  </blockquote>

}
