@(visionStatements: ArrayList[HashMap[String,String]],
  countryChampions: ArrayList[HashMap[String,String]])

@main(title = "Home") {
  <h1>Welcome to the OER World Map</h1>
  @for(visionStatement <- visionStatements) {
    <blockquote class="vision">
      <p>@visionStatement.get("statement")</p>
    </blockquote>
  }

  <script type="text/javascript">

    var visions = $('blockquote.vision').hide(),
        i = 0;

    (function cycle() {
      visions.eq(i).fadeIn(800).delay(5000).fadeOut(800, cycle);
      i = ++i % visions.length;
    })();

    var map = $('<div style="width: 600px; height: 300px"></div>'),
        champions = {};

    @for(countryChampion <- countryChampions) {
      if ("@countryChampion.get("color")") {
        champions["@countryChampion.get("country")"] =
            "@countryChampion.get("color")";
      }
    }

    visions.first().before(map);
    map.vectorMap({
      backgroundColor: '#428bca',
      series: {
        regions: [{
          values: champions
        }]
      },
    });


  </script>

}
