@(visionStatements: ArrayList[HashMap[String,String]],
  countryChampions: ArrayList[HashMap[String,String]])

@main(title = "Home") {
  <h1><abbr title="Open Educational Resources">OER</abbr> World Map</h1>
  @for(visionStatement <- visionStatements) {
    <blockquote class="vision">
      <p>@visionStatement.get("statement")</p>
    </blockquote>
  }

  <script type="text/javascript">

    var visions = $('blockquote.vision').hide(),
        i = 0;

    (function cycle() {
      visions.eq(i).fadeIn(800).delay(5000).fadeOut(800, cycle);
      i = ++i % visions.length;
    })();

    var map = $('<div id="worldmap" style="width: 900px; height: 600px"></div>'),
        champions = {};

    @for(countryChampion <- countryChampions) {
      if ("@countryChampion.get("color")") {
        champions["@countryChampion.get("country")"] =
            "@countryChampion.get("color")";
      }
    }

    visions.first().before(map);
    map.vectorMap({
      backgroundColor: '#028AC9',
      zoomButtons: false,
      series: {
        regions: [{
          values: champions
        }]
      },
    });


  </script>

}
