<div class="container">
    <h1>{{i18n.landingpage_title}}</h1>
    <h2>{{{i18n.landingpage_intro}}}</h2>
    <div class="section">
        <div class="row">
            <div id="worldmap" style="width: 800px; height: 500px"></div>
            <table class="table" id="users_by_country">
                <script type="application/ld+json">
                    {{{countryAggregation}}}
                </script>
                {{#countryAggregation.entries}}
                <tr><td>{{key}}</td><td>{{value}}</td></tr>
                {{/countryAggregation.entries}}
            </table>
        </div>
    </div>

    <div class="section" id="user-register">
        <p class="lead">{{i18n.landingpage_call_to_register}}</p>
        <div class="row register">
            <div class="col-md-10 col-md-offset-1">
                <a href="/user/" class="hijax transclude">{{i18n.register}}</a>
            </div>
        </div>
    </div>

    <hr />

    <div class="section mission-statements" style="height: 200px;">
        <h2>{{i18n.landingpage_vision_statements_title}}</h2>
        <div class="vision-statements">
            {{#visionStatements}}
            <blockquote class="vision">
                <p>{{statement}}</p>
            </blockquote>
            {{/visionStatements}}
        </div>
    </div>
</div>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.4.0/slick.min.js"></script>
<script type="text/javascript" src="/assets/javascripts/main.js"></script>