<main class="center">

    <h1>{{i18n.landingpage_title}}</h1>
    <h2>Join us in mapping the world of OER!</h2>

    <section>
        <div id="worldmap" style="width: 800px; height: 500px"></div>
        <table class="table" about="#users-by-country">
            <script type="application/ld+json">
                {{{scope.countryAggregation}}}
            </script>
            {{#scope.countryAggregation.entries}}
            <tr><td>{{key}}</td><td>{{value}}</td></tr>
            {{/scope.countryAggregation.entries}}
        </table>
    </section>

    <section id="user-register">
        <a href="/user/" class="hijax transclude">{{i18n.register}}</a>
    </section>

</main>

<aside>
    <ul class="resource-list">
        <script type="application/ld+json">
            {{{scope.stories}}}
        </script>
        {{#scope.stories}}
        <li>
            <article class="resource-story">
                <header>
                    <h1><a href="#resource/{{@id}}">{{#name}}{{@value}}{{/name}}</a></h1>
                    {{#agent}}
                        <address>Contributed by <a href="mailto:{{email}}">{{name}}</a></address>
                    {{/agent}}
                </header>
                {{#image}}<img src="{{image}}" />{{/image}}
                {{#description}}{{{@value}}}{{/description}}
            </article>
        </li>
        {{/scope.stories}}
    </ul>
</aside>

<footer>
</footer>

<script type="text/javascript" src="/assets/javascripts/main.js"></script>
