<div class="form-row">
    {{{serviceUrl_input}}}
</div>

{{{language_list}}}

<div class="btn-group dropdown">
    <button type="button" class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown">
        <span class="text">Add Language</span>
        <div class="input-icon">
            <i class="fa fa-chevron-down"></i>
        </div>
    </button>
    <div class="dropdown-menu dropdown-menu-right dropdown-menu-typeahead">
        <input type="text" class="form-control typeahead" placeholder="..." />
        <div class="input-icon">
            <i class="fa fa-search"></i>
        </div>
    </div>
</div>
