<div class="form-row">
    {{{serviceUrl_input}}}
</div>

<hr style="border-color: #284664">

<h4>{{i18n "ClientTemplates.availableChannel_widget.title"}} <i class="fa fa-question-circle" title="The languages of OER available via this service"></i></h4>

{{{language_list}}}

<div class="btn-group dropdown form-row">
    <button type="button" class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown">
        <span class="text">{{i18n "ClientTemplates.availableChannel_widget.addLanguage"}}</span>
        <div class="input-icon">
            <i class="fa fa-chevron-down"></i>
        </div>
    </button>
    <div class="dropdown-menu dropdown-menu-right dropdown-menu-typeahead">
        <input type="text" class="form-control typeahead" placeholder="..." />
        <div class="input-icon">
            <i class="fa fa-search"></i>
        </div>
    </div>
</div>
