<div>
    <div class="depth- {{#if active}} active {{/if}}" data-filter-value="{{id}}">
        {{label_x}} ({{count}})
        <div class="pull-right">
            <i class="fa fa-check visible-active"></i>
        </div>
    </div>
</div>
