<div id="filter">

    <div id="filter-search" class="input-group">
        <input type="text" name="q" value="{{scope.resources.searchTerms}}" class="form-control" placeholder="Search the map ...">
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
        </span>
    </div>

    <div class="row">
        <div class="col-sm-8">

            <div id="filter-type" class="btn-group">
                {{#each resource_types}}
                    <button
                        class="btn btn-default {{#if active}} active {{/if}}"
                        data-filter-action="set-type"
                        data-filter-name="filter.about.@type"
                        data-filter-value="{{@key}}"
                        title="{{@key}}"
                    >
                        <i class="fa fa-fw fa-{{icon}}"></i>
                    </button>
                {{/each}}
            </div>

        </div>
        <div class="col-sm-4">

            <div class="btn-group dropdown">
                <button type="button" class="btn btn-default">
                    <span class="text">Country</span>
                </button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-chevron-down"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-typeahead">
                    <input type="text" class="form-control typeahead" placeholder="..." />
                    <div class="input-icon">
                        <i class="fa fa-search"></i>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
