<div id="filter">

    <div id="filter-search" class="input-group">
        <input type="text" data-filter-name="q" value="{{q}}" class="form-control" placeholder="Search the map ...">
        <span class="input-group-btn">
            <button class="btn btn-default" data-filter-action="search"><i class="fa fa-search"></i></button>
        </span>
    </div>

    <div class="row">
        <div class="col col-xs-8 hidden-mobile">

            <div id="filter-type" class="btn-group">
                {{#each resource_types}}
                    <button
                        class="btn btn-default {{#if active}} active {{/if}}"
                        data-filter-action="set-type"
                        data-filter-name="filter.about.@type"
                        data-filter-value="{{@key}}"
                        title="{{i18n @key}}"
                    >
                        <i class="fa fa-fw fa-{{icon}}"></i>
                    </button>
                {{/each}}
            </div>

        </div>

        {{#country_aggregation}}

            <div class="col col-xs-2 col-{{column}} hidden-mobile">
                {{> filter-dropdown}}
            </div>

        {{/country_aggregation}}

        {{#tag_aggregation}}

            <div class="col col-xs-2 col-{{column}} hidden-mobile">
                {{> filter-dropdown}}
            </div>

        {{/tag_aggregation}}

        {{#each aggregations}}
            {{#if show}}

                <div class="col col-xs-4 col-{{column}} {{class}}">
                    {{> filter-dropdown}}
                </div>

            {{/if}}
        {{/each}}

        <div class="col col-xs-4 col-xs-offset-{{clear_filter_offset}} floating-hidden">
            <div class="small clear-filter">
                <a href="/">Clear Filter</a>
            </div>
        </div>

    </div>

</div>
