<div class="clearfix text-center">

    <h2>An error occured</h2>

    <div class="container-top-line">
        <strong>URL</strong><br/>
        {{url}}
    </div>

    <div class="container-top-line">
        <strong>Error</strong><br/>
        {{error}}
    </div>

</div>
