<div class="clearfix text-center">

    <h2>{{i18n "ClientTemplates.http_error.title"}}</h2>

    <div class="container-top-line">
        <strong>URL</strong><br/>
        {{url}}
    </div>

    <div class="container-top-line">
        <strong>{{i18n "ClientTemplates.http_error.error"}}</strong><br/>
        {{error}}
    </div>

</div>
