<div class="input-group select2-bootstrap-appended">

    {{{value_input}}}

    <div class="input-group-btn">
        <select>
            <option></option>
            {{#each languages}}
                <option>{{.}}</option>
            {{/each}}
        </select>
    </div>

</div>
