<div class="input-group">

    {{{value_input}}}

    <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle">
            Language <span class="caret"></span>
        </button>
    </div>

</div>
