<div class="form-row">
    {{{location-address-streetAddress}}}
</div>

<div class="row form-row">
    <div class="col-md-4">
        {{{location-address-postalCode}}}
    </div>
    <div class="col-md-8">
        {{{location-address-addressLocality}}}
    </div>
</div>

<div class="form-row">
    {{{location-address-addressCountry}}}
</div>

<div class="row form-row">
    <div class="col-md-4">
        {{{location-geo-lat}}}
    </div>
    <div class="col-md-4">
        {{{location-geo-lon}}}
    </div>
    <div class="col-md-4">
        <a href="http://www.latlong.net" target="_blank">Lookup Coordinates</a>
    </div>
</div>
