{{#resource}}

        <div class="popover-section bg-blue-palest" data-app="link-to-fragment">
            <a href="/resource/{{[@id]}}">
                <div class="icon-indented">
                    {{getIcon [@type]}}<strong>{{i18n [@type]}}:</strong>
                    {{#localized this.name language=@root.language}}
                        {{[@value]}}
                    {{/localized}}
                </div>
            </a>
        </div>

        {{#referencedBy}}
            <div class="popover-section linked bg-blue-paler" data-app="link-to-fragment">
                <a href="/resource/{{[@id]}}">
                    <div class="icon-indented">
                        {{getIcon [@type]}}<strong>{{i18n [@type]}}:</strong>
                        {{#localized this.name language=@root.language}}
                            {{[@value]}}
                        {{/localized}}
                    </div>
                </a>
            </div>
        {{/referencedBy}}

{{/resource}}
