<div class="popover-main-section">

    <div class="popover-section bg-blue-palest">
        <div class="icon-indented">

            <i class="fa fa-fw fa-user"></i><strong>Person:</strong>
            {{#localized resource.name language=@root.language}}
                {{[@value]}}
            {{/localized}}

        </div>
    </div>

    {{#resource.referencedBy}}

        <div class="popover-section linked bg-blue-paler">
            <div class="icon-indented">

                {{getIcon [@type]}}<strong>{{[@type]}}:</strong>
                {{#localized this.name language=@root.language}}
                    {{[@value]}}
                {{/localized}}

            </div>
        </div>

    {{/resource.referencedBy}}

</div>
