<div class="popover-main-section">

    <div class="popover-section bg-blue-palest">

        {{#each .}}
            <span class="entity-count">
                {{.}}
                {{getIcon @key}}
            </span>
        {{/each}}

    </div>

</div>
