<div class="popover-section bg-blue-palest">
  <strong>{{i18n key bundle="countries"}}</strong>

    {{#by_type.buckets}}
        <span class="entity-count">
            {{doc_count}}
            {{getIcon key}}
        </span>
    {{/by_type.buckets}}
  
</div>

<div class="popover-section bg-blue-paler">

  {{#if champions.doc_count}}
    Country Champion: <i class="fa fa-check"></i>
  {{else}}
    Country Champion: <i class="fa fa-times"></i>
  {{/if}}

</div>
