<div class="popover-section bg-blue-palest">
  <div class="icon-indented">

    <i class="fa fa-users"></i><strong>Organization:</strong>
    {{#resource.name}}{{@value}}{{/resource.name}}
  
  </div>
</div>

{{#resource.referencedBy}}

  <div class="popover-section bg-blue-paler">
    <div class="icon-indented">
  
      <i class="fa fa-link"></i><strong>{{@type}}:</strong>
      {{#name.0}}{{@value}}{{/name.0}}
    
    </div>
  </div>

{{/resource.referencedBy}}
