<div class="popover-section bg-blue-palest">
  <strong>{{name}}</strong>

  {{#users}}
      <span class="entity-count">
      {{doc_count}}
      <i class="fa fa-user"></i>
    </span>
  {{/users}}
  {{#organizations}}
      <span class="entity-count">
      {{doc_count}}
      <i class="fa fa-users"></i>
    </span>
  {{/organizations}}
  {{#articles}}
      <span class="entity-count">
      {{doc_count}}
      <i class="fa fa-comment"></i>
    </span>
  {{/articles}}
  {{#services}}
      <span class="entity-count">
      {{doc_count}}
      <i class="fa fa-desktop"></i>
    </span>
  {{/services}}
  {{#projects}}
      <span class="entity-count">
      {{doc_count}}
      <i class="fa fa-gears"></i>
    </span>
  {{/projects}}
  
</div>

<div class="popover-section bg-blue-paler">

  {{#if champions.doc_count}}
    Country Champion: <i class="fa fa-check"></i>
  {{else}}
    Country Champion: <i class="fa fa-times"></i>
  {{/if}}

</div>
