<div>
    <div class="depth-{{depth}}">
        {{getIcon [@type]}}
        {{#if this.name}}
            {{#localized this.name}}{{[@value]}}{{/localized}}
        {{ else }}
            {{[@id]}}
        {{/if}}
    </div>
</div>
