<div class="static-typeahead form-row">
    <input type="text" class="form-control typeahead" placeholder="Search {{allowed_types}} ..." />
    <div class="input-icon">
        <i class="fa fa-search"></i>
    </div>
</div>
