<ul class="list-group">
    <li class="list-group-item">
        {{getIcon [@type]}}
        {{#if this.name}}
            {{#localized this.name}}{{[@value]}}{{/localized}}
        {{ else }}
            {{[@id]}}
        {{/if}}
        <div class="input-icon" data-action="delete">
            <i class="fa fa-times"></i>
        </div>
    </li>
</ul>
