<div class="static-typeahead form-row">
    <div class="input-group">
        <input type="text" class="form-control typeahead" placeholder="{{i18n "ClientTemplates.resource_typehead.search"}} {{allowed_types}} ..." />
        <div class="input-icon">
            <i class="fa fa-search"></i>
        </div>
        <span class="input-group-btn">
            <a class="btn btn-default" href="/resource/" target="_blank">
                <i class="fa fa-plus"></i>
            </a>
        </span>
    </div>
</div>
