<ul class="list-group">
    <li class="list-group-item">
        {{getIcon [@type]}}
        {{name.[0].[@value]}}
        <div class="input-icon" data-action="delete">
            <i class="fa fa-times"></i>
        </div>
    </li>
</ul>
