<ul class="list-group">
    <li class="list-group-item">
        {{item_label}}
        <div class="input-icon" data-action="delete">
            <i class="fa fa-times"></i>
        </div>
    </li>
</ul>
