{{{list}}}

<div class="btn-group dropdown form-row">
    <button type="button" class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown">
        <span class="text">{{stringFormat (i18n "add") (i18n add_what)}}</span>
        <div class="input-icon">
            <i class="fa fa-chevron-down"></i>
        </div>
    </button>
    <div class="dropdown-menu dropdown-menu-right dropdown-menu-typeahead">
        <input type="text" class="form-control typeahead" placeholder="..." />
        <div class="input-icon">
            <i class="fa fa-search"></i>
        </div>
    </div>
</div>
