<div role="complementary" data-view="map" data-focus="{{#scope}}{{@id}}{{/scope}}" class="color-scheme-map column medium">
    <a href="/aggregation/" class="hijax transclude map-view-hidden" target="_self">Aggregations</a>
</div>
<div role="main" class="color-scheme-text container column medium">
  {{#scope}}
      <div class="resource-person">
        <script type="application/ld+json">
          {{{.}}}
        </script>
        <h1><i class="fa fa-user"></i> {{name}}</h1>
        {{#countryChampionFor}}<p>Country Champion for <a href="/country/{{.}}">{{.}}</a></p>{{/countryChampionFor}}
        {{#location}}{{> ../Place/read.mustache}}{{/location}}
        <p>{{#description}}{{{@value}}}{{/description}}</p>
        {{#referencedBy.size}}
        <h2>{{i18n.contributions}}</h2>
        <ul>
        {{#referencedBy}}
          {{#?Article}}<li><a href="/resource/{{@id}}">{{#name}}{{@value}}{{/name}}</a></li>{{/?Article}}
        {{/referencedBy}}
        </ul>
        {{/referencedBy.size}}
      </div>
  {{/scope}}
</div>
