{{#property}}
<fieldset>

  <legend>{{i18n "ResourceIndex.GeoCoordinates.edit.geoCoordinates"}}</legend>
  {{input (stringFormat "%s[lat]" property_path) lat}}
  {{input (stringFormat "%s[lon]" property_path) lon}}

</fieldset>
{{/property}}
{{^property}}
    <fieldset>

        <legend>{{i18n "ResourceIndex.GeoCoordinates.edit.geoCoordinates"}}</legend>
        {{input (stringFormat "%s[lat]" property_path) lat}}
        {{input (stringFormat "%s[lon]" property_path) lon}}

    </fieldset>
{{/property}}
