<fieldset>

    <div class="hidden">
        <legend>Comment</legend>
        {{input "@type" "Comment" readonly="readonly"}}
        {{input "@id" [@id] readonly="readonly"}}
    </div>

    <textarea class="form-control">{{ text }}</textarea>

    <div class="pull-right resource-form-top-padding">
        <button class="btn btn-inverted" type="submit">Submit</button>
    </div>

</fieldset>
