<fieldset>

    <div class="hidden">
        <legend>{{i18n "ResourceIndex.Comment.edit.title"}}</legend>
        {{input "@type" "Comment" readonly="readonly"}}
    </div>

    <input type="hidden" name="text[0][@language]" value="en"/>
    <textarea class="form-control" name="text[0][@value]"></textarea>

    <small>
        <img src="/assets/images/markdown-mark.svg" class="icon" />
        <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">
            {{i18n "ResourceIndex.Comment.edit.markdown"}}
        </a>
    </small>

</fieldset>
