[Unit]
Description=The WildFly Application Server
After=syslog.target network.target
Before=httpd.service

[Service]
EnvironmentFile=/path/to/services.conf
Environment=LAUNCH_JBOSS_IN_BACKGROUND=1
User=fo
Group=fo
LimitNOFILE=102642
ExecStart=/bin/bash -c '${KC_HOME}/bin/standalone.sh -Dkeycloak.profile.feature.scripts=enabled'
StandardOutput=journal
StandardError=inherit

[Install]
WantedBy=multi-user.target
