[Unit]
Description=OER World Map API
After=syslog.target network.target
Before=httpd.service

[Service]
User=fo
Group=fo
PIDFile=/home/fo/local/src/oerworldmap/target/universal/stage/RUNNING_PID
ExecStart=/home/fo/local/src/oerworldmap/startup.sh
StandardOutput=journal
StandardError=inherit

[Install]
WantedBy=multi-user.target
