[Unit]
Description=OER World Map UI
After=syslog.target network.target
Before=httpd.service

[Service]
EnvironmentFile=/path/to/services.conf
User=fo
Group=fo
ExecStart=/bin/bash -c '${UI_HOME}/startup.sh'
Restart=on-failure

[Install]
WantedBy=multi-user.target
