<div role="main">

    <section>
        <ul class="resource-list">
            <script type="application/ld+json">
                {{{scope.stories}}}
            </script>
            {{#scope.stories}}
                <li>
                    <article>
                      <img src="#" class="placeholder" />
                      <h1>
                        <a class="hijax" target="_parent" role="main" href="/resource/{{@id}}">
                          {{#name}}{{@value}}{{/name}}
                        </a>
                      </h1>
                      <p>
                        <strong>Contributed by</strong> Virtual Universities for Small States of the Commonwealth
                      </p>
                      <p>
                        COL’s Virtual Universities for Small States of the Commonwealth (VUSSC) and the University of the West Indies (UWI) School of Business and Applied Studies, ROYTEC, have teamed up to retool the VUSSC Bachelor in Business and Entrepreneurship (BBE) programme. 
                      </p>
                    </a>
                </li>
            {{/scope.stories}}
        </ul>
    </section>

</div>
