<div role="complementary" data-view="map" data-behaviour="zoom" class="color-scheme-map"></div>
<div role="main" class="color-scheme-text list-view">

    <section>
        <form method="get" action="/resource/">
            <h1><input name="q" placeholder="Search"/> <input type="submit" /></h1>
        </form>
        <ul class="resource-list" data-behaviour="linkedListEntries">
            <script type="application/ld+json">
                {{{scope.resources}}}
            </script>
            {{#scope.resources}}
                <li>
                    {{#?Article}}
                    <article>
                      <div class="placeholder" style="width: 100px; height: 100px;"></div>
                      <h1>
                        <a href="/resource/{{@id}}">
                          {{#name}}{{@value}}{{/name}}
                        </a>
                      </h1>
                      <strong>Contributed by</strong>
                      <ul class="csl">
                        {{#creator}}
                          <li>{{#?Organization}}{{#legalName}}{{@value}}{{/legalName}}{{/?Organization}}{{#?Person}}{{name}}{{/?Person}}</li>
                        {{/creator}}
                      </ul>
                      {{#articleBody}}{{{@value}}}{{/articleBody}}
                    </article>
                    {{/?Article}}
                    {{#?Organization}}
                    <div>
                        <h1>
                            <a href="/resource/{{@id}}">
                              {{#legalName}}{{@value}}{{/legalName}}
                            </a>
                        </h1>
                    </div>
                    {{/?Organization}}
                    {{#?Person}}
                        <div>
                            <h1>
                                <a href="/resource/{{@id}}">
                                  {{@id}}
                                </a>
                            </h1>
                        </div>
                    {{/?Person}}
                </li>
            {{/scope.resources}}
        </ul>
    </section>

</div>

<script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="//d3js.org/d3.geo.projection.v0.min.js"></script>
<script type="text/javascript" src="//cdn.rawgit.com/mbostock/topojson/master/topojson.js"></script>

<script type="text/javascript" src="/assets/javascripts/main.js"></script>
