<section>
    {{#scope.report}}
        <div class="alert alert-warning" role="alert">
            Please {{> (stringFormat "ProcessingReport/%s.mustache" keyword)}}
        </div>
    {{/scope.report}}
</section>
