body {
  background-color: #90cfed;
  font-family: 'Source Sans Pro', sans-serif;
  color: #525252;
}

a {
  text-decoration: underline;
  color: #525252;
}

a:hover {
  text-decoration: none;
  color: #CD533B;
}


h1 {
  font-size: 55px;
  font-weight: bold;
  margin: 30px 0;
}

hr {
  border-color: #525252;
  margin: 50px 0;
}

.section {

}

.container {
  text-align: center;
  max-width: 1024px;
}

#worldmap {
  margin: 0 auto;
}

blockquote {
  border: 0px;
  font-style: italic;
}

/* --- register --- */

.register input,
.register button {
	background: transparent;
	border-color: #525252;
	color: #525252;
}

.register input {
	background: rgba(13, 6, 41, 0.3);
	background: rgba(0,0,0, 0.1);
	/* color: rgba(13, 6, 41, 0.59); */
}

.form-control:focus {
  border-color: #525252;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82, 82, 82, 0.7);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82, 82, 82, 0.7);
}

.register button {	
	background: rgba(82, 82, 82, 1);
	color: #90cfed;
}

.register button:hover {
	background: rgba(204, 84, 60, 1);
	/* background: rgba(255,255,255, 0.82); */
	color: rgba(13, 6, 41, 1);
}

/* http://stackoverflow.com/a/2610741/1060128 */
.register ::-webkit-input-placeholder { /* WebKit browsers */
	color: #525252;
}
.register :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #525252;
	opacity: 1;
}
.register ::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #525252;
	opacity: 1;
}
.register :-ms-input-placeholder { /* Internet Explorer 10+ */
	color: #525252;
}


/*
h1, blockquote, #worldmap {
  margin: 0 auto;
  width: 900px;
  text-align: center;
}

h1 {
  font-size: 3em;
}

blockquote.vision {
  font-size: 1.5em;
  quotes: "\201C" "\201D" "\2018" "\2019";
}

blockquote.vision p:after {
  content: close-quote;
}

blockquote.vision p:before {
  content: open-quote;
}
*/
