body {
  background-color: #028AC9;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
}

h1, blockquote, #worldmap {
  margin: 0 auto;
  width: 900px;
  text-align: center;
}

h1 {
  font-size: 3em;
}

blockquote.vision {
  font-size: 1.5em;
  quotes: "\201C" "\201D" "\2018" "\2019";
}

blockquote.vision p:after {
  content: close-quote;
}

blockquote.vision p:before {
  content: open-quote;
}
