form.edit label {
  display: block;
  float: left;
  clear: left;
  margin: 10px 0;
}

form.edit label b {
  display: block;
  float: left;
  width: 360px;
  margin-right: 20px;
}

form.edit label input,
form.edit label textarea,
form.edit label select {
  float: left;
  width: 360px;
}

form.edit label input[type="radio"],
form.edit label input[type="checkbox"] {
  width: 20px;
}

form.edit p {
  clear: left;
  margin: 10px 0 0;
}

/*
form.edit input[type="submit"], form button[type="submit"] {
  margin-left: 100px;
}
*/

form.edit fieldset {
  clear: both;
}

form.edit ul:before {
  content:attr(title);
  font-size:120%;
  font-weight:bold;
  margin-left:-15px;
}

form.edit ul {
  list-style: none;
  clear: left;
}

div.tab:target ~ div.tab:last-child, div.tab {
  display: none;
}

div.tab:last-child, div.tab:target {
  display: inherit;
  z-index: 1;
}

a.pager {
  float: right;
}

div.column-section.truncated>ul.resource-list>li + li + li + li +li +li {
  display:none;
}
