form label {
	display: block;
	float: left;
	clear: left;
	margin: 10px 0;
}
form label b {
  display: block;
  float: left;
  width: 360px;
  margin-right: 20px;
}
form label input,
form label textarea,
form label select {
  float: left;
  width: 360px;
}
form label input[type="radio"],
form label input[type="checkbox"] {
  width: 20px;
}
form p {
	clear: left;
	margin: 10px 0 0;
}
form input[type="submit"], form button[type="submit"] {
	margin-left: 100px;
}

fieldset {
  clear: both;
}

fieldset.i18n legend {
  display: none;
}