fieldset input:invalid {
  background-color: #e15636;
}

.resource-details-table ul {
  list-style-type: none;
  padding-left: 0;
}

.resource-details-table ul ul {
  padding-left: 1em;
}

.resource-details-table ul a {
  text-decoration: none;
}
