<section>
    <form action="/user/token" method="post">
        <p class="lead">{{i18n.user_token_request_title}}<br /><small>{{{i18n.user_token_request_description}}}</small></p>
        {{#errors.size}}
            <ul id="messages">
              {{#errors}}
                  <li class="message {{level}}" about="{{instance.path}}">
                      <div class="alert alert-danger" role="alert">{{message}}</div>
                  </li>
              {{/errors}}
            </ul>
        {{/errors.size}}
        <div class="form-inline token">
            <input type="hidden" name="@type" value="Person" />
            <div class="form-group">
                <label class="sr-only" for="token-email">{{i18n.email_address}}</label>
                <input type="email" name="email" id="token-email" required="required" class="form-control input-lg" placeholder="{{i18n.placeholder_email}}" />
            </div>
            <button class="btn btn-lg btn-default" type="submit"><span class="loading-indicator"><i class="fa fa-spinner fa-pulse"></i></span>{{i18n.user_token_request}}</button>
        </div>
    </form>
</section>
