java.version="1.8"
es.host.server="localhost"
es.host.port="9300"
es.index.name="oerworldmap"
es.index.type="worldmap"
es.cluster.name="oerworldmaps"
filerepo.dir="/tmp/resources"
mail.smtp.host=""
mail.smtp.port=465
mail.smtp.user=""
mail.smtp.password=""