{{getIcon @type}}
<a href="/resource/?filter.about.about.@id={{[@id]}}">
    {{#localized this.name language=@root.language}}
        {{[@value]}}
    {{else}}
        {{[@id]}}
    {{/localized}}
</a>
{{#if this.narrower}}
    <ul style="list">
        {{#narrower}}
            <li>{{>ResourceIndex/Concept/read.mustache}}</li>
        {{/narrower}}
    </ul>
{{/if}}
