<section>
    <form action="/user/" method="post">
        <p class="lead">{{i18n.landingpage_call_to_register}}<br /><small>{{{i18n.landingpage_call_to_register_priv}}}</small></p>
        {{#errors.size}}
        <ul id="messages">
        {{#errors}}
            <li class="message {{level}}" about="{{instance.path}}">
                <div class="alert alert-danger" role="alert">{{message}}</div>
            </li>
        {{/errors}}
        </ul>
        {{/errors.size}}
        <div class="form-inline register">
            <input type="hidden" name="@type" value="Person" />
            <div class="form-group">
                <label class="sr-only" for="register-email">{{i18n.email_address}}</label>
                <input type="email" name="email" required="required" id="register-email" class="form-control input-lg" value="{{person.email}}" placeholder="{{i18n.placeholder_email}}" />
            </div>

            <div class="form-group">
                <label class="sr-only" for="register-country">{{i18n.country}}</label>
                <input type="hidden" name="workLocation[@type]" value="Place" />
                <input type="hidden" name="workLocation[address][@type]" value="PostalAddress" />
                <select required="required" class="form-control input-lg" name="workLocation[address][addressCountry]" id="register-country">
                    <option value="">{{i18n.select_country}}</option>
                    {{#countries}}
                    <option value="{{alpha-2}}">{{name}}</option>
                    {{/countries}}
                </select>
            </div>

            <button class="btn btn-lg btn-default" type="submit"><span class="loading-indicator"><i class="fa fa-spinner fa-pulse"></i></span>{{i18n.register}}</button>
        </div>
    </form>
</section>
