<section>
    <form action="/user/" method="post">
        <div class="form-inline register">

            <div class="form-group">
                <label class="sr-only" for="register-email">{{i18n.email_address}}</label>
                <input type="email" name="email" id="register-email" class="form-control input-lg" placeholder="{{i18n.placeholder_email}}" />
            </div>

            <div class="form-group">

                <label class="sr-only" for="register-country">{{i18n.country}}</label>
                <select class="form-control input-lg" name="address[addressCountry]" id="register-country">
                    <option value="">{{i18n.select_country}}</option>
                    {{#countries}}
                    <option value="{{alpha-2}}">{{name}}</option>
                    {{/countries}}
                </select>
            </div>

            <button type="submit" class="btn btn-lg btn-defaul" type="button">{{i18n.register}}</button>
        </div>
    </form>
</section>
