<div role="main">
    <section>
        <form class="hijax" action="/user/" method="post" target="_self">
            <p class="lead">{{i18n.landingpage_call_to_register}}<br /><small>{{{i18n.landingpage_call_to_register_priv}}}</small></p>
            {{#messages.size}}
            <ul id="messages">
            {{#messages}}
                <li class="message {{level}}">
                    <div class="alert alert-{{level}}" role="alert">{{{message}}}</div>
                </li>
            {{/messages}}
            </ul>
            {{/messages.size}}
            <div class="form-inline register">
                <input type="hidden" name="@type" value="Person" />
                <div class="form-group">
                    <label class="sr-only" for="register-email">{{i18n.email_address}}</label>
                    <input type="email" name="email" required id="register-email" class="form-control input-lg" value="{{scope.user.email}}" placeholder="{{i18n.placeholder_email}}" />
                </div>

                <div class="form-group">
                    <label class="sr-only" for="register-country">{{i18n.country}}</label>
                    <input type="hidden" name="location[@type]" value="Place" />
                    <input type="hidden" name="location[address][@type]" value="PostalAddress" />
                    <select class="form-control input-lg" name="location[address][addressCountry]" required id="register-country">
                        <option value="">{{i18n.select_country}}</option>
                        {{#scope.countries}}
                        <option value="{{alpha-2}}">{{name}}</option>
                        {{/scope.countries}}
                    </select>
                </div>

                <button class="btn btn-lg btn-default" type="submit"><span class="loading-indicator"><i class="fa fa-spinner fa-pulse"></i></span>{{i18n.register}}</button>
            </div>
        </form>
    </section>
</div>
