<div role="complementary" data-view="map" data-focus="{{#scope.mentions}}{{@id}} {{/scope.mentions}}" class="color-scheme-map column-medium">
    <a href="/aggregation/" class="hijax transclude map-view-hidden" target="_self">Aggregations</a>
</div>

<div role="main" class="color-scheme-text container column-medium">
    {{#scope}}
        <article class="resource-story">
            <script type="application/ld+json">
                {{{.}}}
            </script>
            <h1><i class="fa fa-comment"></i> {{#name}}{{@value}}{{/name}}</h1>
            
            <div class="clearfix">
                <strong>Contributed by</strong>
                <ul class="csl">
                  {{#creator}}
                      <li>
                          <a href="/resource/{{@id}}">
                            {{#name}}{{@value}}{{/name}}
                          </a>
                      </li>
                  {{/creator}}
                </ul>
            </div>
            
            <hr/>
            
            {{#image}}
                <div class="paragraph-image">
                  <img src="{{.}}" width="250" />
                </div>
            {{/image}}
          {{#articleBody}}{{{@value}}}{{/articleBody}}
          {{#keywords.size}}
          <h2>Keywords</h2>
          <ul>
              {{#keywords}}<li><a href='/resource/?q="{{.}}" '>{{.}}</a></li>{{/keywords}}
          </ul>
          {{/keywords.size}}
        </article>
        <aside>
        
            <hr/>
                        
            <h2>Related</h2>
            
            <ul class="fa-ul related-list">
                <script type="application/ld+json">
                    {{{mentions}}}
                </script>
                <script type="application/ld+json">
                    {{{mainEntity}}}
                </script>
                {{#mainEntity}}
                    <li about="{{@id}}">
                        {{> (stringFormat "ResourceIndex/%s/link.mustache" @type) }}
                    </li>
                {{/mainEntity}}
                {{#mentions}}
                    <li about="{{@id}}">
                        {{> (stringFormat "ResourceIndex/%s/link.mustache" @type) }}
                    </li>
                {{/mentions}}
            </ul>
            {{^mentions}}
                <em>No related entities found</em>
            {{/mentions}}
        
        </aside>

        
    {{/scope}}
</div>
