<div role="complementary" class="color-scheme-map column large" data-view="map"></div>
<div role="main" class="column small">
  {{#scope.countryAggregation}}
    <table class="table" about="#users-by-country">
      <script type="application/ld+json">
        {{json .}}
      </script>
      <thead>
        <tr>
          <th>Country</th>
          <th>Users</th>
          <th>Organizations</th>
          <th>Stories</th>
          <th>Champions</th>
        </tr>
      </thead>
      <tbody>
      {{#[about.location.address.addressCountry].buckets}}
        <tr about="#{{key}}">
          <td><a href="/country/{{key}}">{{key}}</a></td>
          {{#by_type.buckets}}
            <td>{{doc_count}}</td>
          {{/by_type.buckets}}
        </tr>
      {{/[about.location.address.addressCountry].buckets}}
      </tbody>
    </table>
  {{/scope.countryAggregation}}
    <div class="row">
        <div class="col-md-6">
          <h2>Entries by type</h2>
          {{pieChart scope.typeAggregation.[about.@type] width=200 height=200 href-template="/resource/?filter.about.@type={key}"}}
        </div>
        <div class="col-md-6">
          <h2>Entries by country</h2>
          {{pieChart scope.countryAggregation.[about.location.address.addressCountry] width=200 height=200 href-template="/country/{key}"}}
        </div>
    </div>
</div>
