{{#property}}
<fieldset>

  <legend>{{i18n "ResourceIndex.PostalAddress.edit.address"}}</legend>
  {{input (stringFormat "%s[streetAddress]" property_path) streetAddress}}
  {{input (stringFormat "%s[addressLocality]" property_path) addressLocality}}
  {{input (stringFormat "%s[postalCode]" property_path) postalCode}}
  {{input (stringFormat "%s[addressRegion]" property_path) addressRegion}}
  {{input (stringFormat "%s[addressCountry]" property_path) addressCountry}}

</fieldset>
{{/property}}
{{^property}}
    <fieldset>

        <legend>{{i18n "ResourceIndex.PostalAddress.edit.address"}}</legend>
        {{input (stringFormat "%s[streetAddress]" property_path) streetAddress}}
        {{input (stringFormat "%s[addressLocality]" property_path) addressLocality}}
        {{input (stringFormat "%s[postalCode]" property_path) postalCode}}
        {{input (stringFormat "%s[addressRegion]" property_path) addressRegion}}
        {{input (stringFormat "%s[addressCountry]" property_path) addressCountry}}

    </fieldset>
{{/property}}
