<fieldset>

    <div class="hidden">
        <legend>Event</legend>
        {{input "@type" "Event" readonly="readonly"}}
        {{input "@id" [@id] readonly="readonly"}}
    </div>

    {{> FormElements/localizedInput.mustache property=name property_path="name" title=(i18n "Event.name") tooltip=(i18n "Event.name" bundle="descriptions")}}

    {{> FormElements/localizedInput.mustache property=alternateName property_path="alternateName" title=(i18n "Event.alternateName") tooltip=(i18n "Event.alternateName" bundle="descriptions")}}

    {{> FormElements/input.mustache property=url property_path="url" title=(i18n "Event.url") tooltip=(i18n "Event.url" bundle="descriptions") hidden=false multiple=false input_type="url"}}

    {{> FormElements/input.mustache property=email property_path="email" title=(i18n "Event.email") tooltip=(i18n "Event.email" bundle="descriptions") hidden=false multiple=false input_type="email"}}

    {{> FormElements/localizedTextarea.mustache property=description property_path="description" title=(i18n "Event.description") tooltip=(i18n "Event.description" bundle="descriptions")}}

    {{> FormElements/input.mustache property=image property_path="image" title=(i18n "Event.image") tooltip=(i18n "Event.image" bundle="descriptions") hidden=false multiple=false input_type="url"}}

    {{> FormElements/input.mustache property=startDate property_path="startDate" title=(i18n "Event.startDate") tooltip=(i18n "Event.startDate" bundle="descriptions") hidden=false multiple=false input_type="text"}}

    {{> FormElements/input.mustache property=endDate property_path="endDate" title=(i18n "Event.endDate") tooltip=(i18n "Event.endDate" bundle="descriptions") hidden=false multiple=false input_type="text"}}

    {{> ResourceIndex/Place/edit.mustache property=location property_path="location" title=(i18n "Event.location") tooltip=(i18n "Event.location" bundle="descriptions")}}

    {{> FormElements/id.mustache property=mainEntityOf property_path="mainEntityOf" title=(i18n "Event.mainEntityOf") tooltip=(i18n "Event.mainEntityOf" bundle="descriptions") hidden=true multiple=true lookup_url="/resource/?filter.about.@type=Article"}}

    {{> FormElements/id.mustache property=mentionedIn property_path="mentionedIn" title=(i18n "Event.mentionedIn") tooltip=(i18n "Event.mentionedIn" bundle="descriptions") hidden=true multiple=true lookup_url="/resource/?filter.about.@type=Article"}}

    {{> FormElements/input.mustache property=sameAs property_path="sameAs" title=(i18n "Event.sameAs") tooltip=(i18n "Event.sameAs" bundle="descriptions") hidden=false multiple=true input_type="url"}}

    {{> FormElements/input.mustache property=recordedIn property_path="recordedIn" title=(i18n "Event.recordedIn") tooltip=(i18n "Event.recordedIn" bundle="descriptions") hidden=false multiple=true input_type="url"}}

    {{> FormElements/select.mustache property=inLanguage property_path="inLanguage" title=(i18n "Event.inLanguage") tooltip=(i18n "Event.inLanguage" bundle="descriptions") multiple=true input_type="text" options="languages"}}

    {{> FormElements/id.mustache property=organizer property_path="organizer" title=(i18n "Event.organizer") tooltip=(i18n "Event.organizer" bundle="descriptions") hidden=false multiple=true lookup_url="/resource/?filter.about.@type=Organization&filter.about.@type=Person"}}

    {{> FormElements/id.mustache property=performer property_path="performer" title=(i18n "Event.performer") tooltip=(i18n "Event.performer" bundle="descriptions") hidden=false multiple=true lookup_url="/resource/?filter.about.@type=Person"}}

    {{> FormElements/id.mustache property=about property_path="about" title=(i18n "Event.about") tooltip=(i18n "Event.about" bundle="descriptions") hidden=false multiple=true lookup_url="/assets/json/esc.json"}}

    {{> FormElements/input.mustache property=hashtag property_path="hashtag" title=(i18n "Event.hashtag") tooltip=(i18n "Event.hashtag" bundle="descriptions") hidden=false multiple=false input_type="text"}}

    {{> FormElements/input.mustache property=keywords property_path="keywords" title=(i18n "Event.keywords") tooltip=(i18n "Event.keywords" bundle="descriptions") hidden=false multiple=true input_type="text" list="keywords"}}

    {{> FormElements/id.mustache property=comment property_path="comment" title=(i18n "Event.comment") tooltip=(i18n "Event.comment" bundle="descriptions") hidden=true multiple=true lookup_url="/resource/?filter.about.@type=Comment"}}

</fieldset>
