<div
    role="complementary"
    data-view="map"
    data-focus="{{#scope}}{{@id}}{{/scope}}"
    class="color-scheme-map column-medium"
>
    <div class="hidden">
        <a href="/aggregation/" class="hijax transclude map-view-hidden" target="_self">Aggregations</a>
    </div>
</div>

<div role="main" class="column column-medium color-scheme-text bg-blue-palest">
    <div class="column-container">

        {{#scope}}

            <article class="resource" data-behaviour="populateMap">

                <script type="application/ld+json">
                    {{{.}}}
                </script>

                {{#if user.email}}
                    <button class="btn btn-inverted resource-edit-btn" data-toggle="modal" data-target="#resource-edit">
                        <i class="fa fa-pencil"></i>
                    </button>
                {{/if}}

                <div class="resource-header">

                    <h1 class="resource-title">
                        {{getIcon @type}}
                        {{#localized name}}
                            {{[@value]}}
                        {{else}}
                            {{[@id]}}
                        {{/localized}}
                    </h1>

                </div>

                {{#image}}
                    <div class="paragraph-image">
                        <a href="{{.}}" target="_blank">
                            <img src="{{.}}" width="150" />
                        </a>
                    </div>
                {{/image}}

                {{#localized description}}
                    <p>{{{[@value]}}}</p>
                {{/localized}}

                <table class="table resource-details-table">

                    <tr>
                        <td>{{i18n "Event.email"}}</td>
                        <td>
                             <a href="mailto:{{{obfuscate email}}}">{{{obfuscate email}}}</a>
                        </td>
                    </tr>

                    {{#url}}
                        <tr>
                            <td>{{i18n "Event.url"}}</td>
                            <td>
                                 <a href="{{url}}">{{url}}</a>
                            </td>
                        </tr>
                    {{/url}}

                    {{#hashtag}}
                        <tr>
                            <td>{{i18n "Event.hashtag"}}</td>
                            <td>
                                {{hashtag}}
                            </td>
                        </tr>
                    {{/hashtag}}

                    {{#location}}
                        <tr>
                            <td>{{i18n "Event.location"}}</td>
                            <td>
                                {{#location}}
                                    {{>ResourceIndex/Place/read.mustache}}
                                {{/location}}
                            </td>
                        </tr>
                    {{/location}}

                    {{#if alternateName}}
                        <tr>
                            <td>{{i18n "Event.alternateName"}}</td>
                            <td>
                                <ul class="comma-seperated-list">
                                    {{#localized alternateName}}
                                        <li>{{[@value]}}</li>
                                    {{/localized}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if startDate}}
                        <tr>
                            <td>{{i18n "Event.startDate"}} - {{i18n "Event.endDate"}}</td>
                            <td>{{startDate}} - {{endDate}}</td>
                        </tr>
                    {{/if}}

                    {{#if organizer}}
                        <tr>
                            <td>{{i18n "Event.organizer"}}</td>
                            <td>
                                <ul class="resource-list truncated">
                                    {{#organizer}}
                                        <li>{{>ResourceIndex/link.mustache}}</li>
                                    {{/organizer}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if performer}}
                        <tr>
                            <td>{{i18n "Event.performer"}}</td>
                            <td>
                                <ul class="resource-list truncated">
                                    {{#performer}}
                                        <li>{{>ResourceIndex/link.mustache}}</li>
                                    {{/performer}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if about}}
                        <tr>
                            <td>{{i18n "Event.about"}}</td>
                            <td>
                                <ul class="resource-list truncated">
                                    {{#about}}
                                        <li>{{>ResourceIndex/link.mustache}}</li>
                                    {{/about}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if tag}}
                        <tr>
                            <td>{{i18n "Event.tag"}}</td>
                            <td>
                                <ul class="comma-seperated-list">
                                    {{#tag}}
                                        <li><a href="/resource/?filter.about.tag={{.}}">{{.}}</a></li>
                                    {{/tag}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if inLanguage}}
                        <tr>
                            <td>{{i18n "Event.inLanguage"}}</td>
                            <td>
                                <ul class="comma-seperated-list">
                                    {{#inLanguage}}
                                        <li>{{i18n . bundle = "languages"}}</li>
                                    {{/inLanguage}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if recordedIn}}
                        <tr>
                            <td>{{i18n "Event.recordedIn"}}</td>
                            <td>
                                <ul class="resource-list truncated">
                                    {{#recordedIn}}
                                        <li>{{externalLink .}}</li>
                                    {{/recordedIn}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if sameAs}}
                        <tr>
                            <td>{{i18n "Event.sameAs"}}</td>
                            <td>
                                <ul class="resource-list truncated">
                                    {{#sameAs}}
                                        <li>{{externalLink .}}</li>
                                    {{/sameAs}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if mainEntityOf}}
                        <tr>
                            <td>{{i18n "Event.startDate"}}</td>
                            <td>
                                <ul class="resource-list truncated">
                                    {{#mainEntityOf}}
                                        <li>{{>ResourceIndex/link.mustache}}</li>
                                    {{/mainEntityOf}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if mentionedIn}}
                        <tr>
                            <td>{{i18n "Event.mentionedIn"}}</td>
                            <td>
                                <ul class="resource-list truncated">
                                    {{#mentionedIn}}
                                        <li>{{>ResourceIndex/link.mustache}}</li>
                                    {{/mentionedIn}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                </table>

            </article>

        {{/scope}}
    </div>
</div>

<div class="modal fade resource-form-modal" id="resource-edit">
    <div class="modal-dialog">
        <div class="modal-content bg-blue-palest color-scheme-text">
            <div class="modal-body clearfix">

                <h1>Edit Event</h1>

                <form method="post" class="edit hijax" target="edit-event-feedback">

                    <div id="edit-event-feedback"></div>

                    {{> ResourceIndex/Event/edit.mustache scope}}

                    <div class="pull-right resource-form-top-padding">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Quit</button>
                        <button type="submit" class="btn btn-inverted">Save Changes</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
