{{#if startDate}}
    <span>
        {{#if endDate}}
            {{daterange startDate endDate}}
        {{else}}
            {{momentWrapper startDate "D. MMM YYYY"}}
        {{/if}}
    </span>
{{/if}}

{{#if location}}
    <span>
        {{formatLocation "city_country" location ""}}
    </span>
{{/if}}

{{#if additionalType}}
    <span>
        {{i18n "additionalType"}}:
        {{#additionalType}}
            {{.}}{{#unless @last}},{{/unless}}
        {{/additionalType}}
    </span>
{{/if}}
