<fieldset>

    <div class="hidden">
        <legend>{{i18n "Organization"}}</legend>
        {{input "@type" "Organization" readonly="readonly"}}
        {{input "@id" [@id] readonly="readonly"}}
    </div>

    {{> FormElements/localizedInput.mustache property=name property_path="name" title=(i18n "Organization.name") tooltip=(i18n "Organization.name" bundle="descriptions")}}

    {{> FormElements/localizedInput.mustache property=displayName property_path="displayName" title=(i18n "Organization.displayName") tooltip=(i18n "Organization.displayName" bundle="descriptions")}}

    {{> FormElements/input.mustache property=url property_path="url" title=(i18n "Organization.url") tooltip=(i18n "Organization.url" bundle="descriptions") hidden=false multiple=false input_type="url"}}

    {{> FormElements/input.mustache property=email property_path="email" title=(i18n "Organization.email") tooltip=(i18n "Organization.email" bundle="descriptions") hidden=false multiple=false input_type="email"}}

    {{> FormElements/localizedTextarea.mustache property=description property_path="description" title=(i18n "Organization.description") tooltip=(i18n "Organization.description" bundle="descriptions")}}

    {{> FormElements/input.mustache property=additionalType property_path="additionalType" title=(i18n "Organization.additionalType") tooltip=(i18n "Organization.additionalType" bundle="descriptions") hidden=true multiple=true input_type="text"}}

    {{#if ../../permissions.administer}}
        {{> FormElements/select.mustache property=countryChampionFor property_path="countryChampionFor" title=(i18n "Organization.countryChampionFor") tooltip=(i18n "Organization.countryChampionFor" bundle="descriptions") hidden=false multiple=true input_type="text" options="iso3166-1-alpha-2"}}
    {{else}}
        {{> FormElements/select.mustache property=countryChampionFor property_path="countryChampionFor" title=(i18n "Organization.countryChampionFor") tooltip=(i18n "Organization.countryChampionFor" bundle="descriptions") hidden=true multiple=true input_type="text" options="iso3166-1-alpha-2"}}
    {{/if}}

    {{> FormElements/localizedInput.mustache property=alternateName property_path="alternateName" title=(i18n "Organization.alternateName") tooltip=(i18n "Organization.alternateName" bundle="descriptions")}}

    {{> FormElements/input.mustache property=image property_path="image" title=(i18n "Organization.image") tooltip=(i18n "Organization.image" bundle="descriptions") hidden=false multiple=false input_type="url"}}

    {{> ResourceIndex/Place/edit.mustache property=location property_path="location" title=(i18n "Organization.location") tooltip=(i18n "Organization.location" bundle="descriptions")}}

    {{> FormElements/id.mustache property=contactPoint property_path="contactPoint" title=(i18n "Organization.contactPoint") tooltip=(i18n "Organization.contactPoint" bundle="descriptions") hidden=false multiple=true lookup_url="/resource/?filter.about.@type=Person"}}

    {{> FormElements/id.mustache property=created property_path="created" title=(i18n "Organization.created") tooltip=(i18n "Organization.created" bundle="descriptions") hidden=true multiple=true lookup_url="/resource/?filter.about.@type=Article"}}

    {{> FormElements/id.mustache property=mentionedIn property_path="mentionedIn" title=(i18n "Organization.mentionedIn") tooltip=(i18n "Organization.mentionedIn" bundle="descriptions") hidden=true multiple=true lookup_url="/resource/?filter.about.@type=Article"}}

    {{> FormElements/id.mustache property=participantIn property_path="participantIn" title=(i18n "Organization.participantIn") tooltip=(i18n "Organization.participantIn" bundle="descriptions") hidden=true multiple=true lookup_url="/resource/?filter.about.@type=Action"}}

    {{> FormElements/id.mustache property=provides property_path="provides" title=(i18n "Organization.provides") tooltip=(i18n "Organization.provides" bundle="descriptions") hidden=true multiple=true lookup_url="/resource/?filter.about.@type=Service"}}

    {{> FormElements/id.mustache property=agentIn property_path="agentIn" title=(i18n "Organization.agentIn") tooltip=(i18n "Organization.agentIn" bundle="descriptions") hidden=true multiple=true lookup_url="/resource/?filter.about.@type=Action"}}

    {{> FormElements/id.mustache property=member property_path="member" title=(i18n "Organization.member") tooltip=(i18n "Organization.member" bundle="descriptions") hidden=true multiple=true lookup_url="/resource/?filter.about.@type=Organization"}}

    {{> FormElements/id.mustache property=memberOf property_path="memberOf" title=(i18n "Organization.memberOf") tooltip=(i18n "Organization.memberOf" bundle="descriptions") hidden=false multiple=true lookup_url="/resource/?filter.about.@type=Organization&filter.about.@type=Service"}}

    {{> FormElements/id.mustache property=affiliate property_path="affiliate" title=(i18n "Organization.affiliate") tooltip=(i18n "Organization.affiliate" bundle="descriptions") hidden=true multiple=true lookup_url="/resource/?filter.about.@type=Person"}}

    {{> FormElements/input.mustache property=sameAs property_path="sameAs" title=(i18n "Organization.sameAs") tooltip=(i18n "Organization.sameAs" bundle="descriptions") hidden=false multiple=true input_type="url"}}

    {{> FormElements/id.mustache property=organizerFor property_path="organizerFor" title=(i18n "Organization.organizerFor") tooltip=(i18n "Organization.organizerFor" bundle="descriptions") hidden=false multiple=true lookup_url="/resource/?filter.about.@type=Event"}}

    {{> FormElements/input.mustache property=keywords property_path="keywords" title=(i18n "Organization.keywords") tooltip=(i18n "Organization.keywords" bundle="descriptions") hidden=false multiple=true input_type="text" list="keywords"}}

    {{> FormElements/id.mustache property=publication property_path="publication" title=(i18n "Organization.publication") tooltip=(i18n "Organization.publication" bundle="descriptions") hidden=false multiple=true lookup_url="/resource/?filter.about.@type=WebPage"}}

    {{> FormElements/id.mustache property=comment property_path="comment" title=(i18n "Organization.comment") tooltip=(i18n "Organization.comment" bundle="descriptions") hidden=true multiple=true lookup_url="/resource/?filter.about.@type=Comment"}}

    {{> ResourceIndex/Grant/edit.mustache property=awards property_path="awards" hidden=true}}

</fieldset>
