<fieldset>

    <div class="hidden">
        <legend>Organization</legend>
        {{input "@type" "Organization" readonly="readonly"}}
        {{input "@id" [@id] readonly="readonly"}}
    </div>

    {{> FormElements/localizedInput.mustache property=name key="name" title=(i18n "Organization.name")}}

    {{> FormElements/input.mustache property=url key="url" title=(i18n "Organization.url") multiple=false type="url"}}

    {{> FormElements/input.mustache property=email key="email" title=(i18n "Organization.email") multiple=false type="email"}}

    {{> FormElements/localizedTextarea.mustache property=description key="description" title=(i18n "Organization.description")}}

    {{> FormElements/input.mustache property=additionalType key="additionalType" title=(i18n "Organization.additionalType") multiple=true type="text"}}

    {{> FormElements/select.mustache property=countryChampionFor key="countryChampionFor" title=(i18n "Organization.countryChampionFor") multiple=true type="text" options="countries"}}

    {{> FormElements/localizedInput.mustache property=alternateName key="alternateName" title=(i18n "Organization.alternateName")}}

    {{> FormElements/input.mustache property=image key="image" title=(i18n "Organization.image") multiple=false type="url"}}

    {{> ResourceIndex/Place/edit.mustache property=location key="location" title=(i18n "Organization.location")}}

    {{> FormElements/id.mustache property=contactPoint key="contactPoint" title=(i18n "Organization.contactPoint") multiple=true lookup_url="/resource/?filter.about.@type=Person"}}

    {{> FormElements/id.mustache property=created key="created" title=(i18n "Organization.created") multiple=true lookup_url="/resource/?filter.about.@type=Article"}}

    {{> FormElements/id.mustache property=mainEntityOf key="mainEntityOf" title=(i18n "Organization.mainEntityOf") multiple=true lookup_url="/resource/?filter.about.@type=Article"}}

    {{> FormElements/id.mustache property=mentionedIn key="mentionedIn" title=(i18n "Organization.mentionedIn") multiple=true lookup_url="/resource/?filter.about.@type=Article"}}

    {{> FormElements/id.mustache property=participantIn key="participantIn" title=(i18n "Organization.participantIn") multiple=true lookup_url="/resource/?filter.about.@type=Action"}}

    {{> FormElements/id.mustache property=provides key="provides" title=(i18n "Organization.provides") multiple=true lookup_url="/resource/?filter.about.@type=Service"}}

    {{> FormElements/id.mustache property=agentIn key="agentIn" title=(i18n "Organization.agentIn") multiple=true lookup_url="/resource/?filter.about.@type=Action"}}

    {{> FormElements/id.mustache property=member key="member" title=(i18n "Organization.member") multiple=true lookup_url="/resource/?q=(about.@type:Organization%20OR%20about.@type:Person)"}}

    {{> FormElements/id.mustache property=memberOf key="memberOf" title=(i18n "Organization.memberOf") multiple=true lookup_url="/resource/?q=(about.@type:Organization%20OR%20about.@type:Service)"}}

    {{> FormElements/input.mustache property=sameAs key="sameAs" title=(i18n "Organization.sameAs") multiple=true type="url"}}

</fieldset>
