<div role="complementary" data-view="map" data-focus="{{#scope}}{{@id}}{{/scope}}" class="color-scheme-map column medium">
    <a href="/aggregation/" class="hijax transclude map-view-hidden" target="_self">Aggregations</a>
</div>
<div role="main" class="color-scheme-text container column medium">
    {{#scope}}
        <div class="resource-organization">
            <script type="application/ld+json">
                {{{.}}}
            </script>
            <h1><i class="fa fa-users"></i> {{#name}}{{@value}}{{/name}} ({{@type}})</h1>
            <p><a href="{{url}}">{{url}}</a></p>
            <div class="img130text">
                
                {{#image}}
                    <img src="{{.}}" class="img" />
                {{/image}}
                {{^image}}
                    <div class="img placeholder"></div>
                {{/image}}
                
                <div class="text">
                    <a href="mailto:{{{obfuscate email}}}">{{{obfuscate email}}}</a><br />
                    {{#location}}{{>ResourceIndex/Place/read.mustache}}{{/location}}
                </div>
                
            </div>
            {{#countryChampionFor}}<p>Country Champion for <a href="/country/{{.}}">{{.}}</a></p>{{/countryChampionFor}}
            <p>{{#description}}{{{@value}}}{{/description}}</p>
        </div>

        <hr/>
        
        <h2>{{i18n.mentioned_in}}</h2>
        
        <ul class="fa-ul related-list">
            <script type="application/ld+json">
                {{{referencedBy}}}
            </script>
            {{#referencedBy}}
                <li about="{{@id}}">
                    {{> (stringFormat "ResourceIndex/%s/link.mustache" @type) }}
                </li>
            {{/referencedBy}}
        </ul>
        {{^referencedBy}}
            <em>No related entities found</em>
        {{/referencedBy}}        

    {{/scope}}
</div>
