<div
    role="complementary"
    data-view="map"
    data-focus="{{#scope}}{{@id}}{{/scope}}"
    class="color-scheme-map column-medium"
>
    <div class="hidden">
        <a href="/aggregation/" class="hijax transclude map-view-hidden" target="_self">Aggregations</a>
    </div>
</div>

<div role="main" class="column column-medium color-scheme-text bg-blue-palest">
    <div class="column-container">

        {{#scope}}

            <article class="resource" data-behaviour="populateMap">

                <script type="application/ld+json">
                    {{{.}}}
                </script>

                {{#if user.email}}
                    <button class="btn btn-inverted resource-edit-btn" data-toggle="modal" data-target="#resource-edit">
                        <i class="fa fa-pencil"></i>
                    </button>
                    <a target="_blank" href="/log/{{[@id]}}" class="btn btn-inverted resource-edit-btn">
                        <i class="fa fa-history"></i>
                    </a>
                {{/if}}

                <div class="resource-header">

                    <h1 class="resource-title">
                        {{getIcon @type}}
                        {{#localized name}}
                            {{[@value]}}
                        {{else}}
                            {{[@id]}}
                        {{/localized}}
                    </h1>

                    {{#countryChampionFor}}
                        <div class="resource-subline">
                            {{i18n "Organization.countryChampionFor"}} <a href="/country/{{.}}">{{i18n . bundle="countries"}}</a>
                        </div>
                    {{/countryChampionFor}}

                </div>

                {{#image}}
                    <div class="paragraph-image">
                        <a href="{{.}}" target="_blank">
                            <img src="{{.}}" width="150" />
                        </a>
                    </div>
                {{/image}}

                {{#localized description}}
                    <p>{{{[@value]}}}</p>
                {{/localized}}

                {{#url}}
                    <p>
                        <a href="{{.}}" target="_blank" class="btn btn-default">
                            <i class="fa fa-external-link"></i>
                            {{stripProtocol .}}
                        </a>
                    </p>
                {{/url}}

                <table class="table resource-details-table">

                    {{#if email}}
                        <tr>
                            <td>{{i18n "Organization.email"}}</td>
                            <td>
                                <a href="mailto:{{{obfuscate email}}}">{{{obfuscate email}}}</a>
                            </td>
                        </tr>
                    {{/if}}

                    <tr>
                        <td>{{i18n "Organization.location"}}</td>
                        <td>
                            {{#location}}
                                {{>ResourceIndex/Place/read.mustache}}
                            {{/location}}
                        </td>
                    </tr>

                    {{#if sameAs}}
                        <tr>
                            <td>{{i18n "Organization.sameAs"}}</td>
                            <td>
                                <ul class="resource-list truncated">
                                    {{#sameAs}}
                                        <li>{{externalLink .}}</li>
                                    {{/sameAs}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if contactPoint}}
                        <tr>
                            <td>{{i18n "Organization.contactPoint"}}</td>
                            <td>
                                <ul class="resource-list truncated">
                                    {{#contactPoint}}
                                        <li>{{>ResourceIndex/link.mustache}}</li>
                                    {{/contactPoint}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if created}}
                        <tr>
                            <td>{{i18n "Organization.created"}}</td>
                            <td>
                                <ul class="resource-list truncated">
                                    {{#created}}
                                        <li>{{>ResourceIndex/link.mustache}}</li>
                                    {{/created}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if mainEntityOf}}
                        <tr>
                            <td>{{i18n "Organization.mainEntityOf"}}</td>
                            <td>
                                <ul class="resource-list truncated">
                                    {{#mainEntityOf}}
                                        <li>{{>ResourceIndex/link.mustache}}</li>
                                    {{/mainEntityOf}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if mentionedIn}}
                        <tr>
                            <td>{{i18n "Organization.mentionedIn"}}</td>
                            <td>
                                <ul class="resource-list truncated">
                                    {{#mentionedIn}}
                                        <li>{{>ResourceIndex/link.mustache}}</li>
                                    {{/mentionedIn}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if participantIn}}
                        <tr>
                            <td>{{i18n "Organization.participantIn"}}</td>
                            <td>
                                <ul class="resource-list truncated">
                                    {{#participantIn}}
                                        <li>{{>ResourceIndex/link.mustache}}</li>
                                    {{/participantIn}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if provides}}
                        <tr>
                            <td>{{i18n "Organization.provides"}}</td>
                            <td>
                                <ul class="resource-list truncated">
                                    {{#provides}}
                                        <li>{{>ResourceIndex/link.mustache}}</li>
                                    {{/provides}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if memberOf}}
                        <tr>
                            <td>{{i18n "Organization.memberOf"}}</td>
                            <td>
                                <ul class="resource-list truncated">
                                    {{#memberOf}}
                                        <li>{{>ResourceIndex/link.mustache}}</li>
                                    {{/memberOf}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if member}}
                        <tr>
                            <td>{{i18n "Organization.member"}}</td>
                            <td>
                                <ul class="resource-list truncated">
                                    {{#member}}
                                        <li>{{>ResourceIndex/link.mustache}}</li>
                                    {{/member}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if funderOf}}
                        <tr>
                            <td>{{i18n "Organization.funderOf"}}</td>
                            <td>
                                <ul class="resource-list truncated">
                                    {{#funderOf}}
                                        <li>{{>ResourceIndex/link.mustache}}</li>
                                    {{/funderOf}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                </table>

            </article>

        {{/scope}}

    </div>
</div>

<div class="modal fade resource-form-modal" id="resource-edit">
    <div class="modal-dialog">
        <div class="modal-content bg-blue-palest color-scheme-text">
            <div class="modal-body clearfix">

                <h1>Edit Organization</h1>

                <form method="post" class="edit hijax" target="edit-organization-feedback">

                    <div id="edit-organization-feedback"></div>

                    {{> ResourceIndex/Organization/edit.mustache scope}}

                    <div class="pull-right resource-form-top-padding">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Quit</button>
                        <button type="submit" class="btn btn-inverted">Save Changes</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
