{{#if countryChampionFor}}
    <span>
        {{i18n (stringFormat "%s.countryChampionFor" @type)}}
        {{#countryChampionFor}}
            <a href="/country/{{.}}">{{i18n . bundle="countries"}}</a>{{#unless @last}},{{/unless}}
        {{/countryChampionFor}}
  </span>
{{/if}}

{{#if additionalType}}
    <span>
        Additional Type:
        {{#additionalType}}
            {{.}}{{#unless @last}},{{/unless}}
        {{/additionalType}}
    </span>
{{/if}}
