<div class="resource-form-widget" data-behaviour="place">

    <h4>Location</h4>

    {{#if property}}

        {{#with property}}
            <fieldset>

              <legend>Place</legend>
              {{> ResourceIndex/PostalAddress/edit.mustache property=address key="location[address]"}}
              {{> ResourceIndex/GeoCoordinates/edit.mustache property=geo key="location[geo]"}}

            </fieldset>
        {{/with}}

    {{else}}

        <fieldset>

            <legend>Place</legend>
            {{> ResourceIndex/PostalAddress/edit.mustache property=address key="location[address]"}}
            {{> ResourceIndex/GeoCoordinates/edit.mustache property=geo key="location[geo]"}}

        </fieldset>

    {{/if}}

</div>
