<div class="resource-form-widget" data-behaviour="place">

    <h4>{{title}}{{#tooltip}} <i class="fa fa-question-circle" title="{{.}}"></i>{{/tooltip}}</h4>

    {{#if property}}

        {{#with property}}
            <fieldset>

              <legend>{{title}}</legend>
              {{> ResourceIndex/PostalAddress/edit.mustache property=address property_path="location[address]"}}
              {{> ResourceIndex/GeoCoordinates/edit.mustache property=geo property_path="location[geo]"}}

            </fieldset>
        {{/with}}

    {{else}}

        <fieldset>

            <legend>{{title}}</legend>
            {{> ResourceIndex/PostalAddress/edit.mustache property=address property_path="location[address]"}}
            {{> ResourceIndex/GeoCoordinates/edit.mustache property=geo property_path="location[geo]"}}

        </fieldset>

    {{/if}}

</div>
