{{#location.address}}
  {{#streetAddress}}{{.}} <br />{{/streetAddress}}
  {{#addressLocality}}{{.}} <br />{{/addressLocality}}
  {{#postalCode}}{{.}} <br />{{/postalCode}}
  {{#addressCountry}}{{i18n . bundle = "countries"}}{{/addressCountry}}
{{/location.address}}
