{{#location.address}}
  {{#streetAddress}}{{.}} <br />{{/streetAddress}}
  {{#postalCode}}{{.}} {{/postalCode}}{{#addressLocality}}{{.}} <br />{{/addressLocality}}
  {{#addressCountry}}{{i18n . bundle = "countries"}}{{/addressCountry}}
{{/location.address}}
