<fieldset>
    <legend>Service</legend>
    {{input "@type" "Service" readonly="readonly"}}
    {{input "@id" [@id] readonly="readonly"}}

    {{! --- name --- }}
    <fieldset>
        <legend>Names</legend>
        {{#name}}
            <fieldset class="i18n">
                <legend>Name</legend>
                {{input (stringFormat "name[%s][@value]" @index) [@value]}}
                {{input (stringFormat "name[%s][@language]" @index) [@language]}}
            </fieldset>
        {{/name}}
        <fieldset class="i18n">
            <legend>Name</legend>
            {{input (stringFormat "name[%s][@value]" (size name)) ""}}
            {{input (stringFormat "name[%s][@language]" (size name)) ""}}
        </fieldset>
    </fieldset>

    {{! --- description --- }}
    {{#description}}
        <fieldset class="i18n">
            <legend>Description</legend>
            {{textarea (stringFormat "description[%s][@value]" @index) [@value]}}
            {{input (stringFormat "description[%s][@language]" @index) [@language]}}
        </fieldset>
    {{/description}}
    <fieldset class="i18n">
        <legend>Description</legend>
        {{textarea (stringFormat "description[%s][@value]" (size description)) ""}}
        {{input (stringFormat "description[%s][@language]" (size description)) ""}}
    </fieldset>

    {{! --- provider --- }}
    {{#provider}}
        {{input (stringFormat "provider[%s][@id]" @index) [@id] type="url"}}
    {{/provider}}
    {{input (stringFormat "provider[%s][@id]" (size provider)) "" type="url"}}

    {{! --- availableChannel --- }}
    {{#availableChannel}}
        <fieldset>
            <legend>Available Channel</legend>
            {{input (stringFormat "availableChannel[%s][serviceUrl]" @index) serviceUrl type="url"}}
            {{#availableLanguage}}
                {{input (stringFormat "availableChannel[%s][availableLanguage][%s]" ../@index @index) .}}
            {{/availableLanguage}}
            {{input (stringFormat "availableChannel[%s][availableLanguage][%s]" @index (size availableLanguage)) ""}}
        </fieldset>
    {{/availableChannel}}
    {{^availableChannel}}
        <fieldset>
            <legend>Available Channel</legend>
            {{input "availableChannel[0][serviceUrl]"  "" type="url"}}
            {{input "availableChannel[0][availableLanguage][0]" ""}}
        </fieldset>
    {{/availableChannel}}

    {{! --- audience --- }}
    {{#audience}}
        {{input (stringFormat "audience[%s][@id]" @index) [@id] type="url" }}
    {{/audience}}
    {{input (stringFormat "audience[%s][@id]" (size audience)) "" type="url" }}

    {{! --- about --- }}
    {{#about}}
        {{input (stringFormat "about[%s][@id]" @index) [@id] type="url" }}
    {{/about}}
    {{input (stringFormat "about[%s][@id]" (size about)) "" type="url" }}

</fieldset>
