<div role="complementary" data-view="map" data-focus="{{#scope}}{{@id}}{{/scope}} {{#scope.provider}}{{@id}} {{/scope.provider}}" class="color-scheme-map column-medium">
    <a href="/aggregation/" class="hijax transclude map-view-hidden" target="_self">Aggregations</a>
</div>

<div role="main" class="column column-medium color-scheme-text bg-blue-palest">
    <div class="column-container">

        {{#scope}}
        
            <div class="resource">
                
                <script type="application/ld+json">
                    {{{.}}}
                </script>
                
                <div class="resource-header">
                    <h1 class="resource-title">
                        <i class="fa fa-desktop"></i>
                        {{#name}}{{@value}}{{/name}}
                    </h1>
                </div>
                
                {{#image}}
                    <div class="paragraph-image">
                        <img src="{{.}}" width="250" />
                    </div>
                {{/image}}
                
                {{#description}}
                    <p>{{{@value}}}</p>
                {{/description}}
                
                {{#availableChannel}}{{#serviceUrl}}
                    <p>
                        <a href="{{.}}" target="_blank" class="btn btn-default">
                            <i class="fa fa-external-link"></i>
                            {{stripProtocol .}}
                        </a>
                    </p>
                {{/serviceUrl}}{{/availableChannel}}
                
                {{#serviceType}}
                    <h3>Service type</h3>
                    <p>{{.}}</p>
                {{/serviceType}}
                
                {{#availableChannel}}
                <div>
                    <h3>Available languages</h3>
                    <ul>
                        {{#availableLanguage}}<li>{{.}}</li>{{/availableLanguage}}
                    </ul>
                    <h3>Audience</h3>
                    <ul>
                        {{#audience}}<li><a href='/resource/?q="{{.}}"'>{{.}}</a></li>{{/audience}}
                    </ul>
                    <h3>Topics</h3>
                    <ul>
                        {{#about}}<li><a href='/resource/?q="{{.}}"'>{{.}}</a></li>{{/about}}
                    </ul>
                </div>
                {{/availableChannel}}
                
                <h3>Provider</h3>
                {{#provider}}
                  <ul>
                    {{> (stringFormat "ResourceIndex/%s/link.mustache" @type) }}
                  </ul>
                {{/provider}}
                
            </div>
            
            <hr/>
            
            <h2>{{i18n.mentioned_in}}</h2>
            <ul class="resource-list">
              {{#referencedBy}}
                <li>
                  {{> (stringFormat "ResourceIndex/%s/link.mustache" @type) }}
                </li>
              {{/referencedBy}}
            </ul>
            
        {{/scope}}
        
    </div>
</div>
