<div
    role="complementary"
    data-view="map"
    data-focus="{{#scope}}{{@id}}{{/scope}} {{#scope.provider}}{{@id}} {{/scope.provider}}"
    class="color-scheme-map column-medium"
>
    <div class="hidden">
        <a href="/aggregation/" class="hijax transclude map-view-hidden" target="_self">Aggregations</a>
    </div>
</div>

<div role="main" class="column column-medium color-scheme-text bg-blue-palest">
    <div class="column-container">

        {{#scope}}

            <div class="resource">

                <script type="application/ld+json">
                    {{{.}}}
                </script>

                <div class="resource-header">

                    {{#if user}}
                        <button class="btn btn-inverted resource-edit-btn" data-toggle="modal" data-target="#resource-edit">
                            <i class="fa fa-pencil"></i>
                        </button>
                    {{/if}}

                    <h1 class="resource-title">
                        <i class="fa fa-desktop"></i>
                        {{#name}}{{@value}}{{/name}}
                    </h1>

                    {{#serviceType}}
                        <div class="resource-subline">
                            <div class="resource-subline-label">Service Type</div>
                            {{.}}
                        </div>
                    {{/serviceType}}

                </div>

                {{#image}}
                    <div class="paragraph-image">
                        <a href="{{.}}" target="_blank">
                            <img src="{{.}}" width="250" />
                        </a>
                    </div>
                {{/image}}

                {{#description}}
                    <p>{{{@value}}}</p>
                {{/description}}

                {{#availableChannel}}{{#serviceUrl}}
                    <p>
                        <a href="{{.}}" target="_blank" class="btn btn-default">
                            <i class="fa fa-external-link"></i>
                            {{stripProtocol .}}
                        </a>
                    </p>
                {{/serviceUrl}}{{/availableChannel}}

                <table class="table resource-details-table">

                    <tr>
                        <td>Languages</td>
                        <td>
                            <ul class="comma-seperated-list">
                                {{#availableChannel}}
                                    {{#availableLanguage}}
                                        <li>{{i18n . bundle = "languages"}}</li>
                                    {{/availableLanguage}}
                                {{/availableChannel}}
                            </ul>
                        </td>
                    </tr>

                    <tr>
                        <td>Audience</td>
                        <td>
                            <ul class="resource-list truncated">
                                {{#audience}}
                                    <li>{{> (stringFormat "ResourceIndex/%s/link.mustache" @type) }}</li>
                                {{/audience}}
                            </ul>
                        </td>
                    </tr>

                    {{#if provider}}
                        <tr>
                            <td>Provider</td>
                            <td>
                                <ul class="resource-list truncated">
                                    {{#provider}}
                                        <li>{{> (stringFormat "ResourceIndex/%s/link.mustache" @type) }}</li>
                                    {{/provider}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if about}}
                        <tr>
                            <td>Subjects</td>
                            <td>
                                <ul class="resource-list truncated">
                                    {{#about}}
                                        <li>{{> (stringFormat "ResourceIndex/%s/link.mustache" @type) }}</li>
                                    {{/about}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if sameAs}}
                        <tr>
                            <td>Links</td>
                            <td>
                                <ul class="resource-list truncated">
                                    {{#sameAs}}
                                        <li>{{externalLink .}}</li>
                                    {{/sameAs}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if memberOf}}
                        <tr>
                            <td>Member of</td>
                            <td>
                                <ul class="resource-list truncated">
                                    {{#memberOf}}
                                        <li>{{> (stringFormat "ResourceIndex/%s/link.mustache" @type) }}</li>
                                    {{/memberOf}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                </table>

            </div>

        {{/scope}}

    </div>
</div>


<div class="modal fade" id="resource-edit">
    <div class="modal-dialog">
        <div class="modal-content bg-blue-palest color-scheme-text">
            <div class="modal-body clearfix">

                <h1>Edit Service</h1>

                <hr/>

                <form method="post" class="edit">
                    {{> ResourceIndex/Service/edit.mustache scope}}
                    <hr/>
                    <div class="pull-right">
                        <button type="submit" class="btn btn-default" data-dismiss="modal">Quit</button>
                        <button type="submit" class="btn btn-inverted">Save Changes</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
