<div role="complementary" data-view="map" data-focus="{{#scope}}{{@id}}{{/scope}}" class="color-scheme-map column medium">
    <a href="/aggregation/" class="hijax transclude map-view-hidden" target="_self">Aggregations</a>
</div>
<div role="main" class="color-scheme-text container column medium">
  {{#scope}}
      <div class="resource-service" id="view">
          <h2 class="tab"><a href="#view">View</a></h2>
          <script type="application/ld+json">
                {{{.}}}
            </script>
          <h1><i class="fa fa-desktop"></i> {{#name}}{{@value}}{{/name}}</h1>
          {{#image}}<img src="{{.}}" width="250" />{{/image}}
          {{#description}}<p>{{{@value}}}</p>{{/description}}
          {{#serviceType}}<h2>Service type</h2><p>{{.}}</p>{{/serviceType}}
          {{#availableChannel}}
          <div>
              <h2>Available at</h2>
              {{#serviceUrl}}<a href="{{.}}">{{.}}</a>{{/serviceUrl}}
              <h2>Available languages</h2>
              <ul>
                  {{#availableLanguage}}<li>{{.}}</li>{{/availableLanguage}}
              </ul>
              <h2>Audience</h2>
              <ul>
                  {{#audience}}<li>{{> ResourceIndex/Concept/link.mustache}}</li>{{/audience}}
              </ul>
              <h2>Topics</h2>
              <ul>
                  {{#about}}<li>{{> ResourceIndex/Concept/link.mustache}}</li>{{/about}}
              </ul>
          </div>
          {{/availableChannel}}
          <h2>Provider</h2>
          {{#provider}}
            <ul>
              {{> (stringFormat "ResourceIndex/%s/link.mustache" @type) }}
            </ul>
          {{/provider}}
      <h2>{{i18n.mentioned_in}}</h2>
      <ul>
        {{#referencedBy}}
            {{> (stringFormat "ResourceIndex/%s/link.mustache" @type) }}
        {{/referencedBy}}
      </ul>
      </div>
      <div class="resource-service-edit" id="edit">
      <h2 class="tab"><a href="#edit">Edit</a></h2>
      {{#form (stringFormat "/resource/%s" [@id])}}
          {{> ResourceIndex/Service/edit.mustache}}
          {{submit "Submit"}}
      {{/form}}
      </div>
  {{/scope}}
</div>
