<fieldset>

    <div class="hidden">
        <legend>Project</legend>
        {{input "@type" "Action" readonly="readonly"}}
        {{input "@id" [@id] readonly="readonly"}}
    </div>

    {{> FormElements/input.mustache property=additionalType key="additionalType" title="Additional Type" multiple=true type="text"}}

    {{> FormElements/input.mustache property=email key="email" title="Email" multiple=false type="email"}}

    {{> FormElements/localizedinput.mustache property=name key="name" title="Name"}}

    {{> FormElements/localizedinput.mustache property=alternateName key="alternateName" title="Alternate Name"}}

    {{> FormElements/localizedTextarea.mustache property=description key="description" title="Description"}}

    {{> FormElements/input.mustache property=image key="image" title="Image" multiple=false type="url"}}

    {{> FormElements/input.mustache property=url key="url" title="URL" multiple=false type="url"}}

    {{> FormElements/input.mustache property=startTime key="startTime" title="Start time" multiple=false type="text"}}

    {{> FormElements/input.mustache property=endTime key="endTime" title="End time" multiple=false type="text"}}

    {{> ResourceIndex/Place/edit.mustache property=location key="location"}}

    {{> FormElements/id.mustache property=instrument key="instrument" title="Instrument" multiple=true lookup_url="/resource/?filter.about.@type=Service"}}

    {{> FormElements/id.mustache property=result key="result" title="Result" multiple=true lookup_url="/resource/?filter.about.@type=Service"}}

    {{> FormElements/id.mustache property=agent key="agent" title="Agent" multiple=true lookup_url="/resource/?filter.about.@type=Person"}}

    {{> FormElements/id.mustache property=participant key="participant" title="Participant" multiple=true lookup_url="/resource/?filter.about.@type=Person"}}

    {{> FormElements/id.mustache property=mainEntityOf key="mainEntityOf" title="Main Entity of" multiple=true lookup_url="/resource/?filter.about.@type=Article"}}

    {{> FormElements/id.mustache property=mentionedIn key="mentionedIn" title="Mentioned in" multiple=true lookup_url="/resource/?filter.about.@type=Article"}}

    {{> FormElements/input.mustache property=sameAs key="sameAs" title="Same as" multiple=true type="url"}}

</fieldset>
