<div
        role="complementary"
        data-view="map"
        data-focus="{{#scope}}{{@id}}{{/scope}}"
        class="color-scheme-map column-medium"
        >
    <div class="hidden">
        <a href="/aggregation/" class="hijax transclude map-view-hidden" target="_self">Aggregations</a>
    </div>
</div>

<div role="main" class="column column-medium color-scheme-text bg-blue-palest">
    <div class="column-container">

        {{#scope}}

            <div class="resource">

                <script type="application/ld+json">
                    {{{.}}}
                </script>

                {{#if user}}
                    <button class="btn btn-inverted resource-edit-btn" data-toggle="modal" data-target="#resource-edit">
                        <i class="fa fa-pencil"></i>
                    </button>
                {{/if}}

                <div class="resource-header">

                    <h1 class="resource-title">
                        {{getIcon "Action"}}
                        {{#name}}{{@value}}{{/name}}
                    </h1>

                    {{#additionalType}}
                        <div class="resource-subline">
                            <div class="resource-subline-label">Additional Type</div>
                            {{.}}
                        </div>
                    {{/additionalType}}

                </div>

                {{#image}}
                    <div class="paragraph-image">
                        <a href="{{.}}" target="_blank">
                            <img src="{{.}}" width="150" />
                        </a>
                    </div>
                {{/image}}

                {{#description}}
                    <p>{{{@value}}}</p>
                {{/description}}

                {{#url}}
                    <p>
                        <a href="{{.}}" target="_blank" class="btn btn-default">
                            <i class="fa fa-external-link"></i>
                            {{stripProtocol .}}
                        </a>
                    </p>
                {{/url}}

                <table class="table resource-details-table">

                    {{#if email}}
                        <tr>
                            <td>Email Address</td>
                            <td>
                                <a href="mailto:{{{obfuscate email}}}">{{{obfuscate email}}}</a>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if alternateName}}
                        <tr>
                            <td>Alternate Names</td>
                            <td>
                                <ul class="comma-seperated-list">
                                    {{#alternateName}}
                                        <li>{{@value}}</li>
                                    {{/alternateName}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if sameAs}}
                        <tr>
                            <td>Links</td>
                            <td>
                                <ul class="resource-list truncated">
                                    {{#sameAs}}
                                        <li>{{externalLink .}}</li>
                                    {{/sameAs}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if startTime}}
                        <tr>
                            <td>Duration</td>
                            <td>{{startTime}} - {{endTime}}</td>
                        </tr>
                    {{/if}}

                    <tr>
                        <td>Location</td>
                        <td>
                            {{#location}}
                                {{>ResourceIndex/Place/read.mustache}}
                            {{/location}}
                        </td>
                    </tr>

                    {{#if mentionedIn}}
                        <tr>
                            <td>{{i18n "mentioned_in"}}</td>
                            <td>
                                <ul class="resource-list truncated">
                                    {{#mentionedIn}}
                                        <li>{{> (stringFormat "ResourceIndex/%s/link.mustache" @type) }}</li>
                                    {{/mentionedIn}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if agent}}
                        <tr>
                            <td>Agent</td>
                            <td>
                                <ul class="resource-list truncated">
                                    {{#agent}}
                                        <li>{{> (stringFormat "ResourceIndex/%s/link.mustache" @type) }}</li>
                                    {{/agent}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if participant}}
                        <tr>
                            <td>Participant</td>
                            <td>
                                <ul class="resource-list truncated">
                                    {{#participant}}
                                        <li>{{> (stringFormat "ResourceIndex/%s/link.mustache" @type) }}</li>
                                    {{/participant}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if instrument}}
                        <tr>
                            <td>Instrument</td>
                            <td>
                                <ul class="resource-list truncated">
                                    {{#instrument}}
                                        <li>{{> (stringFormat "ResourceIndex/%s/link.mustache" @type) }}</li>
                                    {{/instrument}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if result}}
                        <tr>
                            <td>Result</td>
                            <td>
                                <ul class="resource-list truncated">
                                    {{#result}}
                                        <li>{{> (stringFormat "ResourceIndex/%s/link.mustache" @type) }}</li>
                                    {{/result}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}


                </table>

            </div>

        {{/scope}}

    </div>
</div>

<div class="modal fade resource-form-modal" id="resource-edit">
    <div class="modal-dialog">
        <div class="modal-content bg-blue-palest color-scheme-text">
            <div class="modal-body clearfix">

                <h1>Edit Project</h1>

                <form method="post" class="edit hijax" target="edit-action-feedback">

                    <div id="edit-action-feedback"></div>

                    {{> ResourceIndex/Action/edit.mustache scope}}

                    <div class="pull-right resource-form-top-padding">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Quit</button>
                        <button type="submit" class="btn btn-inverted">Save Changes</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
