{{#if startTime}}
    <span>
        {{#if endTime}}
            {{daterange startTime endTime}}
        {{else}}
            {{momentWrapper startTime "D. MMM YYYY"}}
        {{/if}}
    </span>
{{/if}}

{{#if agent}}
    <span>
        {{i18n "ResourceIndex.Action.subtitle.operator"}}:
        {{#agent}}
            <a href="/resource/{{@id}}">
                {{#localized this.name language=@root.language}}
                    {{[@value]}}
                {{else}}
                    {{[@id]}}
                {{/localized}}
            </a>{{#unless @last}},{{/unless}}
        {{/agent}}
    </span>
{{/if}}

{{#if additionalType}}
    <span>
        {{i18n "ResourceIndex.Action.subtitle.additionalType"}}:
        {{#additionalType}}
            {{.}}{{#unless @last}},{{/unless}}
        {{/additionalType}}
    </span>
{{/if}}
