<div role="complementary" data-view="map" class="color-scheme-map"></div>
<div role="main" class="color-scheme-text container">
    {{#scope}}
        <div class="resource-organization">
            <script type="application/ld+json">
                {{{.}}}
            </script>
            <h1>{{#legalName}}{{@value}}{{/legalName}} ({{@type}})</h1>
            {{#location.address}}
              {{streetAddress}} <br />
              {{addressLocality}} <br />
              {{postalCode}} <br />
              {{addressCountry}}
            {{/location.address}}
            <p>{{#description}}{{{@value}}}{{/description}}</p>
        </div>
    {{/scope}}
</div>

<script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="//d3js.org/d3.geo.projection.v0.min.js"></script>
<script type="text/javascript" src="//cdn.rawgit.com/mbostock/topojson/master/topojson.js"></script>

<script type="text/javascript" src="/assets/javascripts/main.js"></script>
