<div role="complementary" data-view="map" data-focus="{{#scope}}{{@id}}{{/scope}}" class="color-scheme-map column medium">
    <a href="/aggregation/" class="hijax transclude map-view-hidden" target="_self">Aggregations</a>
</div>
<div role="main" class="color-scheme-text container column medium">
    {{#scope}}
        <div class="resource-organization">
            <script type="application/ld+json">
                {{{.}}}
            </script>
            <h1><i class="fa fa-users"></i> {{#name}}{{@value}}{{/name}} ({{@type}})</h1>
            {{#location}}{{> ../Place/read.mustache}}{{/location}}
            <p>{{#description}}{{{@value}}}{{/description}}</p>
        </div>
        <h2>{{i18n.mentioned_in}}</h2>
        <ul>
          {{#referencedBy}}
            {{#?Article}}<li><a href="/resource/{{@id}}">{{#name}}{{@value}}{{/name}}</a></li>{{/?Article}}
          {{/referencedBy}}
        </ul>
    {{/scope}}
</div>
