<div class="hidden">
    <legend>Grant</legend>
    {{input "isFundedBy[@type]" "Grant" readonly="readonly"}}
</div>

{{> FormElements/localizedInput.mustache property=isFundedBy.0.name property_path="isFundedBy[name]" title=(i18n "Grant.name") tooltip=(i18n "Grant.name" bundle="descriptions")}}

{{> FormElements/localizedInput.mustache property=isFundedBy.0.alternateName property_path="isFundedBy[alternateName]" title=(i18n "Grant.alternateName") tooltip=(i18n "Grant.alternateName" bundle="descriptions")}}

{{> FormElements/input.mustache property=isFundedBy.0.duration property_path="isFundedBy[duration]" title=(i18n "Grant.duration") tooltip=(i18n "Grant.duration" bundle="descriptions") hidden=false multiple=false input_type="text"}}

{{> FormElements/input.mustache property=isFundedBy.0.hasMonetaryValue property_path="isFundedBy[hasMonetaryValue]" title=(i18n "Grant.hasMonetaryValue") tooltip=(i18n "Grant.hasMonetaryValue" bundle="descriptions") hidden=false multiple=false input_type="text"}}

{{> FormElements/localizedTextarea.mustache property=isFundedBy.0.description property_path="isFundedBy[description]" title=(i18n "Grant.description") tooltip=(i18n "Grant.description" bundle="descriptions")}}

{{> FormElements/input.mustache property=isFundedBy.0.sameAs property_path="isFundedBy[sameAs]" title=(i18n "Grant.sameAs") tooltip=(i18n "Grant.sameAs" bundle="descriptions") hidden=true multiple=true input_type="url"}}

{{> FormElements/id.mustache property=isFundedBy.0.isAwardedBy property_path="isFundedBy[isAwardedBy]" title=(i18n "Grant.isAwardedBy") tooltip=(i18n "Grant.isAwardedBy" bundle="descriptions") hidden=false multiple=true lookup_url="/resource/?filter.about.@type=Organization"}}

{{> FormElements/input.mustache property=isFundedBy.0.hasAwardDate property_path="isFundedBy[hasAwardDate]" title=(i18n "Grant.hasAwardDate") tooltip=(i18n "Grant.hasAwardDate" bundle="descriptions") hidden=false multiple=false input_type="text" placeholder="YYYY-MM-DD" pattern="^([\+-]?\d{4}(?!\d{2}\b))((-?)((0[1-9]|1[0-2])(\3([12]\d|0[1-9]|3[01]))?|W([0-4]\d|5[0-2])(-?[1-7])?|(00[1-9]|0[1-9]\d|[12]\d{2}|3([0-5]\d|6[1-6])))([T\s]((([01]\d|2[0-3])((:?)[0-5]\d)?|24\:?00)([\.,]\d+(?!:))?)?(\17[0-5]\d([\.,]\d+)?)?([zZ]|([\+-])([01]\d|2[0-3]):?([0-5]\d)?)?)?)?$"}}

{{> FormElements/id.mustache property=isFundedBy.0.mainEntityOf property_path="isFundedBy[mainEntityOf]" title=(i18n "Grant.mainEntityOf") tooltip=(i18n "Grant.mainEntityOf" bundle="descriptions") hidden=true multiple=true lookup_url="/resource/?filter.about.@type=Article"}}

{{> FormElements/id.mustache property=isFundedBy.0.mentionedIn property_path="isFundedBy[mentionedIn]" title=(i18n "Grant.mentionedIn") tooltip=(i18n "Grant.mentionedIn" bundle="descriptions") hidden=true multiple=true lookup_url="/resource/?filter.about.@type=Article"}}

{{> FormElements/input.mustache property=isFundedBy.0.keywords property_path="isFundedBy[keywords]" title=(i18n "Grant.keywords") tooltip=(i18n "Grant.keywords" bundle="descriptions") hidden=false multiple=true input_type="text" list="keywords"}}
