<div role="complementary" class="color-scheme-map column large" data-view="map"></div>
<div role="main" class="color-scheme-text column small">
    <section class="map-view-hidden">
        <table class="table" about="#users-by-country">
            <script type="application/ld+json">
                {{{scope.countryAggregation}}}
            </script>
          <thead>
              <tr><th>Country</th><th>Users</th></tr>
          </thead>
          <tbody>
          {{#scope.countryAggregation.entries}}
              <tr><td><a href="/resource/?q=about.\*.addressCountry:{{key}}">{{key}}</a></td><td>{{value}}</td></tr>
          {{/scope.countryAggregation.entries}}
          </tbody>
        </table>
    </section>
</div>

<script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="//d3js.org/d3.geo.projection.v0.min.js"></script>
<script type="text/javascript" src="//cdn.rawgit.com/mbostock/topojson/master/topojson.js"></script>

<script type="text/javascript" src="/assets/javascripts/main.js"></script>
