<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8" />
        <title>OER World Map - SPARQL</title>
    </head>
    <body>
        <h1>SPARQL</h1>
        <form method="get" action="/sparql/query">
            <textarea style="width: 100%" name="q">{{ q }}</textarea>
            <button type="submit">{{i18n "Sparql.query.query"}}</button>
            <pre>{{ result }}</pre>
        </form>
    </body>
</html>
