{{#if user}}

    <div data-dont-behave>

        <form id="form-resource-add-service" method="post" class="clearfix visible-modal" action="/resource/">

            <h1 class="modal-title">Add Service</h1>

            <div class="messages resource-form-widget"></div>

            {{> ResourceIndex/Service/edit.mustache}}

            <div class="pull-right resource-form-top-padding">
                <button type="button" class="btn btn-default" data-dismiss="modal">Quit</button>
                <button type="submit" class="btn btn-inverted">Save Changes</button>
            </div>
        </form>


        <form id="form-resource-add-organization" method="post" class="clearfix visible-modal" action="/resource/">

            <h1 class="modal-title">Add Organization</h1>

            <div class="messages resource-form-widget"></div>

            {{> ResourceIndex/Organization/edit.mustache}}

            <div class="pull-right resource-form-top-padding">
                <button type="button" class="btn btn-default" data-dismiss="modal">Quit</button>
                <button type="submit" class="btn btn-inverted">Save Changes</button>
            </div>
        </form>


        <form id="form-resource-add-story" method="post" class="clearfix visible-modal" action="/resource/">

            <h1 class="modal-title">Add Story</h1>

            <div class="messages resource-form-widget"></div>

            {{> ResourceIndex/Article/edit.mustache}}

            <div class="pull-right resource-form-top-padding">
                <button type="button" class="btn btn-default" data-dismiss="modal">Quit</button>
                <button type="submit" class="btn btn-inverted">Save Changes</button>
            </div>
        </form>


        <form id="form-resource-add-action" method="post" class="clearfix visible-modal" action="/resource/">

            <h1 class="modal-title">Add Project</h1>

            <div class="messages resource-form-widget"></div>

            {{> ResourceIndex/Action/edit.mustache}}

            <div class="pull-right resource-form-top-padding">
                <button type="button" class="btn btn-default" data-dismiss="modal">Quit</button>
                <button type="submit" class="btn btn-inverted">Save Changes</button>
            </div>
        </form>


        <form id="form-resource-add-person" method="post" class="clearfix visible-modal" action="/user/">

            <h1 class="modal-title">Add Person</h1>

            <div class="messages resource-form-widget"></div>

            {{> ResourceIndex/Person/edit.mustache}}

            <div class="pull-right resource-form-top-padding">
                <button type="button" class="btn btn-default" data-dismiss="modal">Quit</button>
                <button type="submit" class="btn btn-inverted">Save Changes</button>
            </div>
        </form>


        <form id="form-resource-add-event" method="post" class="clearfix visible-modal" action="/resource/">

            <h1 class="modal-title">Add Event</h1>

            <div class="messages resource-form-widget"></div>

            {{> ResourceIndex/Event/edit.mustache}}

            <div class="pull-right resource-form-top-padding">
                <button type="submit" class="btn btn-default" data-dismiss="modal">Quit</button>
                <button type="submit" class="btn btn-inverted">Save Changes</button>
            </div>
        </form>

    </div>

{{/if}}

{{#scope}}

    <div class="column-section-new">

        <div class="resource-header">
            <h1>{{i18n scope.alpha-2 bundle="countries"}}</h1>
        </div>

        {{#if champions}}
            <div data-behaviour="carousel">
                {{#champions}}
                    <div class="country-champion">

                        {{#image}}
                            <img src="{{.}}" class="img" />
                        {{/image}}
                        {{^image}}
                            <div class="img placeholder-image-qmark"></div>
                        {{/image}}

                        <div class="text">
                            <h4>Country Champion</h4>

                            <ul class="resource-list truncated"><li>
                                {{>ResourceIndex/link.mustache}}
                            </li></ul>

                            <p>
                                <a href="mailto:{{{obfuscate email}}}">{{{obfuscate email}}}</a>
                            </p>

                        </div>

                    </div>
                {{/champions}}
            </div>
        {{else}}
            <div class="country-champion">

                <div class="img placeholder-image-qmark"></div>

                <div class="text">
                    There is no <a href="/contribute">country champion</a> for {{scope.name}}, yet. <a href="mailto:info@oerworldmap.org">Contact us</a> if you can jump in!
                </div>

            </div>
        {{/if}}

    </div>

    <div class="column-section-new" id="country-statistics">

        <script type="application/ld+json" id="json-aggregations">
            {{json countryAggregation}}
        </script>

        <h3>Statistics</h3>

        {{#countryAggregation.[about.location.address.addressCountry].buckets}}
            <table class="statistics-table">
            {{#by_type.buckets}}
                <tr>
                    <td>{{doc_count}}</td>
                    <td>{{getIcon key}}
                        <a href="/resource/?filter.about.location.address.addressCountry={{scope.alpha-2}}&filter.about.@type={{key}}">{{i18n key}}</a>
                    </td>
                </tr>
            {{/by_type.buckets}}
            </table>
        {{/countryAggregation.[about.location.address.addressCountry].buckets}}

    </div>

    <div class="column-section-new last">

        <div class="p">
            <form action="/resource/">
                <div class="input-group">
                    <input type="text" name="q" class="form-control">
                    <input type="hidden" name="filter.about.location.address.addressCountry" value="{{ scope.alpha-2 }}">
                    <span class="input-group-btn">
                        <button class="btn btn-default"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </form>
        </div>

        <p>
            Found <span class="badge">{{resources.totalItems}}</span> entities for {{i18n scope.alpha-2 bundle="countries"}} ...
        </p>

        <ul class="resource-list truncated" data-app="link-to-fragment" data-behaviour="populateMap">
            <script type="application/ld+json">
                {{{resources.member}}}
            </script>
            {{#resources.member}}
                <li about="{{@id}}">
                    {{>ResourceIndex/link.mustache}}
                </li>
            {{/resources.member}}
        </ul>
        {{^resources}}
            <em>No related entities found</em>
        {{/resources}}

    </div>

{{/scope}}
