<div role="main" class="column column-medium color-scheme-text bg-blue-palest">
    <div class="column-container">
        {{^user}}
            <form method="post" action="/.token">
                <input type="hidden" name="@type" value="Person">
                <label>
                    Email: <input name="email">
                </label>
                <button type="submit">Request token</button>
            </form>
        {{/user}}
        {{#user}}
            <h1>{{user}}</h1>
            <form method="post" action="/.auth">
                <input type="hidden" name="@type" value="Person">
                <button type="submit">Logout</button>
            </form>
    {{/user}}
    </div>
</div>
