<div role="main" class="column column-medium color-scheme-text bg-blue-palest">
    <div class="column-container">
        <h1>Forgot password?</h1>

        <form method="post" action="/.token">
            <input type="hidden" name="@type" value="Person">
            <label>
                Email: <input name="email">
            </label>
            <button type="submit">Reset password</button>
        </form>

    </div>
</div>
