{{^user.email}}
    <form id="form-auth" class="hijax" target="_self" method="post" action="/.token">
        <h1>Login for country champions</h1>
        <p>
            Currently login / editing is only available to country champions. Please insert the email address registered
            with your account to request a one-time password. Check your inbox for further instructions.
        </p>
        <input type="hidden" name="@type" value="Person">
        <label>
            Email: <input name="email">
        </label>
        <button type="submit">Request token</button>
        <p>
            Interested to become a country champion? Check our <a href="/contribute">contribute</a> page.
        </p>
    </form>
{{/user.email}}

{{#user.email}}
    <form id="form-auth" class="hijax" target="_self" method="post" action="/.auth">
        <h1>{{user.email}}</h1>
        <input type="hidden" name="@type" value="Person">
        <button type="submit">Log out</button>
    </form>
{{/user.email}}
