#app-col-container {
  position: fixed;
  display: flex;
  justify-content: center;

  left: 0px;
  top: @header-height;
  width: 100%;
  bottom: 0px;

  background: @blue-lightest;

  [data-app="col"] {
    flex-basis: 33.3333%;
    min-width: 33.333%;
    position: relative;
    height: 100%;
    overflow-y: scroll;
  }

  [data-col-mode="hidden"],
  [data-col-mode="collapsed"] {
    flex-basis: 0%;
    min-width: 0%;
  }

  #app-col-index,
  #app-col-detail {
    border-left: 1px solid @blue-lighter;
  }

  #app-col-index[data-col-mode="floating"] {
    margin-left: -33.333%;
    border-left: none;
  }

  #app-col-map {
    flex: 1 1 auto !important;

    #page-footer {
      position: absolute;
      bottom: 0;
      right: 0;

      .container {
        width: auto;
      }
    }
  }

  #app-col-index {

    &[data-col-mode="floating"] {
      .floating-hidden {
        display: none;
      }
    }

    &[data-col-mode="list"] {
      #list {
        display: block;
      }
      #statistic {
        display: none;
      }
    }

    &[data-col-mode="statistic"] {
      #list {
        display: none;
      }
      #statistic {
        display: block;
      }
    }

  }

  #app-col-detail {
    &[data-col-mode="hidden"] {
      visibility: hidden;
    }
  }
}
