/* --- placeholder --- */

.placeholder:before,
.placeholder-qmark:before {
  background: @blue-pale;
  color: white;
  display: block;
  text-align: center;
}

.placeholder:before {
  content: '';
}

.placeholder-qmark:before {
  content: '?';
}


/* --- img text --- */

.img130text {
  .clearfix();
}

.img130text .img {
  width: 130px;
  float: left;
}

.img130text .text {
  margin-left: 150px;
}

.img130text .placeholder-qmark:before,
.img130text .placeholder:before {
  width: 130px;
  height: 130px;
  font-size: 130px;
  line-height: 130px;
}


/* --- statistics table --- */

.statistics-table td {
  padding-right: 10px;
  padding-bottom: 5px;
}


/* --- realted list --- */

.related-list {
  .list-unstyled();
}

hr.dirty {
  border-top: 1px solid @blue-paler;
  margin: 0px 0px 5px 0px;
}
  
.related-list li {
  padding-bottom: 5px;
  border-bottom: 1px solid @blue-paler;
  margin-bottom: 5px;
  margin-left: -32px;
  padding-left: 32px;
}

.related-list .fa-li {
  left: 0px;
}

.related-list li a {
  text-decoration: none;
}


/* --- entity teaser --- */

.entity-teaser .header-icon {
  width: 20px;
  float: left;
  .h2();
  margin-top: 0px;
}

.entity-teaser .header-text {
  margin-left: 30px
}

/* --- static markdown pages --- */

div.page {
  h1, h2, h3, h4, h5, h6 {
    clear: both;
  }
}

div.page img {
  padding: 5px;
  float: left;
}
