hr.narrow {
  margin: 12px 0px;
}


[data-toggle] {
  cursor: pointer;
}

/* --- helpers --- */

.visible {
  visibility: visible;
}

.visible-active {
  visibility: hidden;
  .active & {
    visibility: visible;
  }
}

.separated + .separated:before {
 content: " • ";
}

/* --- paragraph image --- */

.paragraph-image {
  float: right;
  margin: 0 0 15px 10px;
  padding: 10px;
  border: 1px solid @blue-pale;
}


/* --- vertical containers --- */

.container-vertical-line {
  margin: @line-height-computed 0;
}

.container-top-line {
  margin: @line-height-computed 0 0 0;
}

.container-bottom-line {
  margin: 0 0 @line-height-computed 0;
}

.container-vertical {
  margin: (@line-height-computed * 2) 0;
}

.container-top {
  margin: (@line-height-computed * 2) 0 0 0;
}

.container-bottom {
  margin: 0 0 (@line-height-computed * 2) 0;
}
