#page-header {
  position: fixed;
  z-index: 1000;
  top: 0px;
  left: 0px;
  width: 100%;
  background: @blue-darker;
  .economica();
  font-size: @header-fontsize;
}

#page-header nav ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

#page-header nav ul li {
  float: left;
  border-right: 1px solid @blue-dark;
}

#page-header a {
  display: inline-block;
  line-height: @header-height !important;
  padding: 0 @header-padding;
  text-decoration: none;
  color: @blue-lightest;
}

#page-header a:hover {
  background: @blue-dark;
  color: @blue-lightest;
}

#page-header a:focus {
  outline: none;
}

#page-header h1 {
  display: inline;
  font-size: @header-fontsize;
  font-weight: bold;
  letter-spacing: 2px;
}

#page-header h2 {
  margin: 0 @header-padding 0 0;
  font-size: @header-fontsize;
  line-height: @header-height !important;
  font-style: italic;
  letter-spacing: 2px;
  color: @blue-lightest;
  float: right;
}

#page-header nav.user {
  float: right;
}
