/* --- container --- */


/* --- layout scroll --- */

body.layout-scroll {
  padding-top: (@header-height * 1.5);
}

body.layout-scroll #page-footer {
  border-top: 1px solid @blue-darker;
  margin: 50px 0 0 0;
  padding: 10px 0 10px 0;
  overflow: hidden;
}


/* --- layout fixed --- */

body.layout-fixed > div[role="main"],
body.layout-fixed > div[role="complementary"] {
  position: fixed;
}

body.layout-fixed > div[role="main"] {
  top: @header-height;
  bottom: 0px;
  left: 0%;
  // width: 70%;
  overflow-y: auto;
}

body.layout-fixed > div[role="complementary"] {
  top: @header-height;
  right: 0px;
  // width: 30%;
  bottom: 0px;
  overflow-y: auto;
}

body.layout-fixed > .column-small {
  width: 35%;
}

body.layout-fixed > .column-medium {
  width: 50%;
}

body.layout-fixed > .column-large {
  width: 65%;
}

body.layout-fixed > .column-full {
  width: 100%;
}


/* --- inside columns --- */

@column-padding-vertical: 20px;
@column-padding-horizontal: 24px;

.column-section {
  padding: @column-padding-vertical @column-padding-horizontal;
  border-bottom: 1px solid @blue-light;
}

.column-section:last-child {
  border-bottom: none;
}

.column-container {
  padding: @column-padding-vertical @column-padding-horizontal;
}


/* --- typo small --- */

@typo-small-font-size-base: 15px;

.layout-typo-small {
  font-size: @typo-small-font-size-base;
}

.column-small {
  .layout-typo-small();
}
