/* --- map view --- */

#map {
  // background: rgba(0, 0, 0, 0) radial-gradient(ellipse at center center , @blue-light-gradient-end 0%, @blue-light 100%) repeat scroll 0 0;
  background: @blue-light;
}

/*
.color-scheme-map {
  background: rgba(95,171,218,1);
  background: -moz-radial-gradient(center, ellipse cover, @color-scheme-map-gradient-start 0%, @color-scheme-map-gradient-end 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, @color-scheme-map-gradient-start), color-stop(100%, @color-scheme-map-gradient-end));
  background: -webkit-radial-gradient(center, ellipse cover, @color-scheme-map-gradient-start 0%, @color-scheme-map-gradient-end 100%);
  background: -o-radial-gradient(center, ellipse cover, @color-scheme-map-gradient-start 0%, @color-scheme-map-gradient-end 100%);
  background: -ms-radial-gradient(center, ellipse cover, @color-scheme-map-gradient-start 0%, @color-scheme-map-gradient-end 100%);
  background: radial-gradient(ellipse at center, @color-scheme-map-gradient-start 0%, @color-scheme-map-gradient-end 100%);
  //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5fabda', endColorstr='#268dcd', GradientType=1 );
}
*/

.map-view > * {
  position: absolute;
  z-index: 2;
}

.map-view #map {
  z-index: 1;
}

.map-view .map-view-hidden {
  display: none;
}

.map-view h1,
.map-view h2 {
  left: 10px;
  margin: 0;
  text-shadow: 0px 0px 4px rgba(0,0,0,0.4);
}

.map-view h1 {
  top: 10px;
}

.map-view h2 {
  top: 80px;
}

.map-view #user-register {
  background: @color-scheme-map-background;
  border-top: 1px solid white;
  padding: 10px;
  clear: both;
}


/* --- footer --- */

.map-view #page-footer {
  position: absolute;
  right: @map-padding;
  bottom: @map-padding;
  // text-transform: uppercase;
}

/* --- popover --- */

.ol-overlay-container {
  position: fixed !important;
  z-index: 10000;
}

#map.popover-persistent canvas {
  opacity: 0.6;
}

.popover hr {
  margin-top: (@line-height-computed / 3);
  margin-bottom: (@line-height-computed / 3);
}

.popover {
  color: @blue-darker;
  position: static;
  display: block;
  // border: none;
  padding: 0px;
  // pointer-events: none;
}

.popover-content {
  padding: 0px;

  a {
    color: @blue-darker;
    text-decoration: none;

    &:hover {
      color: @orange;

      i.fa {
        color: @blue-darker;
      }
    }
  }
}

.popover-main-section {
  border-bottom: 1px solid @blue-dark;
}

.popover-main-section:last-child {
  border-bottom: none;
}

.popover-section {
  padding: 7px 12px;
  border-bottom: 1px solid @blue-pale;
  position: relative;

  &.linked:before {
    content: '';
    position: absolute;
    left: 14px;
    top: -7px;
    width: 14px;
    height: 7px;
    background-image: url('/assets/images/popover-link-arrow.svg');
    background-repeat: no-repeat;
  }
}

.popover-section:last-child {
  border-bottom: none;
}

.entity-count {
  padding-left: 5px;
}

@icon-indent: 30px;

.icon-indented {
  text-indent: -(@icon-indent);
  padding-left: (@icon-indent - 6px);
}

.icon-indented .fa {
  text-indent: 0px;
  width: @icon-indent;
}

/* --- call for action --- */

.map-view .call-for-actions-table {
  display: table;
  margin: @map-padding 0px @map-padding @map-padding;
  float: left;
}

.map-view .call-for-actions-row {
  display: table-row;
}

.call-for-action {
  display: table-cell;
  vertical-align: middle;
  width: 90px;
  height: 90px;
  border-radius: 1000px;
  text-align: center;
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
  text-decoration: none !important;
  padding: 10px;
//  box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
}

.map-view .call-for-actions {
  left: 0px;
  bottom: 0px;
  width: 100%;
}

.map-view .call-for-actions {
  pointer-events: none;
}

.map-view .call-for-actions * {
  pointer-events: all;
}


#user-register {
  position: relative;
}

a[data-action="close"] {
  display: block;
  position: absolute;
  top: 5px;
  right: 10px;
}


/* --- map --- */

#map {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#map svg {
  position: absolute;
  z-index: 1;
}

.country {
  stroke: hsl(205, 88%, 40%);
  stroke-width: 0.5px;
  fill: #fff;
  transition: 0.3s;
  cursor: pointer;
}

.country:hover{
/*
  -webkit-filter: drop-shadow( 0px 0px 5px #000 );
  filter: drop-shadow( 0px 0px 5px #000 );
  transform: scale(1.1);
  transform-origin: 200% 200%;
*/
  opacity: 0.8;
}

svg a {
  text-decoration: none !important;
}

svg .placemark {
  font-family: FontAwesome;
  font-size: 28px;
  fill: @orange;
  stroke: black;
  stroke-width: 0.5;
  stroke-location: outer;
/*
  -webkit-filter: drop-shadow( 0px 0px 2px #000 );
  filter: drop-shadow( 0px 0px 2px #000 );
*/
  cursor: pointer;
  transition: 0.1s;
}

svg .placemark:hover,
svg .placemark.active {
  fill: white;
}

svg .placemark.active {
  font-size: 40px;
}

.map-tooltip {
  position: fixed;
  z-index: 4;
  display: none;
  background: @text-color;
  color: @background-color;
  font-size: 14px;
  border: 2px solid @background-color;
  border-radius: 6px;
  padding: 8px 12px;
  margin: 0px 0 0 0px;
  // box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}


/* --- ol controls --- */

.ol-zoom {
  left: @map-padding;
  top: auto;
  bottom: @map-padding;
}


/* --- nav map --- */

@nav-map-button-size: 40px;

.nav-map {
  position: absolute;
  left: @map-padding;
  top: @map-padding;

  > ul {
    padding: 0px;
    margin: 0px;
    list-style: none;

    > li {
      float: left;
      margin-right: 10px;

      > a,
      > button {
        padding: 0px;
        display: block;
        width: @nav-map-button-size;
        height: @nav-map-button-size;
        border-radius: @nav-map-button-size;
        font-size: @font-size-large;
        line-height: @nav-map-button-size;
        text-align: center;
        border: none;
        background: @orange;
        color: white;
      }
    }
  }

  .dropdown-menu {
    left: 70%;
    top: 70%;
    border-radius: 0px;
    font-size: @font-size-small;
  }

}
