/* --- register form --- */

.register .form-group {
  margin-right: 10px;
}

@background-color: hsl(205, 88%, 40%);
.register input,
.register select {
  background: @background-color;
  border-color: @text-color;
  color: @text-color;
}

.register select option {
  background-color: @background-color;
}

@text-color-70: rgba(255, 255, 255, 0.7);
.form-control:focus {
  border-color: @text-color;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px @text-color-70;
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px @text-color-70;
}

/* http://stackoverflow.com/a/2610741/1060128 */
.register ::-webkit-input-placeholder { /* WebKit browsers */
  color: @text-color;
}
.register :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: @text-color;
  opacity: 1;
}
.register ::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: @text-color;
  opacity: 1;
}
.register :-ms-input-placeholder { /* Internet Explorer 10+ */
  color: @text-color;
}

.loading-indicator {
  display: none;
  margin-right: 7px;
}


/* --- placeholder --- */

/*
.placeholder {
  color: #fff;
  background: #ccc;
  margin: 0 10px 10px 0;
}
*/


/* --- message list --- */

ul#messages {
  list-style-type: none;
  padding:0;
  margin:0;
}


/* --- alerts --- */

.alert-success {
  background-color: @green;
  color: white;
  border: none !important;
}

.alert-warning,
.alert-danger {
  background: @red;
  color: white;
  border: none !important;
}

.alert-success a:hover,
.alert-warning a:hover,
.alert-danger a:hover {
  color: white;
}







/* --- still needed ? --- */

/*
form#add-organization {
  text-align: left;
}
*/
