.resource-form-modal {
  .modal-dialog {
    width: 500px;
  }

  h1 {
    margin: 0px;
    padding-bottom: 20px;
    border-bottom: 1px solid @blue-darker;
  }
}

legend {
  display: none;
}

.resource-form-widget {
  border-bottom: 1px solid @blue-darker;
  padding: 10px 0px;

  h4 {
    margin: 5px 0 15px 0;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  textarea {
    height: 144px;
    resize: vertical;
  }

  &.behaving {
    label {
      display: none;
    }
  }

  .btn {
    font-weight: bold;
    font-size: (@font-size-base * 0.9);
    text-align: left;
    .text {
      margin-right: 20px;
    }
  }

  .dropdown {
    width: 100%;
  }
}

/*
.language-select {
  display: none;
}
*/

/*
.language-select .select2 .selection {
  display: none;
}
*/


[data-action] {
  cursor: pointer;
  &:hover {
    color: @orange;
  }
}

.input-icon {
  position: absolute;
  right: 0px;
  top: 0px;
  padding: @padding-base-vertical @padding-base-horizontal;
}

/* - - - fixes - - - */

// .btn was *sometimes* 1px to high in FF
.input-group-btn .btn {
  height: @input-height-base;
}


/* - - - multiple / single - - - */

li.multiple-one {
  margin-bottom: 10px;
}

.single {
  margin-bottom: 8px;
}


/* - - - resource - - - */

.list-group-item {
  padding: @padding-base-vertical @padding-base-horizontal;
}

@depth-padding-base: 20px;

.depth-1 {
  padding-left: @depth-padding-base;
}

.depth-2 {
  padding-left: (2 * @depth-padding-base);
}

.depth-3 {
  padding-left: (3 * @depth-padding-base);
}

.depth-4 {
  padding-left: (4 * @depth-padding-base);
}

.depth-5 {
  padding-left: (5 * @depth-padding-base);
}

.depth-6 {
  padding-left: (6 * @depth-padding-base);
}


/* - - - input group for textareas - - - */

.input-group-textarea {
  textarea {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .btn {
    margin-top: -1px;
    margin-left: 0px !important;
    border-bottom-left-radius: @border-radius-base !important;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    width: 100%;
  }
}


/* - - - dropdown - - - */

.resource-form-widget .dropdown-menu-typeahead {
  padding: 0px;
  width: 458px;
  background: @blue-paler;
  margin-top: 10px;
  overflow: hidden;
}


/* - - - twitter typeahead - - - */

.twitter-typeahead {
  width: 100%;
  display: block !important;
}

.tt-input {
  border: none;
  border-radius: 0px;
  float: none;
  // border-bottom-left-radius: 0px;
  // border-bottom-right-radius: 0px;
}

.input-group .form-control.tt-input {
  float: none;
  z-index: 0;
}

.tt-menu {
  display: block !important;
  // width: 100%;
  position: static !important;
  max-height: 373px;
  overflow-y: scroll;
  border-top: 1px solid @blue-darker;
}

.tt-suggestion {
  padding: @padding-base-vertical @padding-base-horizontal;
  border-top: 1px solid @blue-darker;

  &:first-child {
    border-top: none;
  }
}

.tt-selectable {
  cursor: pointer;

  &:hover {
    background: @blue-pale;
  }
}
