@icon-width: 27px;

.resource-list {
  .list-unstyled();
  border-top: 1px solid @blue-paler;
}
  
.resource-list li {
  padding: 5px 0px 5px @icon-width;
  border-bottom: 1px solid @blue-paler;
  position: relative;
}

.resource-list .fa {
  width: @icon-width;
  position: absolute;
  left: 0px;
  top: 8px;
}
  
.resource-list li a {
  text-decoration: none;
}