@resource-list-icon-width: 2em;
@vertical-padding: 0.3em;

.resource-list {
  .list-unstyled();
  border-top: 1px solid @blue-paler;
}
  
.resource-list li {
  padding: @vertical-padding 0px @vertical-padding @resource-list-icon-width;
  border-bottom: 1px solid @blue-paler;
  position: relative;
}

.resource-list .fa {
  width: @resource-list-icon-width;
  position: absolute;
  left: 0px;
  top: @vertical-padding;
  line-height: inherit;
}
  
.resource-list li a {
  text-decoration: none;
}