@resource-vertical-distance: 30px;

/* --- resource vertical container --- */

.resource-vertical-container {
  margin: @resource-vertical-distance 0px;
}


/* --- resource controls --- */

.resource-controls {
  .horizontal-list();

  float: right;
  margin: 0 -7px;

  .dropdown-menu {
    font-size: @font-size-small;
  }
}


/* --- resource header --- */

.resource-header {
  margin-bottom: @resource-vertical-distance;
  .clearfix();
}


/* --- resource title --- */

.resource-edit-btn {
  float: right;
  margin-left: 0.5em;
}

.resource-title {
  position: relative;
}

.resource-title .fa {
  position: absolute;
  left: 0px;
  top: 0px;
}


/* --- subtitle --- */

.subtitle {
  span {
    &:after {
      content: '—';
      display: inline-block;
    }

    &:last-child:after {
      content: '';
    }

    // to avoid whitespace inside link ...
    a {
      display: inline-block;
    }
  }
}


/* --- resource subline --- */

.resource-subline {
  clear: both;
}

.resource-subline-label {
  float: left;
  font-weight: bold;
  margin-right: 8px;
}


/* --- & seperated list (for "attributed by") */

.comma-seperated-list, .comma-seperated-list>li {
  display: inline;
  padding: 0;
}

.comma-seperated-list>li:before {
  content: " & "
}

.comma-seperated-list>li:first-child:before {
  content: ""
}

/* --- and seperated list (for "attributed by") */

.and-seperated-list, .and-seperated-list>li {
  display: inline;
  padding: 0;
}

.and-seperated-list>li:before {
  content: " and "
}

.and-seperated-list>li:first-child:before {
  content: ""
}

/* --- or seperated list (for "attributed by") */

.or-seperated-list, .or-seperated-list>li {
  display: inline;
  padding: 0;
}

.or-seperated-list>li:before {
  content: " or "
}

.or-seperated-list>li:first-child:before {
  content: ""
}


/* --- licenses --- */

.licenses {
  margin-top: 20px;

  img {
    height: 25px;
    margin-right: 10px;
    margin-bottom: 13px;
  }
}


/* --- resource details table --- */

.resource-details-table {
  margin: @resource-vertical-distance 0px;
}

.resource-details-table td:first-child {
  font-weight: bold;
  width: 150px;
}
