@x: "empty";

form#search ul:before {
   content: attr(title);
}

form#search ul {
  list-style: none;
}

/**
 * FIXME: this only works if whitespace is removed from html
 */
form#search ul:empty {
  display: none;
}