<fieldset>

    {{^name}}
        <div class="alert alert-info alert-dismissible">
            This is your personal profile. We appreciate very much if you want to share information about yourself with
            the OER community. If you want to enter data about an organization, service or something else, please write
            to <a href="mailto:{{{obfuscate "info@oerworldmap.org"}}}" class=".alert-link">
            {{{obfuscate "info@oerworldmap.org"}}}</a> to request editing rights.
        </div>
    {{/name}}

    <div class="hidden">
        <legend>Person</legend>
        {{input "@type" "Person" readonly="readonly"}}
        {{input "@id" [@id] readonly="readonly"}}
    </div>

    {{> FormElements/localizedInput.mustache property=name property_path="name" title=(i18n "Person.name") tooltip=(i18n "Person.name" bundle="descriptions")}}

    {{> FormElements/input.mustache property=url property_path="url" title=(i18n "Person.url") tooltip=(i18n "Person.url" bundle="descriptions") hidden=false multiple=false input_type="url"}}

    {{> FormElements/input.mustache property=email property_path="email" title=(i18n "Person.email") tooltip=(i18n "Person.email" bundle="descriptions") hidden=false multiple=false input_type="email"}}

    {{> FormElements/localizedTextarea.mustache property=description property_path="description" title=(i18n "Person.description") tooltip=(i18n "Person.description" bundle="descriptions")}}

    {{#if ../../permissions.administer}}
        {{> FormElements/select.mustache property=countryChampionFor property_path="countryChampionFor" title=(i18n "Person.countryChampionFor") tooltip=(i18n "Person.countryChampionFor" bundle="descriptions") hidden=false multiple=true input_type="text" options="countries"}}
    {{else}}
        {{> FormElements/select.mustache property=countryChampionFor property_path="countryChampionFor" title=(i18n "Person.countryChampionFor") tooltip=(i18n "Person.countryChampionFor" bundle="descriptions") hidden=true multiple=true input_type="text" options="countries"}}
    {{/if}}

    {{> FormElements/input.mustache property=image property_path="image" title=(i18n "Person.image") tooltip=(i18n "Person.image" bundle="descriptions") hidden=false multiple=false input_type="url"}}

    {{> ResourceIndex/Place/edit.mustache property=location property_path="location" title=(i18n "Person.location") tooltip=(i18n "Person.location" bundle="descriptions")}}

    {{> FormElements/id.mustache property=created property_path="created" title=(i18n "Person.created") tooltip=(i18n "Person.created" bundle="descriptions") hidden=true multiple=true lookup_url="/resource/?filter.about.@type=Article"}}

    {{> FormElements/id.mustache property=mentionedIn property_path="mentionedIn" title=(i18n "Person.mentionedIn") tooltip=(i18n "Person.mentionedIn" bundle="descriptions") hidden=true multiple=true lookup_url="/resource/?filter.about.@type=Article"}}

    {{> FormElements/id.mustache property=participantIn property_path="participantIn" title=(i18n "Person.participantIn") tooltip=(i18n "Person.participantIn" bundle="descriptions") hidden=true multiple=true lookup_url="/resource/?filter.about.@type=Action"}}

    {{> FormElements/id.mustache property=provides property_path="provides" title=(i18n "Person.provides") tooltip=(i18n "Person.provides" bundle="descriptions") hidden=false multiple=true lookup_url="/resource/?filter.about.@type=Service"}}

    {{> FormElements/id.mustache property=agentIn property_path="agentIn" title=(i18n "Person.agentIn") tooltip=(i18n "Person.agentIn" bundle="descriptions") hidden=true multiple=true lookup_url="/resource/?filter.about.@type=Action"}}

    {{> FormElements/id.mustache property=affiliation property_path="affiliation" title=(i18n "Person.affiliation") tooltip=(i18n "Person.affiliation" bundle="descriptions") hidden=false multiple=true lookup_url="/resource/?filter.about.@type=Organization&filter.about.@type=Service&filter.about.@type=Action"}}

    {{> FormElements/input.mustache property=sameAs property_path="sameAs" title=(i18n "Person.sameAs") tooltip=(i18n "Person.sameAs" bundle="descriptions") hidden=false multiple=true input_type="url"}}

    {{> FormElements/id.mustache property=funderOf property_path="funderOf" title=(i18n "Action.funderOf") tooltip=(i18n "Action.funderOf" bundle="descriptions") hidden=true multiple=true lookup_url="/resource/?filter.about.@type=Action"}}

    {{> FormElements/input.mustache property=keywords property_path="keywords" title=(i18n "Person.keywords") tooltip=(i18n "Person.keywords" bundle="descriptions") hidden=false multiple=true input_type="text" list="keywords"}}

    {{> FormElements/id.mustache property=authorOf property_path="authorOf" title=(i18n "Person.authorOf") tooltip=(i18n "Person.authorOf" bundle="descriptions") hidden=true multiple=true lookup_url="/resource/?filter.about.@type=Comment"}}

    {{> FormElements/id.mustache property=organizerFor property_path="organizerFor" title=(i18n "Person.organizerFor") tooltip=(i18n "Person.organizerFor" bundle="descriptions") hidden=false multiple=true lookup_url="/resource/?filter.about.@type=Event"}}

    {{> FormElements/id.mustache property=performerIn property_path="performerIn" title=(i18n "Person.performerIn") tooltip=(i18n "Person.performerIn" bundle="descriptions") hidden=false multiple=true lookup_url="/resource/?filter.about.@type=Event"}}

    {{> FormElements/id.mustache property=attends property_path="attends" title=(i18n "Person.attends") tooltip=(i18n "Person.attends" bundle="descriptions") hidden=false multiple=true lookup_url="/resource/?filter.about.@type=Event"}}

    {{> FormElements/id.mustache property=publication property_path="publication" title=(i18n "Person.publication") tooltip=(i18n "Person.publication" bundle="descriptions") hidden=false multiple=true lookup_url="/resource/?filter.about.@type=WebPage"}}

</fieldset>
