<span class="resource">
    <i class="fa fa-fw fa-user"></i>
    <a href="/resource/{{@id}}">
        {{#this.name}}{{this.@value}}{{/this.name}}
        {{^this.name}}{{this.[@id]}}{{/this.name}}
    </a>
</span>
