<div class="resource">
    <h1><i class="fa fa-user"></i>
        <a href="/resource/{{@id}}">
            {{#this.name}}{{this.@value}}{{/this.name}}
            {{^this.name}}{{this.[@id]}}{{/this.name}}
        </a>
    </h1>
</div>
