<div
    role="complementary"
    data-view="map"
    data-focus="{{#scope}}{{@id}}{{/scope}}"
    class="color-scheme-map column-medium"
>
    <div class="hidden">
        <a href="/aggregation/" class="hijax transclude map-view-hidden" target="_self">Aggregations</a>
    </div>
</div>

<div role="main" class="column column-medium color-scheme-text bg-blue-palest">
    <div class="column-container">

        {{#scope}}

            <article class="resource" data-behaviour="populateMap">

                <script type="application/ld+json">
                    {{{.}}}
                </script>

                {{#ifIn "admin" user.roles}}
                    <button class="btn btn-inverted resource-edit-btn" data-toggle="modal" data-target="#resource-edit">
                        <i class="fa fa-pencil"></i>
                    </button>
                    <a target="_blank" href="/log/{{[@id]}}" class="btn btn-inverted resource-edit-btn">
                        <i class="fa fa-history"></i>
                    </a>
                {{else}}
                    {{#ifIn "owner" user.roles}}
                        <button class="btn btn-inverted resource-edit-btn" data-toggle="modal" data-target="#resource-edit">
                            <i class="fa fa-pencil"></i>
                        </button>
                    {{/ifIn}}
                {{/ifIn}}

                <div class="resource-header">

                    <h1 class="resource-title">
                        {{getIcon @type}}
                        {{#localized name}}
                            {{[@value]}}
                        {{else}}
                            {{[@id]}}
                        {{/localized}}
                    </h1>

                    {{#countryChampionFor}}
                        <div class="resource-subline">
                            {{i18n "Person.countryChampionFor"}} <a href="/country/{{.}}">{{i18n . bundle="countries"}}</a>
                        </div>
                    {{/countryChampionFor}}

                </div>

                {{#image}}
                    <div class="paragraph-image">
                        <a href="{{.}}" target="_blank">
                            <img src="{{.}}" width="150" />
                        </a>
                    </div>
                {{/image}}

                {{#localized description}}
                    <p>{{{[@value]}}}</p>
                {{/localized}}

                <table class="table resource-details-table">

                    <tr>
                        <td>{{i18n "Person.email"}}</td>
                        <td>
                             <a href="mailto:{{{obfuscate email}}}">{{{obfuscate email}}}</a>
                        </td>
                    </tr>

                    {{#url}}
                        <tr>
                            <td>{{i18n "Person.url"}}</td>
                            <td>
                                 <a href="{{url}}">{{url}}</a>
                            </td>
                        </tr>
                    {{/url}}

                    {{#location}}
                        <tr>
                            <td>{{i18n "Person.location"}}</td>
                            <td>
                                {{#location}}
                                    {{>ResourceIndex/Place/read.mustache}}
                                {{/location}}
                            </td>
                        </tr>
                    {{/location}}

                    {{#if affiliation}}
                        <tr>
                            <td>{{i18n "Person.affiliation"}}</td>
                            <td>
                                <ul class="resource-list truncated">
                                    {{#affiliation}}
                                        <li>{{>ResourceIndex/link.mustache}}</li>
                                    {{/affiliation}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if sameAs}}
                        <tr>
                            <td>{{i18n "Person.sameAs"}}</td>
                            <td>
                                <ul class="resource-list truncated">
                                    {{#sameAs}}
                                        <li>{{externalLink .}}</li>
                                    {{/sameAs}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if created}}
                        <tr>
                            <td>{{i18n "Person.created"}}</td>
                            <td>
                                <ul class="resource-list truncated">
                                    {{#created}}
                                        <li>{{>ResourceIndex/link.mustache}}</li>
                                    {{/created}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if mainEntityOf}}
                        <tr>
                            <td>{{i18n "Person.mainEntityOf"}}</td>
                            <td>
                                <ul class="resource-list truncated">
                                    {{#mainEntityOf}}
                                        <li>{{>ResourceIndex/link.mustache}}</li>
                                    {{/mainEntityOf}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if mentionedIn}}
                        <tr>
                            <td>{{i18n "Person.mentionedIn"}}</td>
                            <td>
                                <ul class="resource-list truncated">
                                    {{#mentionedIn}}
                                        <li>{{>ResourceIndex/link.mustache}}</li>
                                    {{/mentionedIn}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if participantIn}}
                        <tr>
                            <td>{{i18n "Person.participantIn"}}</td>
                            <td>
                                <ul class="resource-list truncated">
                                    {{#participantIn}}
                                        <li>{{>ResourceIndex/link.mustache}}</li>
                                    {{/participantIn}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if provides}}
                        <tr>
                            <td>{{i18n "Person.provides"}}</td>
                            <td>
                                <ul class="resource-list truncated">
                                    {{#provides}}
                                        <li>{{>ResourceIndex/link.mustache}}</li>
                                    {{/provides}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if agentIn}}
                        <tr>
                            <td>{{i18n "Person.agentIn"}}</td>
                            <td>
                                <ul class="resource-list truncated">
                                    {{#agentIn}}
                                        <li>{{>ResourceIndex/link.mustache}}</li>
                                    {{/agentIn}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if memberOf}}
                        <tr>
                            <td>{{i18n "Person.memberOf"}}</td>
                            <td>
                                <ul class="resource-list truncated">
                                    {{#memberOf}}
                                        <li>{{>ResourceIndex/link.mustache}}</li>
                                    {{/memberOf}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if funderOf}}
                        <tr>
                            <td>{{i18n "Person.funderOf"}}</td>
                            <td>
                                <ul class="resource-list truncated">
                                    {{#funderOf}}
                                        <li>{{>ResourceIndex/link.mustache}}</li>
                                    {{/funderOf}}
                                </ul>
                            </td>
                        </tr>
                    {{/if}}

                </table>

            </article>

        {{/scope}}
    </div>
</div>

<div class="modal fade resource-form-modal" id="resource-edit">
    <div class="modal-dialog">
        <div class="modal-content bg-blue-palest color-scheme-text">
            <div class="modal-body clearfix">

                <h1>Edit Person</h1>

                <form method="post" class="edit hijax" target="edit-person-feedback" action="/user/{{scope.[@id]}}">

                    <div id="edit-person-feedback"></div>

                    {{> ResourceIndex/Person/edit.mustache scope}}

                    <div class="pull-right resource-form-top-padding">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Quit</button>
                        <button type="submit" class="btn btn-inverted">Save Changes</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
