<fieldset>

    <div class="hidden">
        <legend>{{i18n "Product"}}</legend>
        {{input "@type" "Product" readonly="readonly"}}
        {{input "@id" [@id] readonly="readonly"}}
    </div>

    {{> FormElements/localizedInput.mustache property=name property_path="name" title=(i18n "Product.name") tooltip=(i18n "Product.name" bundle="descriptions")}}

    {{> FormElements/localizedInput.mustache property=alternateName property_path="alternateName" title=(i18n "Product.alternateName") tooltip=(i18n "Product.alternateName" bundle="descriptions")}}

    {{> FormElements/localizedTextarea.mustache property=description property_path="description" title=(i18n "Product.description") tooltip=(i18n "Product.description" bundle="descriptions")}}

    {{> FormElements/input.mustache property=url property_path="url" title=(i18n "Product.url") tooltip=(i18n "Product.url" bundle="descriptions") hidden=false multiple=false input_type="url"}}

    {{> FormElements/input.mustache property=image property_path="image" title=(i18n "Product.image") tooltip=(i18n "Product.image" bundle="descriptions") hidden=false multiple=false input_type="url"}}

    {{> FormElements/id.mustache property=isRelatedTo property_path="isRelatedTo" title=(i18n "Product.isRelatedTo") tooltip=(i18n "Product.isRelatedTo" bundle="descriptions") hidden=false multiple=true lookup_url="/resource/?filter.about.@type=Service"}}

    {{> FormElements/id.mustache property=manufacturer property_path="manufacturer" title=(i18n "Product.manufacturer") tooltip=(i18n "Product.manufacturer" bundle="descriptions") hidden=false multiple=true lookup_url="/resource/?filter.about.@type=Organization&filter.about.@type=Person"}}

    {{> FormElements/input.mustache property=keywords property_path="keywords" title=(i18n "Product.keywords") tooltip=(i18n "Product.keywords" bundle="descriptions") hidden=false multiple=true input_type="text" list="keywords"}}

    {{> FormElements/id.mustache property=comment property_path="comment" title=(i18n "Product.comment") tooltip=(i18n "Product.comment" bundle="descriptions") hidden=true multiple=true lookup_url="/resource/?filter.about.@type=Comment"}}

    {{> FormElements/id.mustache property=primarySector property_path="primarySector" title=(i18n "Product.primarySector") tooltip=(i18n "Product.primarySector" bundle="descriptions") hidden=false multiple=false lookup_url="/assets/json/sectors.json"}}

    {{> FormElements/id.mustache property=secondarySector property_path="secondarySector" title=(i18n "Product.secondarySector") tooltip=(i18n "Product.secondarySector" bundle="descriptions") hidden=false multiple=true lookup_url="/assets/json/sectors.json"}}

    {{#if ../../permissions.administer}}
        {{> FormElements/input.mustache property=award property_path="award" title=(i18n "Service.award") tooltip=(i18n "Service.award" bundle="descriptions") hidden=false multiple=true input_type="url"}}
    {{else}}
        {{> FormElements/input.mustache property=award property_path="award" title=(i18n "Service.award") tooltip=(i18n "Service.award" bundle="descriptions") hidden=true multiple=true input_type="url"}}
    {{/if}}

</fieldset>
