<div role="main" class="color-scheme-text container column large">
    <section>
        <h1>Created</h1>
        <pre>{{json scope.resource}}</pre>
        <a class="hijax transclude" target="_top" href="/resource/{{scope.resource.[@id]}}">Show</a>
    </section>
</div>
