<div id="resource-export-{{type}}" class="clearfix visible-modal text-center">

    <h2>Export this Resource</h2>

    <div class="container-top-line">
        <a class="btn btn-default" target="_blank" href="{{exportUrl type url "csv"}}">CSV</a>
        <a class="btn btn-default" target="_blank" href="{{exportUrl type url "json"}}">JSON</a>
        {{#ifCond @type '==' 'Event'}}
            <a class="btn btn-default" target="_blank" href="{{exportUrl scope url "ics"}}">iCal</a>
        {{/ifCond}}

    </div>

</div>
