<div id="resource-export" class="clearfix visible-modal text-center">

    <h2>Export this Resource</h2>

    <div class="container-top-line">
        <a class="btn btn-default" target="_blank" href="{{url}}.csv">CSV</a>
        <a class="btn btn-default" target="_blank" href="{{url}}.json">JSON</a>
        <a class="btn btn-default" target="_blank" href="{{url}}.ics">iCal</a>
        <a class="btn btn-default" target="_blank" href="{{url}}.pdf">PDF</a>
    </div>

</div>
