<!DOCTYPE html>
<html class="no-js">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1; user-scalable=0;" />
    <meta name="description" content="OER World Map shares information on behalf of the worldwide OER community, using local knowledge to describe the OER ecosystem." />

    <title>{{pageTitle}}</title>

    <link rel="shortcut icon" href="/assets/images/favicon/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/assets/images/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/assets/images/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/assets/images/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/assets/images/favicon/android-chrome-192x192.png" sizes="192x192">
    <meta name="msapplication-square70x70logo" content="/assets/images/favicon/smalltile.png" />
    <meta name="msapplication-square150x150logo" content="/assets/images/favicon/mediumtile.png" />
    <meta name="msapplication-wide310x150logo" content="/assets/images/favicon/widetile.png" />
    <meta name="msapplication-square310x310logo" content="/assets/images/favicon/largetile.png" />

    <link rel="stylesheet" type="text/css" href="/assets/vendor/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/vendor/v3.15.1-dist/ol.css">

    <link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/assets/updates.css">

    <script type="text/javascript" src="/assets/vendor/underscore.js"></script>
    <script type="text/javascript" src="/assets/vendor/jquery.min.js"></script>

    <script>
        var user = {{json user}};
        var permissions = {{json permissions}};
        var user_location = {{json userLocation}};
        var embed = {{json embed}};
    </script>

</head>
<body class="">

<header class="clearfix" id="page-header">

    <div class="visible-print">
        <h1>OER W<i class="fa fa-globe"></i>RLD MAP</h1>
    </div>

    <div class="hidden-print hidden-mobile">

        <nav class="main">
            <ul>
                <li><h1><a href="/" title="Home" {{#if @root.embed}}target="_blank"{{/if}}>OER W<i class="fa fa-globe"></i>RLD MAP</a></h1></li>
                {{#unless @root.embed}}
                <li><a href="/contribute">Contribute</a></li>
                <li><a href="/FAQ">FAQ</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="https://oerworldmap.wordpress.com/" target="_blank">Blog</a></li>
                {{/unless}}
            </ul>
        </nav>

        <nav class="social{{#if @root.embed}} hidden{{/if}}">
            <ul>

                <li><a href="https://www.facebook.com/oerworldmap" title="Facebook" target="_blank"><i class="fa fa-facebook-official"></i></a></li>
                <li><a href="https://twitter.com/oerworldmap" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
            </ul>
        </nav>

        <nav class="user{{#if @root.embed}} hidden{{/if}}">
            <ul>

                {{#if user}}

                    <li class="dropdown">
                        <div class="a" type="button" data-toggle="dropdown" title="{{ username }}">
                            <i class="fa fa-user"></i>
                        </div>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="/resource/{{user.[@id]}}"><i class="fa fa-fw fa-user"></i> My Profile</a></li>
                            <li><a href="/user/password"><i class="fa fa-fw fa-lock"></i> Change Password</a></li>
                            <li><a href="#" data-behaviour="logout"><i class="fa fa-fw fa-sign-out"></i> Logout</a></li>
                        </ul>
                    </li>

                {{else}}

                    <li><a href="/user/register">Login</a></li>

                {{/if}}

            </ul>
        </nav>

        {{#unless user}}

            <h2 class="slogan"><a href="/contribute" {{#if @root.embed}}target="_blank"{{/if}}>Join us in mapping the world of OER!</a></h2>

        {{/unless}}

        <div class="hidden" id="global-statistics">
            <script type="application/ld+json" id="json-aggregations">
                {{json scope.globalAggregation}}
            </script>
            <datalist id="keywords">
            {{#scope.keywordAggregation.[about.keywords].buckets }}
                <option value="{{key}}"></option>
            {{/scope.keywordAggregation.[about.keywords].buckets}}
            </datalist>
        </div>

    </div>

    <div class="visible-mobile">

        <nav class="main-mobile">
            <button data-toggle="dropdown"><i class="fa fa-bars"></i></button>
            <ul class="dropdown-menu">
                <li><a href="/">Map</a></li>
                <li><a href="/contribute">Contribute</a></li>
                <li><a href="/FAQ">FAQ</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="https://oerworldmap.wordpress.com/" target="_blank">Blog</a></li>
                <li><a href="/user/newsletter">Newsletter</a></li>
                <li><a href="https://www.facebook.com/oerworldmap" target="_blank">Facebook</a></li>
                <li><a href="https://twitter.com/oerworldmap" target="_blank">Twitter</a></li>
                <li><a href="/imprint">Imprint & Privacy</a></li>
            </ul>
        </nav>

        <nav class="user-mobile">

            {{#if user}}

                <button data-toggle="dropdown"><i class="fa fa-user"></i></button>
                <ul class="dropdown-menu">
                    <li><a href="/resource/{{user.[@id]}}">My Profile</a></li>
                    <li><a href="/user/password">Change Password</a></li>
                    <li><a href="#" data-behaviour="logout">Logout</a></li>
                </ul>

            {{else}}

                <a class="button" href="/user/register"><i class="fa fa-user"></i></a>

            {{/if}}

        </nav>

    </div>

</header>

<main>
    {{> (lookup . 'template') }}
</main>

<footer id="page-footer" class="container container-static-page color-scheme-text">
    <nav class="inner">
        <ul>
            <li class="hidden-mobile"><a href="/imprint" title="Imprint"{{#if @root.embed}}target="_blank"{{/if}}>Imprint & Privacy</a></li>
        </ul>
    </nav>
</footer>

{{{templates}}}

<script type="text/javascript" src="/assets/vendor/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/vendor/handlebars.min.js"></script>
<!--<script type="text/javascript" src="/assets/vendor/jquery.placeholder.min.js"></script>-->
<script type="text/javascript" src="/assets/vendor/d3.v3.min.js"></script>
<script type="text/javascript" src="/assets/vendor/v4.0.1-dist/ol.js"></script>
<script type="text/javascript" src="/assets/vendor/typeahead.bundle.min.js"></script>
<script type="text/javascript" src="/assets/vendor/page.fork.js"></script>
<script type="text/javascript" src="/assets/vendor/htmldiff.js"></script>
<script type="text/javascript" src="/assets/vendor/loglevel/loglevel.min.js"></script>
<script type="text/javascript" src="/assets/vendor/mapbox-gl-supported.js"></script>
<script type="text/javascript" src="/assets/i18n.js"></script>
<script type="text/javascript" src="/assets/iso3166.js"></script>

<script type="text/javascript" src="/assets/javascripts/helpers.js"></script>
<script type="text/javascript" src="/assets/javascripts/helpers/shared.js"></script>
<script type="text/javascript" src="/assets/javascripts/helpers/client.js"></script>
<script type="text/javascript" src="/assets/javascripts/handlebars.form-helpers.js"></script>
<script type="text/javascript" src="/assets/javascripts/hijax.js"></script>
{{#unless scope.embed}}
    <script type="text/javascript" src="/assets/javascripts/behaviours/app.js"></script>
{{/unless}}
<script type="text/javascript" src="/assets/javascripts/behaviours/filter.js"></script>
<script type="text/javascript" src="/assets/javascripts/behaviours/map.js"></script>
<script type="text/javascript" src="/assets/javascripts/behaviours/other.js"></script>
<script type="text/javascript" src="/assets/javascripts/behaviours/charts.js"></script>
<script type="text/javascript" src="/assets/javascripts/behaviours/resource-log.js"></script>

{{#if embed}}
    <script type="text/javascript" src="/assets/javascripts/behaviours/embed.js"></script>
{{/if}}

<script type="text/javascript" src="/assets/javascripts/behaviours/resource-form-widgets/input.js"></script>
<script type="text/javascript" src="/assets/javascripts/behaviours/resource-form-widgets/localizedInput.js"></script>
<script type="text/javascript" src="/assets/javascripts/behaviours/resource-form-widgets/localizedTextarea.js"></script>
<script type="text/javascript" src="/assets/javascripts/behaviours/resource-form-widgets/resource.js"></script>
<script type="text/javascript" src="/assets/javascripts/behaviours/resource-form-widgets/place.js"></script>
<script type="text/javascript" src="/assets/javascripts/behaviours/resource-form-widgets/availableChannel.js"></script>
<script type="text/javascript" src="/assets/javascripts/behaviours/resource-form-widgets/select.js"></script>

<script type="text/javascript" src="/assets/javascripts/main.js"></script>

{{#if config.piwik.url}}
    <!-- Piwik -->
    <script type="text/javascript">
          var _paq = _paq || [];
          _paq.push(['trackPageView']);
          _paq.push(['enableLinkTracking']);
          (function() {
            var u='{{config.piwik.url}}';
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', {{config.piwik.siteid}}]);
            _paq.push(['setCustomVariable', 1, 'MapboxGL compatible', (mapboxgl.supported() ? 'yes' : 'no'), 'visit']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
          })();
      </script>
    <noscript><p><img src="{{config.piwik.url}}piwik.php?idsite={{config.piwik.siteid}}" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->
{{/if}}

</body>
</html>
