<!-- <p class="text-right">
  <span class="label label-default"><i class="fa fa-users"></i> ORGANISATION</span>
</p> -->

<p>
  <strong>{{#resource.legalName}}{{@value}}{{/resource.legalName}}</strong>
</p>

{{#refBy.first.name.0}}

  <hr />
  
  <div class="pull-right">
    <span class="label label-default"><i class="fa fa-comment"></i> STORY</span>
  </div>
  
  <p>
    Mentioned in:
  </p>
  
  <p>
    <strong>{{@value}}</strong>
  </p>

{{/refBy.first.name.0}}